@import "vendor/bourbon/bourbon";
@import "global/custom_mixins";
// Grid needs to come after the themes grid settings.  

// Uwaterloo core themes. 
// @import "core/grid-settings";

// Uwaterloo fdsu themes. 
// @import "fdsu/grid-settings";

// Turn on visial grid.
$visual-grid: false;
$visual-grid-color: green;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;


@import "vendor/neat/neat";
@import "global/global";

// Everything but grid for each theme.
// @import "core/base";
// @import "fdsu/base";
// @import "rwd/base";
// @import "utm/base";
@import "adm/base";

 

// Responsive modules.
// @import "rwd/responsive";
// @import "utm/utm-responsive";
@import "adm/adm-responsive";
// Uncomment for visual breakpoint hints during your dev.
// @import "global/breakpoint_hint";

