// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 300;
//   src: local("Open Sans Light"), local("OpenSans-Light"), url("https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTZS3E-kSBmtLoNJPDtbj2Pk.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSiYtBUPDK3WL7KRKS_3q7OE.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSpS3E-kSBmtLoNJPDtbj2Pk.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 700;
//   src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzJS3E-kSBmtLoNJPDtbj2Pk.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 800;
//   src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("https://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hpS3E-kSBmtLoNJPDtbj2Pk.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 300;
//   src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxtTIkQYohD4BpHvJ3NvbHoA.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxt6Naowg1QhaIq8kLGtQSos.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 400;
//   src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBiwlidHJgAgmTjOEEzwu1L8.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 600;
//   src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxsiAiQ_a33snTsJhwZvMEaI.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxs1QGe9x6ME_FQCWJB3n6z8.ttf") format("truetype");
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 700;
//   src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxv79_ZuUxCigM2DespTnFaw.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxjdGNerWpg2Hn6A-BxWgZ_I.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 800;
//   src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff") format("woff"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxmPkvcX8kXDzy1NrkNCBkJ4.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxkdJXfhP-2RmnAuS9A2rxpE.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans Condensed';
//   font-style: normal;
//   font-weight: 300;
//   src: local("Open Sans Cond Light"), local("OpenSans-CondLight"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff") format("woff"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xMmDra0ONnO3FPH--kzkC5zr7w4p9aSvGirXi6XmeXNA.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xGtXp_56cyzG87rk01y3A5nr7w4p9aSvGirXi6XmeXNA.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans Condensed Bold';
//   font-style: normal;
//   font-weight: 700;
//   src: local("Open Sans Condensed Bold"), local("OpenSans-CondBold"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff") format("woff"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIgEy7irt_A5K-aDq9kG7DHr7w4p9aSvGirXi6XmeXNA.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xEb5azEPpng8GbF4Y4e4kqzr7w4p9aSvGirXi6XmeXNA.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Open Sans Condensed';
//   font-style: italic;
//   font-weight: 300;
//   src: local("Open Sans Cond Light Italic"), local("OpenSans-CondLightItalic"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/jIXlqT1WKafUSwj6s9AzV6XnXbwdDC8wAz6IIzmCDUP3rGVtsTkPsbDajuO5ueQw.woff") format("woff"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/jIXlqT1WKafUSwj6s9AzVyqWG1TIildrkra2taUxHyR2IY20qb3OO3nusUf_NB58.woff2") format("woff2"), url("https://fonts.gstatic.com/s/opensanscondensed/v10/jIXlqT1WKafUSwj6s9AzV6-Pg0ixc20mZJdRQiuQhCp2IY20qb3OO3nusUf_NB58.ttf") format("truetype");
// }


/*/ Bureau Grotesque /*/

@font-face {
    font-family: 'BureauGrotCond Book';
    src: url('/fonts/Bureau_Grot-Condensed_Book.eot');
    src: url('/fonts/Bureau_Grot-Condensed_Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Condensed_Book.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Condensed_Book.woff') format('woff'),
        url('/fonts/Bureau_Grot-Condensed_Book.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Condensed_Book.svg#Bureau_Grot-Condensed_Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotWide';
    src: url('/fonts/Bureau_Grot-Wide_Light.eot');
    src: url('/fonts/Bureau_Grot-Wide_Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Wide_Light.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Wide_Light.woff') format('woff'),
        url('/fonts/Bureau_Grot-Wide_Light.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Wide_Light.svg#Bureau_Grot-Wide_Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrot Book';
    src: url('/fonts/BureauGrot-Book.eot');
    src: url('/fonts/Bureau_Grot-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Book.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Book.woff') format('woff'),
        url('/fonts/Bureau_Grot-Book.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Book.svg#Bureau_Grot-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotCond';
    src: url('/fonts/BureauGrot-Condensed_Bold.eot');
    src: url('/fonts/Bureau_Grot-Condensed_Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Condensed_Bold.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Condensed_Bold.woff') format('woff'),
        url('/fonts/Bureau_Grot-Condensed_Bold.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Condensed_Bold.svg#Bureau_Grot-Condensed_Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrot';
    src: url('/fonts/BureauGrot-Light.eot');
    src: url('/fonts/Bureau_Grot-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Light.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Light.woff') format('woff'),
        url('/fonts/Bureau_Grot-Light.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Light.svg#Bureau_Grot-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotWide Book';
    src: url('/fonts/BureauGrotWide-Book.eot');
    src: url('/fonts/Bureau_Grot-Wide_Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Wide_Book.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Wide_Book.woff') format('woff'),
        url('/fonts/Bureau_Grot-Wide_Book.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Wide_Book.svg#Bureau_Grot-Wide_Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Complete 1451 */

@font-face {
    font-family: "Typ1451-Regularalternate";
    src:url("/fonts/lineto-typ1451-regularalternate.eot");
    src:url("/fonts/lineto-typ1451-regularalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-regularalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-regularalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Mediumalternate";
    src:url("/fonts/lineto-typ1451-mediumalternate.eot");
    src:url("/fonts/lineto-typ1451-mediumalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-mediumalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-mediumalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Regular";
    src:url("/fonts/lineto-typ1451-regular.eot");
    src:url("/fonts/lineto-typ1451-regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-regular.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Boldalternate";
    src:url("/fonts/lineto-typ1451-boldalternate.eot");
    src:url("/fonts/lineto-typ1451-boldalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-boldalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-boldalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Medium";
    src:url("/fonts/lineto-typ1451-medium.eot");
    src:url("/fonts/lineto-typ1451-medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-medium.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Bold";
    src:url("/fonts/lineto-typ1451-bold.eot");
    src:url("/fonts/lineto-typ1451-bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-bold.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Light";
    src:url("/fonts/lineto-typ1451-light.eot");
    src:url("/fonts/lineto-typ1451-light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-light.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Lightalternate";
    src:url("/fonts/lineto-typ1451-lightalternate.eot");
    src:url("/fonts/lineto-typ1451-lightalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-lightalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-lightalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*icons*/

@font-face {
  font-family: 'fdsu-rwd';
  src: url("../fonts/fdsu-rwd.eot?yngg0");
  src: url("../fonts/fdsu-rwd.eot?yngg0#iefix") format("embedded-opentype"), url("../fonts/fdsu-rwd.ttf?yngg0") format("truetype"), url("../fonts/fdsu-rwd.woff?yngg0") format("woff"), url("../fonts/fdsu-rwd.svg?yngg0#fdsu-rwd") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ifdsu {
  font-family: 'fdsu-rwd';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fdsu-ical:before {
  content: "\e905";
}
.fdsu-chevron:before {
  content: "\e904";
}
.fdsu-si-comm:before {
  content: "\e901";
}
.fdsu-si-comp:before {
  content: "\e921";
}
.fdsu-si-infrastructure:before {
  content: "\e927";
}
.fdsu-si-professionals:before {
  content: "\e928";
}
.fdsu-si-security:before {
  content: "\e929";
}
.fdsu-si-teach:before {
  content: "\e92a";
}
.fdsu-info-2:before {
  content: "\e903";
}
.fdsu-close:before {
  content: "\e900";
}
.fdsu-envelope:before {
  content: "\e0eb";
}
.fdsu-add-to-calendar:before {
  content: "\2605";
}
.fdsu-arrow:before {
  content: "\e906";
}
.fdsu-comment:before {
  content: "\e907";
}
.fdsu-share:before {
  content: "\e908";
}
.fdsu-facebook:before {
  content: "\e909";
}
.fdsu-facebook-box:before {
  content: "\e90a";
}
.fdsu-instagram-box:before {
  content: "\e90b";
}
.fdsu-instagram:before {
  content: "\e90c";
}
.fdsu-linkedin:before {
  content: "\e90d";
}
.fdsu-linkedin-box:before {
  content: "\e90e";
}
.fdsu-twitter:before {
  content: "\e90f";
}
.fdsu-twitter-box:before {
  content: "\e910";
}
.fdsu-youtube-box:before {
  content: "\e911";
}
.fdsu-youtube:before {
  content: "\e912";
}
.fdsu-info:before {
  content: "\e902";
}
.fdsu-bubble:before {
  content: "\e15f";
}
.fdsu-binoculars:before {
  content: "\e1b5";
}
.fdsu-search:before {
  content: "\e1b6";
}
.fdsu-search-2:before {
  content: "\e1b7";
}
.fdsu-search-shade:before {
  content: "\e1bb";
}
.fdsu-arrow-right:before {
  content: "\e3b5";
}
.fdsu-googleplus-box:before {
  content: "\e495";
}
.fdsu-github:before {
  content: "\e4ba";
}
.fdsu-github-box:before {
  content: "\e4bb";
}
.fdsu-yahoo:before {
  content: "\e4c4";
}
.fdsu-tux:before {
  content: "\e4c5";
}
.fdsu-apple:before {
  content: "\e4c6";
}
.fdsu-finder:before {
  content: "\e4c7";
}
.fdsu-android:before {
  content: "\e4c8";
}
.fdsu-windows:before {
  content: "\e4c9";
}
.fdsu-windows8:before {
  content: "\e4ca";
}
.fdsu-skype:before {
  content: "\e4cd";
}
.fdsu-html5:before {
  content: "\e4eb";
}
.fdsu-css3:before {
  content: "\e4ec";
}
.fdsu-chrome:before {
  content: "\e4ed";
}
.fdsu-firefox:before {
  content: "\e4ee";
}
.fdsu-IE:before {
  content: "\e4ef";
}
.fdsu-opera:before {
  content: "\e4f0";
}
.fdsu-safari:before {
  content: "\e4f1";
}
.fdsu-calendar:before {
  content: "\e913";
}
.fdsu-cloud:before {
  content: "\e914";
}
.fdsu-rss-box:before {
  content: "\e916";
}
$fdsu-ical: "\e905";
$fdsu-chevron: "\e904";
$fdsu-si-comm: "\e901";
$fdsu-si-comp: "\e921";
$fdsu-si-infrastructure: "\e927";
$fdsu-si-professionals: "\e928";
$fdsu-si-security: "\e929";
$fdsu-si-teach: "\e92a";
$fdsu-info-2: "\e903";
$fdsu-close: "\e900";
$fdsu-envelope: "\e0eb";
$fdsu-add-to-calendar: "\2605";
$fdsu-arrow: "\e906";
$fdsu-comment: "\e907";
$fdsu-share: "\e908";
$fdsu-facebook: "\e909";
$fdsu-facebook-box: "\e90a";
$fdsu-instagram-box: "\e90b";
$fdsu-instagram: "\e90c";
$fdsu-linkedin: "\e90d";
$fdsu-linkedin-box: "\e90e";
$fdsu-twitter: "\e90f";
$fdsu-twitter-box: "\e910";
$fdsu-youtube-box: "\e911";
$fdsu-youtube: "\e912";
$fdsu-info: "\e902";
$fdsu-bubble: "\e15f";
$fdsu-binoculars: "\e1b5";
$fdsu-search: "\e1b6";
$fdsu-search-2: "\e1b7";
$fdsu-search-shade: "\e1bb";
$fdsu-arrow-right: "\e3b5";
$fdsu-googleplus-box: "\e495";
$fdsu-github: "\e4ba";
$fdsu-github-box: "\e4bb";
$fdsu-yahoo: "\e4c4";
$fdsu-tux: "\e4c5";
$fdsu-apple: "\e4c6";
$fdsu-finder: "\e4c7";
$fdsu-android: "\e4c8";
$fdsu-windows: "\e4c9";
$fdsu-windows8: "\e4ca";
$fdsu-skype: "\e4cd";
$fdsu-html5: "\e4eb";
$fdsu-css3: "\e4ec";
$fdsu-chrome: "\e4ed";
$fdsu-firefox: "\e4ee";
$fdsu-IE: "\e4ef";
$fdsu-opera: "\e4f0";
$fdsu-safari: "\e4f1";
$fdsu-calendar: "\e913";
$fdsu-cloud: "\e914";
$fdsu-rss-box: "\e916";



