.uw-site-flex {
  min-height: 10.625rem;
  padding:1rem;
  @include media($large-screen) {
     padding: 1rem 0 0 0;
  }
  margin-bottom: 1rem;
  clear: both;
  ul {
    padding: 1rem 0 1rem 0;
    list-style-type: none;
    margin-left: 0;
  }
  @include media($xsmall-screen) {
    @include align-items(start);
    // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row);
   // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);
    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);
    // start|end|center|justify
    @include box-lines(multiple);
    // single|multiple
    width: 100%;
  }
}
.block-uw-nav-global-footer {
  -webkit-font-smoothing: antialiased;
  a {
    color: $white;
    // display:block;
  }
  @include flex(1);
  @include media($medium-screen) {
    // @include flex(1 0 50%);
  }
}
.footer-1 {
  @include flex(1 0 100%);
    text-align: center;
    @include media($xsmall-screen) {
    @include  order(1);// integer
  
    }

   @include media($medium-screen) {
    margin-top: 2rem;
      div {
       text-align: left;
      }
       @include flex(1 0  4rem);
       html.ie10 &{
       	  @include flex(1);
       }
    }
    @include media($large-screen) {
      div {
       text-align: left;
      }
      @include flex(1);
    }
  }
 .footer-2 {
    margin-top:1rem;
    @include flex(1 0 100%);
    @include  order(2);// integer
    @include media($xsmall-screen) {
       @include flex(1 0 50%);
    }
    @include media($medium-screen){
    // margin-top:2.5rem;
      @include flex(2);
      padding-left:1rem;
    }
     @include media($large-screen){
  
      @include flex(2);
    }
  ul {
    @include align-items(start);
    // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row);
    // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);
    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);
    // start|end|center|justify
    @include box-lines(multiple);
    // single|multiple
    margin:0;
        @include media($xsmall-screen) {
         // @include flex(2 0 50%);
        }
        @include media($medium-screen) {
         // @include flex(2 0 50%);
        }
      li {
        border-color:darken($uw-gray, 20%);
        border-style:solid;
        text-align:center;
          @include flex(1 0 50%);
    	     html.ie10 & {  
    		      @include flex(1 0 49%);
    	   }
          &:nth-child(1){
              border-width:1px  0 0 1px;
          }
          &:nth-child(2){
              @include order(2);             
            border-width:1px  0 0 1px;
           }
          &:nth-child(3){
              @include order(3);  
            border-width:1px  0 0 1px;
          }
          &:nth-child(4){
              @include order(4);  
            border-width:1px  0 0 1px;
          }
          &:nth-child(5){
              @include order(5);   
              border-width:1px  1px 1px 1px;
          }
          &:nth-child(6){
              @include order(1); 
              border-width:1px  1px 0 1px;
          }
          &:nth-child(7){
              @include order(2); 
               border-width:1px  1px 0 1px;
          }
          &:nth-child(8){
              @include order(3); 
               border-width:1px  1px 0 1px;
          }
          &:nth-child(9){
              @include order(4); 
               border-width:1px  1px 0 1px;
          }
        @include media($xsmall-screen) {
           padding-left:1rem;
      	   @include flex(1 0 50%);
           html.ie10 & {  
        	   	padding-left:0;
          		border:0 solid transparent;
		         @include flex(1 0 49%);
	           }
	           text-align:left;
         
            &:nth-child(1){
              @include order(1);  
              border-width:0 1px 0 0;
              padding-left:0;
            }
            &:nth-child(2){
                @include order(2); 
               border-width:0 1px 0 0;
                 padding-left:0;
            }
            &:nth-child(3){
                @include order(3);
                  padding-left:0;
               border-width:0 1px 0 0;
            }
            &:nth-child(4){
                @include order(4);
                padding-left:0;
               border-width:0 1px 0 0;
            }
            &:nth-child(5){
                @include order(5);
                  padding-left:0;
                border-width:0 0 0 0;
            }
            &:nth-child(6){
              
                @include order(1);
              border-width:0 1px 0 0 ;
            }
            &:nth-child(7){
             
                @include order(2);
              border-width:0 1px 0 0 ;
            }
            &:nth-child(8){
              
                @include order(3);
              border-width:0 1px 0 0 ;
            }
            &:nth-child(9){

                @include order(4);
              border-width:0 1px 0 0 ;
            }
        }
         @include media($small-screen) {
	 @include flex(1 0 50%)
	   html.ie10 & { 
	    @include flex(1 0 48%) 
	   	padding-left:0.2rem;
		border:0 solid transparent;
	   }
        } 
        @include media($medium-screen) {
           @include flex(1 0 33%);
        	   html.ie10 & {  
        	   	padding-left:0rem !important;
        		  border:0 solid transparent !important;
        		  @include flex(1 0 32%);
        	   }
            &:nth-child(1){
              @include order(1);  
              padding-left:1rem;
             border-width:0 0 0 1px;
            }
            &:nth-child(2){
                padding-left:1rem;
                @include order(2); 
                 border-width: 0 1px;
            }
            &:nth-child(3){
                padding-left:1rem;
                @include order(3);
              border-width:0 0 0 1px;
            }
            &:nth-child(4){
                padding-left:1rem;
                @include order(4);
               border-width:0 0 0 1px;
            }
            &:nth-child(5){
                padding-left:1rem;
                @include order(5);
              border-width:0 0 0 1px;
            }
            &:nth-child(6){
                @include order(1);
              border-width:0 0 0 1px;
            }
            &:nth-child(7){
                @include order(2);
                   border-width: 0 0 0 1px;
            }
            &:nth-child(8){
                @include order(3);
              border-width:0  1px;
            }
            &:nth-child(9){
                @include order(4);
                 border-width: 0 0 0 1px
            }
        } 
        @include media($large-screen) {
            @include flex(1 0 33%);
            html.ie10 & {  
            padding-left:0rem;
            border:0 solid transparent;
            }
            &:nth-child(1){
	           @include order(1)
              border-width:0 0 0 1px;
            }
            &:nth-child(2){
                @include order(2);
              border-width:0 0 0 1px;
            }
            &:nth-child(3){
                @include order(3);
              border-width:0 0 0 1px;
                
            }
            &:nth-child(4){
                @include order(1);
              border-width:0 0 0 1px;
            }
            &:nth-child(5){
                @include order(2);
              border-width:0 0 0 1px;
            }
            &:nth-child(6){
                @include order(3);
              border-width:0 0 0 1px;
              
            }
            &:nth-child(7){
                @include order(1);
              border-width:0  1px;
            }
            &:nth-child(8){
                @include order(2);
              border-width:0  1px;
            }
            &:nth-child(9){
                @include order(3);
              border-width:0  1px;
            }
        }
      }
    }
  }
.footer-3 { 
  @include  order(3);// integer
  margin-top:1rem;
   @include flex(1);
  @include media($xsmall-screen) {
    @include flex(1 0 50%);
  }
  @include media($small-screen) {
    @include flex(1 0 50%);
  }
  @include media($medium-screen) {
    @include flex(1);
    padding-left: 1.5rem;
  }
  .uw-footer-social-directory{
    text-align: center;
    @include media($small-screen) {
    .uw-footer-social-directory{
      text-align: center;
      }
     }
     @include  media($medium-screen){
      text-align:right;
    }
  }

  ul {
     @include align-items(start); // start|end|center|baseline|stretch
        @include display(flex);
        @include flex-direction(row); // row | row-reverse | column | column-reverse
        @include justify-content(flex-start);
        @include  flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
        @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
        @include box-pack(start);// start|end|center|justify
        @include box-lines(multiple);// single|multiple
          
      width:100%;
      max-width:80%;
      text-align:center;
      margin:0 auto;
      @include media(rem(350)) {
       max-width:65%;
      
      }
      @include media(rem(400)) {

       max-width:55%;
      
      }
      @include media($xsmall-screen) {
        max-width:90%;
      
      }
     @include media($xsmall-screen) {
        max-width:90%;
      
      }
      @include media($small-screen) {
        max-width:65%;
       
      }
     @include media($medium-screen) {
      max-width:100%;
      text-align:right;
      }
      @include media($large-screen) {
      max-width:100%;
      margin:0 auto;
      }
    li { 
       @include flex(1);
    }
   &.uw-footer-social {
      li{
        a { color:$white;
          text-decoration:none;
          i{
            border-radius: $base-border-radius;
            color: #000;
            background-color: $white;
            font-size: modular-scale(6);
            padding:0.2rem;
            @include media($xsmall-screen) {
               font-size: modular-scale(5);
                padding:0.15rem;
            }
             @include media($small-screen) {
               font-size: modular-scale(5);
                padding:0.15rem;
            }
            @include media($medium-screen) {
               font-size: modular-scale(4);
                padding:0.2rem;
            }
             @include media($large-screen) {
               font-size: modular-scale(6);
                 padding:0.2rem;
            }
            @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
          }
          &:hover,
          &:focus {
            i{
                color: $yellow-dark;
                background-color: #000;
                @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
              }
            text-decoration: none;
          }
        }
      }
    }
  }
  .uw-footer-social-media .uw-footer-social-directory {
    a {
      color: $white;
      // font-weight: $weight-bold;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
        color: $yellow-dark;
      }
    }
  }
  #cas_login {
    margin-top: 1rem;
    text-align: center;
    @include media($medium-screen) {
      text-align: right;
    }
    a {
      color: $white;
      font-size: modular-scale(-1);
      font-family: $condensed-font-family;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $yellow-dark;
      }
    }
   
  }
  .uw-footer-button{
   
  }


// #uw-footer a {color: #fff; text-decoration: none;}
// #uw-footer a:hover {text-decoration: underline;}

// #uw-footer-address a:hover {text-decoration: none;}
// #uw-footer-address span[property="v:postal-code"] { white-space: nowrap; }

// #uw-footer .global-menu {list-style: none;}
// #uw-footer .global-menu li {padding: 0; margin: 0;}
// #uw-footer .global-menu li:before {content: '\00bb  '; color: #da1;}

// #uw-footer .social-media li:before {content: '';}
// #uw-footer .social-media li a {
 
// }
// @media only screen and (-webkit-min-device-pixel-ratio: 2){
//  #uw-footer .social-media li a {
   
//     }
//   } 
// @media only screen and (min-resolution: 2dppx) {
//   #uw-footer .social-media li a {
     
//   }
}


