.service-links{
img {
  display:none;
  }
}
#block-uw-social-media-sharing-social-media-block{
 
  .js & {
    display:none;
  }
  .uw-section-share &{
    display:block;
  }
  img{
    display: none;
  }
  
}
.share-buttons{

}
.uw-section-share {
  padding-top:1rem;
  display:none;
  
  // background:rgba(0,0,0,0.02);
 ul.share-buttons{
  margin:0rem auto 1rem auto;
  text-align:center;
  list-style-type: none;
  padding-left:0;
  li{
     display:inline-block; 

      a { 
          display:inline-block;
          height:2.5rem;
          width:2.5rem;
          font-size: modular-scale(5);
          text-decoration:none;
          &:before{
            font-family:$fdsu-icon-font;
            border-radius: $base-border-radius;
            color:$white;
            font-size: modular-scale(5);
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding:0.3rem;
            @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 
            }
             &:hover{
              &:before{
               color:$white;
                @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color));
              }
            }
        }
      &:nth-child(1){
        a { 
          &:before{
              content: $fdsu-facebook;    
            }
        }
      }
      &:nth-child(2){
         a { 
          &:before{
              content: $fdsu-twitter;    
            }
        }
      }
      &:nth-child(3){
        a { 
          &:before{
              content: $fdsu-googleplus-box;    
            }
        }
      }
      &:nth-child(4){
       a { 
           &:before{
              content: $fdsu-linkedin;    
            }
        }
      }
      &:nth-child(5){
        a { 
          &:before{
              content: $fdsu-envelope;    
            }
        }
      }
    }
  }
}  
.uw-site-share{
  &-top{//ul
    list-style-type: none;
    border-top:solid 1px $white;
    border-bottom:solid 1px $white;
    padding:0;
    margin:0;
    width:100%;
    float:left;
    li{

       margin-top:0;
       margin-bottom:0;
      &:hover{
        background:$dark-gray;
        margin-top:0;
        margin-bottom:0;
      }
      a{
         padding-top:0.5rem;
        display:block;
        position:relative;
        text-decoration:none;
        // font-weight: $weight-bold;
        font-family: $condensed-font-family;
        width:100%;
        span{
        
          display:block;
          font-size:modular-scale(-1);

          text-transform:uppercase;
            padding-top:1.25rem;
            padding-bottom:0.65rem;
          }
        i{
          &:before{
            position:absolute;
            height:1rem;
            font-size:modular-scale(0);
          }     
        }
        &:hover{
          color:$white;
        }
      } 
    }
  }
  &--button{//li 's
    &__top{
      border-right:solid 1px $white;
      text-align:right;
      width:50%;
      float:left;
      a{
        padding-right:1rem;
      }
     i{
      &:before{
          position:absolute;
          right:1rem;
          padding-right:0.5rem;
          padding-bottom:0;
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }    
      }
    }
    &__share{
      &.disabled{}
        text-align:left;
        padding-left:0;
        width:50%;
        float:left;
       a{ padding-left:1rem;
          padding-right:0;
      }
       i{
        &:before{
          padding-left:0.7rem;
          padding-top:0.2rem;
          height:1rem;
          }
   
        }
    }
  }
}