.view-uw-news-item-pages-responsive   {
     img[typeof="foaf:Image"]{
           float:left;
           padding-right:1rem;
        }
          .view-content{
             .views-row{
              @extend %ct_box;   
              @include media($xsmall-screen) {
                @include span-columns(12 of 12);
              }
              @include media($small-screen) {
                 @include span-columns(6 of 12);
                  &-first{
                      @include span-columns(12 of 12);
                    min-height:inherit;
                 }
              }
              @include media($medium-screen) {
                &-first{
                  @include span-columns(9 of 9);
                min-height:inherit;
              }
                @include span-columns(9 of 9);
              }
              @include media($large-screen) {
                @include span-columns(4.5 of 9);
                &-first{
                  @include span-columns(12 of 12);
                  min-height:inherit;
                }
              }
              &-first{
        
                min-height:inherit;
              }
              &-even{
               
              }
              &-odd{
                @include omega();
                &.views-row-last{
                      margin-right:inherit;
                }
              }
              &-last{
                 // @include omega-reset(1n);
              }
            }
         }

      }
      .date-display-single{
          color:$gray;
          @include fontdpi();
      }
      .field-name-field-news-date{
            margin-bottom: 0.5rem;
            background-color: #EEEEEE;
            padding: 0.75rem 0.5rem;
            margin-bottom: 0.5rem;
      }
       .home-listing-block-date {
             text-transform:uppercase;
             display:block;

            }