// Content areas for single page content types.
// Copy Block rules.
.paragraphs-item-copy-block{
    @include outer-container(100%);
    padding:0 0 2.3rem 0;
}
.field-name-field-sph-copy{
    @include media($xsmall-screen){
    }
    @include media($small-screen){}
    @include media($medium-screen){}  
    @include media($large-screen){}
}
.paragraphs-items-field-sph-blocks-full{ 
   @include outer-container(100%);
   padding:0 0 2.3rem 0;
} 
.paragraphs-item-sph-marketing-block{
    @include outer-container(100%);
       
  }
.marketing-item-wrap{
  position:relative;
  background-size:cover;
  position:relative;
  z-index:map-get($zindex, content);
  &:before{
    z-index:map-get($zindex, header);
    content:'';
    width:100%;
    height:100%;
    bottom:0;
    right:0;
    left:0;
    top:0;
    position:absolute;
    background-color:rgba(0,0,0,0.4);
  }
  padding: 6rem 0rem;
  @include media($xsmall-screen){
    padding: 6rem 0rem
  }
  @include media($small-screen){
    padding: 8rem 0rem
  }
  @include media($medium-screen){
      padding: 6rem 0rem;
  }  
  @include media($large-screen){
     padding: 10rem 0rem;
  }
}
.marketing-item{
  z-index:map-get($zindex, overlay);
  position:relative;
  @include outer-container();
  padding: 1rem;
  .button,
   button{
    max-width:inherit;
    width:auto;
    white-space:inherit;
    text-decoration:none;

   }
  blockquote{
    padding:0;
    margin:0;
  }
}

// Events
.paragraphs-item-sph-remote-events-block{
    @include outer-container(100%);
    padding:0 0 2.3rem 0;
  }
.paragraphs-items-field-events-full{
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include align-content(stretch); // start|end|center|baseline|stretch
    @include align-items(stretch); 
    @include box-orient(horizontal);
    @include box-pack(start);
    @include box-lines(multiple);
    width:100%;
    .single-event{
      @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 
      @extend %ct_box;
      border:solid 1px $neutral;
      @include flex(1 0 auto);
     @include media($small-screen){
      @include flex(1 0 48%);
      }
      @include media($medium-screen){
      @include flex(1 0 30%);

     }
     img{width:100%}
      img[alt="<--break->"]{
        height:0px;
      }
      margin:0.25rem; 
      &:hover{
      background-color:$lighter-gray;
      @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 
      }
    }
    a{
    // margin:0.25rem;
    display:block;
   // order:0;
    width:100%;
    &:link,
    &:active,
    &:visited{
      // text-decoration:none;
    }
    &:hover{
      .date{text-decoration:none;}
      .info{text-decoration:none;}
      h3{text-decoration:underline;}
      
      // border-color:$uw-gray;
    }
    @include media($xsmall-screen){
    

    }
    @include media($small-screen){
    // width: 48%;
    }
    @include media($medium-screen){
    // width: 32%;
    }
    @include media($large-screen){
    // width: 32%;

    }

  }
    ul.primary{
    margin:1rem 0 0 0; 
    border-color:#bbb;

  }
  .types{
   @include flex(0 1 auto);
    // align-self: start;
    padding:0rem 1rem 1rem 1rem;
    min-height:4rem;
    @include media($medium-screen){
    // padding:1rem;
   
 }

  }

}
.single-event-info{
  min-height:18rem;
  @include flex(0 1 auto);
  padding:1rem 1rem 0 1rem;
  @include media($medium-screen){
   padding:1rem;
 }
  .field-name-field-event-title{

  }
}

.single-event{
  text-align:left;
  @include fill-parent();
  @include display(flex);
  @include flex-direction(column); // row | row-reverse | column | column-reverse
  @include justify-content(space-between);
  @include align-content(flex-start); // start|end|center|baseline|stretch

}








// Quick links 
.paragraphs-items-field-sph-quicklink{}
.paragraphs-items-field-sph-quicklink-full{
    @include align-items(flex-end); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(space-between);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);// start|end|center|justify
    @include box-lines(multiple);// single|multiple  
    width:100%;
    padding:0 0 2.3rem 0;
}
#quick-link-menu { 
  margin:0;
  padding:0;
  line-height: 1.5;
  a{
    font-weight: 400;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}
.quick-link{
  padding:1.5rem 0;
  position:relative;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: inherit;
  margin:0 auto;
  @include flex(0 0 100%);
  &:first-child{
     border-top: none;
  }
  @include media($xsmall-screen){
     &:first-child{
       padding-right: 1rem;
     }
      // @include flex(1 0 48%);
    }
    @include media($small-screen){
      @include flex(1 0 48%);
    }
    @include media($medium-screen){
      @include flex(0 0 31%);
      border-top: none;
    }
    @include media($large-screen){
      @include flex(0 0 31%);
    }
  img {
    width:5.625rem;
    height: auto;
    position: relative;
    top: 0.825rem;
  }
}

.paragraphs-items-field-events-full a {
  color: #252525;
  display: inline;
  margin: 0;
  width: 100;
  border: none;
}