// Content areas for single page content types.
// Copy Block rules.
.pathway-flex{
  width:100%;
  display:block;
  .has_image &{
    padding-bottom:1.25rem;
  }
}

.paragraphs-items-field-sph-options-full{
    @include align-items(stretch); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(space-between);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);// start|end|center|justify
    @include box-lines(multiple);// single|multiple  
    width:100%;
}
.paragraphs-item-uw-para-options-blocks{
  @include outer-container(100%);
  padding:0 0 2.3rem 0;
  .field-type-paragraphs{
    @extend %ct_box;
    min-height:14.8rem;
    margin:0.125rem;
   .pathway{
        height:100%;
     a{
      width:100%;
      display:block; height:100%;
      padding-top:1.25rem;
        &:hover{
          background-color:$light-gray;
        }
        h3{
        margin:0rem 1.625rem 0.425rem 1.625rem;
        }
        p{
        margin: 0.425rem 1.625rem;
        }
      }
      &.has_image {
        border:none;
        background-position: 50% 50%;
        background-size:cover;   
        a{
        width:100%;
        display:inherit;
        @include align-items(flex-end); // start|end|center|baseline|stretch
        @include display(flex);
        @include flex-direction(row); // row | row-reverse | column | column-reverse
        @include justify-content(flex-center);
        @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
        @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
        @include box-pack(end);// start|end|center|justify
        @include box-lines(single);// single|multiple   
        height:20rem;

        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

        &:hover{
          background:inherit;
        }
      }
      }
   

    }
    @include media($xsmall-screen){
      @include flex(1 0 48%);
    }
    @include media($small-screen){
      @include flex(1 0 48%);
    }
    @include media($medium-screen){
      .pathway{
        &:first-child{
        // padding-right: 2.5rem;
         &.has_image {
            padding-right:0;
            padding-bottom:0rem;
          }
         }
      }
      &:first-child{
      padding-right: 0;
     }
      @include flex(1 0 31%);
      &.has_image {
         @include flex(1 0 31%);
      }
    }
    @include media($large-screen){
      &.has_image {
        @include flex(1 0 31%);
      }
      @include flex(1 0 31%);
    }
  }

}
