// Program search module
#uw-program-search-program-search-form--2{
width:100%; 
}


.uw-search_options{
    @include align-items(baseline); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(center);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(block-axis);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(center);// start|end|center|justify
    @include box-lines(multiple);// single|multiple  
    width:100%;
    margin-bottom:1rem;
  .form-checkbox{
    &[type=checkbox]{
      width:1rem;
      margin-top:inherit;
      margin-right:0.5rem;
      padding-top:0.2rem;
      display:inherit;
      float:inherit;
     &#edit-grad--2{
        margin-left:1rem;
      }
     @include media($xsmall-screen) {
      &#edit-grad--2{
        margin-left:2rem;
      }
    }    
    }
   }
  .option{
    text-align:left;
    margin-right:0.5rem;
    }
    @include media($large-screen) {
    }
  }

  .uw-search_action{
    @include fill-parent();

    @include media($small-screen) {
      margin:0 auto;
    }
    @include media($medium-screen) {
      width:80%;
    }
    .form-text{
      &[type=text]{
        float:left;
        height:3.5rem;
        border-top-left-radius:inherit;
        border-bottom-left-radius:inherit;
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        width:inherit;
        max-width:inherit;
        text-align:center;

        @include media($small-screen) {
           width:70%;
            
        }

        @include media($medium-screen) {
            
            margin-bottom:0;
        }
      }
    }
    .form-submit{
      &[type=submit]{
        display:inherit;
        width:inherit;
        min-width:auto;
        margin:inherit;
        max-width:inherit;
        text-align:center;
        float:left;  
        @include media($small-screen) {
            width:30%;
         }
      }
    }
  }
.fixed-header {
    position:fixed;
    background:#fff;
    top:0;
}
#program-search-results{
  .column{
    margin: 1rem 0 0 0 ;
    &:first-of-type{
        margin-right:2.33%;
    }
    padding: 0 0 0 0;
    display: inline-block;
    float: left;
    @include fill-parent();
     @include media($medium-screen) {
        width:47%;
    }
  }
  .results{
    list-style-type:none;
    margin: 0 0 0 0;
    padding:0;
  }
  .result{
    margin: 0 0 0 0;
    text-align: left;
    border-bottom: 1px solid #a2a2a2;
    a{
        &:link,
        &:visited,
        &:active{
            text-decoration:none;
            display:inline-block;
            line-height: 1.5;
            padding:0.8rem 0.25rem;     
        }
        &:hover,
        &:focus{
              text-decoration:underline;
        }
    }
    }
        
    .tag-container{
      display: inline-block;
      margin-left: 8px;
      padding:0;
      list-style-type:none;
      li{
        display:inline-block;
      }
    .tag{
      background-color: $uw-gray;
      text-align:center;
    
      color:#fff;
      text-transform: uppercase;
      text-decoration: none;
        &:hover{
          text-decoration: none;
          color:$uw-gray;
          background:$neutral;
    }
        }
    }
  
}