.node-uw-ct-single-page-home {
  .field-name-body {
    width: 100%;
    max-width: 63.125rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .expandable-controls{
      width:100%;
      margin-bottom:1rem;
      button{
        max-width:50%;

        &.expand-all{
        margin-right: 0;
         border-right: 1px solid lighten($uw-gray, 40%);
        }
      }
    }
    .expandable {
      clear:both;
      margin-bottom: 1rem;
      ul,ol{
            overflow:hidden;
            max-width:40rem;
            display:table;
            margin:0 auto;
          }
        p{
          float:inherit;
          margin:inherit;
          width :inherit;
        }
        h2{

          font-size:inherit;
          padding:inherit;
          display: inherit;
          align-items: inherit;
          color: inherit;
          line-height: inherit;
          text-align:inherit;
          padding: inherit;
          position: relative;
          border-bottom-style: none;
          font-weight: inherit;
          clear: inherit;
          // &:before,
          // &:after {
          //   display:inherit;
          //   content:inherit;
          //   flex-grow: inherit;
          //   height:inherit;
          //   background:inherit;
          //   min-width:inherit;
          // }
          // &:before {
          // margin-right: inherit;
          // }
          // &:after {
          //   margin-left:inherit;
          // }
          &:first-child {
            button{
             white-space:inherit;
             padding:1rem 2rem;
            }
          }             
        }
        .expandable-content{
          padding:1rem;
          margin-bottom: .75rem;
          min-height:inherit;
          blockquote{
            margin:0 auto;
          }
          h2 {
          font-size: modular-scale(4);
          padding: 2.3rem 0;
          h2,h3,h4,h5,h6{
            clear:both;
          }
          // &:before,
          // &:after {
          //   display:block;
          //   content: '';
          //   flex-grow: 1;
          //   height: 1.8px;
          //   background: #eee;
          //   min-width: 0.2rem;
          //   &:before {
          //   margin-right: 0.5rem;
          //   }

          //   &:after {
          //     margin-left: 0.5rem;
          //   }
          // }
          @include media($small-screen) {
            font-size: modular-scale(5);
            padding: 2.3rem 0;
            // &:before,
            // &:after {
            //   content: '';
            //   flex-grow: 1;
            //   height: 1.8px;
            //   background: #eee;
            //   min-width: 1rem;
            // }
        
            // &:before {
            //   margin-right: 0.8rem;
            // }

            // &:after {
            //   margin-left: 0.8rem;
            // }
          }
          @include media($medium-screen) {
            font-size: modular-scale(7);
            padding: 2.3rem 0;
            &:before,
            &:after {
              content: '';
              flex-grow: 1;
              height: 2px;
              background: #eee;
              min-width: 1rem;
            }
        
            &:before {
              margin-right: 2rem;
            }

            &:after {
              margin-left: 2rem;
            }
          }
            @include media($large-screen) {
            padding: 2.3rem 0;
            // &:before,
            // &:after {
            //   content: '';
            //   flex-grow: 1;
            //   height: 2px;
            //   background: #eee;
            //   min-width: 1rem;
            // }
      
            // &:before {
            //   margin-right: 2rem;
            // }

            // &:after {
            //   margin-left: 2rem;
            // }
          }
          // display: flex;
          align-items: center;
          color: #5E5E5E;
          line-height: 135%;
          text-align: center;
          padding: 0 .5rem;
          position: relative;
          border-bottom-style: none;
           font-family:$base-font-family;      
          clear: both;
        }
      }
      &.expanded{
        h2 {
          button{
            &:after {
              color: $gray;
              -webkit-font-smoothing: antialiased;
              -webkit-transform: scale(1, -1) rotate(90deg);
              -ms-transform: scale(1, -1) rotate(90deg);
              transform: scale(1, -1) rotate(90deg);
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
            }
          }
        }
      }
    }
    h2 {
      font-size: modular-scale(4);
      padding: 2.3rem 0;
      // &:before,
      // &:after {
      //   display:block;
      //   content: '';
      //   flex-grow: 1;
      //   height: 1.8px;
      //   background: #eee;
      //   min-width: 0.2rem;
      //   &:before {
      //   margin-right: 0.5rem;
      //   }

      //   &:after {
      //     margin-left: 0.5rem;
      //   }
      // }
      @include media($small-screen) {
      font-size: modular-scale(5);
        padding: 2.3rem 0;
        // &:before,
        // &:after {
        //   content: '';
        //   flex-grow: 1;
        //   height: 1.8px;
        //   background: #eee;
        //   min-width: 1rem;
        // }
	  
        // &:before {
        //   margin-right: 0.8rem;
        // }

        // &:after {
        //   margin-left: 0.8rem;
        // }
      }
      @include media($medium-screen) {
        font-size: modular-scale(7);
        padding: 2.3rem 0;
        // &:before,
        // &:after {
        //   content: '';
        //   flex-grow: 1;
        //   height: 2px;
        //   background: #eee;
        //   min-width: 1rem;
        // }
        // &:before {
        //   margin-right: 2rem;
        // }
        // &:after {
        //   margin-left: 2rem;
        // }
      }
      @include media($large-screen) {
        padding: 2.3rem 0;
        // &:before,
        // &:after {
        //   content: '';
        //   flex-grow: 1;
        //   height: 2px;
        //   background: #eee;
        //   min-width: 1rem;
        // }
	
        // &:before {
        //   margin-right: 2rem;
        // }

        // &:after {
        //   margin-left: 2rem;
        // }
      }
	  
      // display: flex;
      align-items: center;
      color: #5E5E5E;
      line-height: 135%;
      text-align: center;
      padding: 0 .5rem;
      // margin: 0;
      position: relative;
      border-bottom-style: none;
       font-family:$base-font-family;      
      clear: both;
    }
    
  }
  
  .field-name-field-sph-copy {
    max-width: 63.125rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .expandable-controls{
      width:100%;
      margin-bottom:1rem;
      button{
        max-width:50%;

        &.expand-all{
        margin-right: 0;
         border-right: 1px solid lighten($uw-gray, 40%);
        }
      }
    }
    .expandable {
      clear:both;
      margin-bottom: 1rem;
      ul,ol{
            overflow:hidden;
            max-width:40rem;
            display:table;
            margin:0 auto;
          }
        p{
          float:inherit;
          margin:inherit;
          width :inherit;
        }
        h2{
          button{
            max-width:inherit;
          }
          font-size:inherit;
          padding:inherit;
          display: inherit;
          align-items: inherit;
          color: inherit;
          line-height: inherit;
          text-align:inherit;
          padding: inherit;
          position: relative;
          border-bottom-style: none;
          font-weight: inherit;
          clear: inherit;
          // &:before,
          // &:after {
          //   display:inherit;
          //   content:inherit;
          //   flex-grow: inherit;
          //   height:inherit;
          //   background:inherit;
          //   min-width:inherit;
          // }
          // &:before {
          // margin-right: inherit;
          // }
          // &:after {
          //   margin-left:inherit;
          // }
          &:first-child {
            button{
             white-space:inherit;
             padding:1rem 2rem;
            }
          }             
        }
        .expandable-content{
          padding:1rem;
          margin-bottom: .75rem;
          min-height:inherit;
          blockquote{
            margin:0 auto;
          }
          h2 {
         font-size: modular-scale(4);
          padding: 2.3rem 0;
          h2,h3,h4,h5,h6{
            clear:both;
          }
          // &:before,
          // &:after {
          //   display:block;
          //   content: '';
          //   flex-grow: 1;
          //   height: 1.8px;
          //   background: #eee;
          //   min-width: 0.2rem;
          //   &:before {
          //   margin-right: 0.5rem;
          //   }

          //   &:after {
          //     margin-left: 0.5rem;
          //   }
          // }
          @include media($small-screen) {
            font-size: modular-scale(5);
            padding: 2.3rem 0;
            // &:before,
            // &:after {
            //   content: '';
            //   flex-grow: 1;
            //   height: 1.8px;
            //   background: #eee;
            //   min-width: 1rem;
            // }
        
            // &:before {
            //   margin-right: 0.8rem;
            // }

            // &:after {
            //   margin-left: 0.8rem;
            // }
          }
          @include media($medium-screen) {
           font-size: modular-scale(7);
            padding: 2.3rem 0;
            // &:before,
            // &:after {
            //   content: '';
            //   flex-grow: 1;
            //   height: 2px;
            //   background: #eee;
            //   min-width: 1rem;
            // }
        
            // &:before {
            //   margin-right: 2rem;
            // }

            // &:after {
            //   margin-left: 2rem;
            // }
          }
            @include media($large-screen) {
            
            padding: 2.3rem 0;
            // &:before,
            // &:after {
            //   content: '';
            //   flex-grow: 1;
            //   height: 2px;
            //   background: #eee;
            //   min-width: 1rem;
            // }
      
            // &:before {
            //   margin-right: 2rem;
            // }

            // &:after {
            //   margin-left: 2rem;
            // }
          }
          // display: flex;
          align-items: center;
          color: #5E5E5E;
          line-height: 135%;
          text-align: center;
          padding: 0 .5rem;
          position: relative;
          border-bottom-style: none;
           font-family:$base-font-family;      
          clear: both;
        }
      }
      &.expanded{
        h2 {
          button{
            &:after {
              color: $gray;
              -webkit-font-smoothing: antialiased;
              -webkit-transform: scale(1, -1) rotate(90deg);
              -ms-transform: scale(1, -1) rotate(90deg);
              transform: scale(1, -1) rotate(90deg);
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
            }
          }
        }
      }
    }
    h2 {
      padding: 2.3rem 0;
       font-size: modular-scale(4);
        // &:before,
        // &:after {
        //   display:block;
        //   content: '';
        //   flex-grow: 1;
        //   height: 1.8px;
        //   background: #eee;
        //   min-width: 0.2rem;
        // }
    
        // &:before {
        //   margin-right: 0.5rem;
        // }

        // &:after {
        //   margin-left: 0.5rem;
        // }
      @include media($xsmall-screen) {
       
        
      }

      @include media($small-screen) {
       font-size: modular-scale(5);
        padding: 2.3rem 0;
        // &:before,
        // &:after {
        //   content: '';
        //   flex-grow: 1;
        //   height: 1.8px;
        //   background: #eee;
        //   min-width: 1rem;
        // }
	  
        // &:before {
        //   margin-right: 0.8rem;
        // }

        // &:after {
        //   margin-left: 0.8rem;
        // }
      }
	
      @include media($medium-screen) {
      font-size: modular-scale(7);
        padding: 2.3rem 0;
        // &:before,
        // &:after {
        //   content: '';
        //   flex-grow: 1;
        //   height: 2px;
        //   background: #eee;
        //   min-width: 1rem;
        // }
	  
        // &:before {
        //   margin-right: 2rem;
        // }

        // &:after {
        //   margin-left: 2rem;
        // }
      }
    
      @include media($large-screen) {
        padding: 2.3rem 0;
        // &:before,
        // &:after {
        //   content: '';
        //   flex-grow: 1;
        //   height: 2px;
        //   background: #eee;
        //   min-width: 1rem;
        // }
	
        &:before {
          margin-right: 2rem;
        }

        &:after {
          margin-left: 2rem;
        }
      }
	  
      // display: flex;
      align-items: center;
      color: #5E5E5E;
      line-height: 135%;
      text-align: center;
      padding: 0 .5rem;
      margin: 0;
      position: relative;
      border-bottom-style: none;
      width: 100%;
       font-family:$base-font-family;      
      clear: both;
    }
  }
}
