#contact-toggle {
}
#block-uw-nav-site-footer-site-footer{
  .content{
    float:left;
    clear:both;
    text-align:left;
  }
}

 .uw-site-footer1{
    @include span-columns(12);
    min-height:2.5rem;
    clear:both;
    padding:1rem 0;
    margin-right:inherit;  
    &--logo-dept{
      @include span-columns(12);
      line-height:1.25;
      text-align:center;
      padding:0.5rem 0;
      @include media ($small-screen){
        text-align:left;
        padding:1rem 0;
        @include span-columns(6);
      }
    }
    &--contact{
      @include span-columns(11);
      @include shift(0.5);
        button{
          width:100%;
          max-width:inherit;
          margin-top:1rem;
          margin-bottom:1rem;
        }
        @include media ($xsmall-screen){
         @include span-columns(8);
          @include shift(2);
        }
       @include media ($small-screen){
            @include shift(0);
            padding:1rem 0;
            @include span-columns(6);
            text-align:right;
            @include omega();
            button{
              max-width:18.25rem;
              margin-top:0;
               margin-bottom:0;
             }

              @include media ($medium-screen){
                padding:0;
              }
           
        }
      }
      &--social{
          @include span-columns(4);
          text-align:center;
          @include omega();
      }
  }
 
 .uw-site-footer2 {
    .block-uw-nav-site-footer{
      .content{
        @include span-columns(12);
        margin-right: inherit;
      }
    }
    // visibility:hidden;
    height:0;
    overflow:hidden;
    @include clearfix();
   
    .open-site-footer &{
      clear:both;
      overflow:visible;
      width:100%;
      padding:2rem 0;
      height: auto;
      @include uw-transition($delay: 0s, $duration:400ms,  $timing:'linear', $property: (height,opacity,visibility,background-color));

    }    
    .fcol{
      margin-bottom:1rem;
      @include media($medium-screen){
        margin-bottom:0;
      }
    }
    .fcol h2, .fcol h3 {}
    .fcol ul, 
    .fcol ol {
      list-style-type: none; 
      margin-left: 0;
      padding-left:0;
    }
    .fcol ul li, .fcol ol li {
      margin-bottom: 0.1rem;
    }
    .fcol ul li a:last-of-type{
       margin-bottom:0.25rem;
      @include media($medium-screen){
        margin-bottom:0;
      }
    }
    .fcol.three-a-1 {
        height:auto;
      @include span-columns(12);
      @include media($small-screen) {
           @include span-columns(4.5);
       }
       @include media ($medium-screen){
         @include span-columns(4.5);
      }
    }
    .fcol.three-a-2 {
        height:auto;
      @include span-columns(12);
      @include media($small-screen) {
          @include span-columns(4.5);
          @include omega();
       }
      @include media ($medium-screen){
        @include span-columns(4.5);
      }
    }   
    .fcol.three-a-3 {
        height:auto;
      @include span-columns(12);
      @include media($small-screen) {
       @include span-columns(3);
        // @include shift(3); 
        @include omega();
       }
        @include media ($medium-screen){
       
        @include shift(0);
       @include omega();
     }
    }

   .fcol.three-1 {  
      height:auto;
      @include span-columns(12);
      @include media($small-screen) {
        @include span-columns(6);
        @include shift(3); 
       
       }
      @include media ($medium-screen){
        @include span-columns(3);
      }
    }
    .fcol.three-2 { 
      height:auto; 
     @include span-columns(12);
     @include media($small-screen) {
       @include span-columns(6);
       }
      @include media ($medium-screen){
        @include span-columns(4.5);
      }
    }
    .fcol.three-3 {  
        height:auto;
        @include span-columns(12);
        @include media($small-screen) {
          @include span-columns(6);
          @include omega();
       }
        @include media ($medium-screen){
          @include span-columns(4.5);
          @include omega();
        }
    }

    .fcol.four-1 {   
        height:auto;
      @include span-columns(12);
      @include media($small-screen) {
            @include span-columns(6);
       }
      @include media ($medium-screen){
        @include span-columns(3);
         margin-right:1%;
      }
    }
     .fcol.four-2,
     .fcol.four-3 { 
       height:auto; 
       @include span-columns(12);
       @include media($small-screen) {
          @include span-columns(6);
       }
       @include media ($medium-screen){
          @include span-columns(3);
        }
       }
    .fcol.four-2 {
        height:auto;
        @include media($small-screen) {
        
          &:first-of-type{
           @include omega();
          }
       }
       @include media ($medium-screen){
          &:first-of-type{
            @include omega-reset(1n);
          }
           &:last-of-type{
           @include omega();
          }
        }
    }
    .fcol.four-4 {  
        height:auto;
      @include span-columns(12);
      @include media($small-screen) {
        @include span-columns(6);
        @include omega();

       }
         @include media ($medium-screen){
            @include span-columns(3);
            @include omega();
        }
    }

    .fcol.five-1 { @include span-columns(12);
        height:auto;
      @include media($small-screen) {

       }
      @include media ($medium-screen){
      @include span-columns(3);
      }
    }
    .fcol.five-2, .fcol.five-3, .fcol.five-4 {
        height:auto;
     @include span-columns(12);
     @include media($small-screen) {
          @include span-columns(6);
       }
       @include media ($medium-screen){
          @include span-columns(2.5);
      }
    }
     .fcol.five-3 {
        height:auto;
      @include media($small-screen) {
          @include omega();
       }
     }
    .fcol.five-5 {
        height:auto;
     @include span-columns(12);
       @include media($small-screen) {
     

       }
       @include media ($medium-screen){
        @include span-columns(1.5);
       }
      }
}
