/* Tabs CSS
 * --------
 * Adds styles for the primary and secondary tabs.
 */
#block-workbench-block {margin-bottom: 1em;}
  ul {
    .uw-site-admin--tabs &{
    &.tabs{
    overflow:hidden;
    }
    &.primary,
    &.secondary{
       width: 99%;
    } 
     &.primary{
      margin: 0;
      padding: 0.625rem 0 0 0.625rem;
      border-width: 0;
      list-style: none;
      white-space: nowrap;
      line-height: normal;
      background: url(../images/core/tabs/tab-bar.png) repeat-x left bottom;
     li {
        float: left;
        margin: 0;
        padding: 0;
        &.active{
          a{ 
            border-width: 0;
            color: $black;
            background-color: transparent;
            background: url(../images/core/tabs/tab-left.png) no-repeat left 0;
            .tab{
               background: url(../images/core/tabs/tab-right.png) no-repeat right 0;
            }
           &:hover{
            border-width: 0;
            color: $black;
            background-color: transparent;
            background: url(../images/core/tabs/tab-left.png) no-repeat left 0;
            .tab{
               background: url(../images/core/tabs/tab-right.png) no-repeat right 0;
            }
           } 
          }
        }
        a{
           display: block;
            height: 1.500rem;
            margin: 0;
            padding: 0 0 0 0.375rem;
            border-width: 0;
            font-weigh: bold;
            text-decoration: none;
            color: #666;
            background-color: transparent;
            background: url(../images/core/tabs/tab-left.png) no-repeat left -2.375rem;
            .tab {
                display: block;
                height: 1.250rem;
                margin: 0;
                padding: 0.250rem 0.313rem 0 0.375em;
                border-width: 0;
                line-height: 1.250rem;
                background: url(../images/core/tabs/tab-right.png) no-repeat right -2.375rem;
              }

          }
          &:hover {
            border-width: 0;
            background-color: transparent;
            background: url(../images/core/tabs/tab-left.png) no-repeat left -4.750rem;
            .tab {
              background: url(../images/core/tabs/tab-right.png) no-repeat right -4.750rem;
            }
          }
      }
     }
     &.secondary{
        margin: 0;
        padding: 0 0 0 0.313rem;
        border-bottom: 1px solid silver;
        list-style: none;
        white-space: nowrap;
        background: url(../images/core/tabs/tab-secondary-bg.png) repeat-x left bottom;
     }
     li {
      float: left;
      margin: 0 0.313rem 0 0;
      padding: 0.313rem 0;
      border-right: none;
      a {
        display: block;
        height: 24px;
        margin: 0;
        padding: 0;
        border: 1px solid silver;
        text-decoration: none;
        color: #777777;
        background: url(../images/core/tabs/tab-secondary.png) repeat-x left -3.500rem;
        &:hover {
          background: url(../images/core/tabs/tab-secondary.png) repeat-x left bottom;
        }
        .active,
        .active:hover{
          border: 1px solid silver;
          color: black;
          background: url(../images/core/tabs/tab-secondary.png) repeat-x left top;
        }
        .tab {
          display: block;
          height: 1.125rem;
          margin: 0;
          padding:0.188rem  1.333rem;
          line-height:  1.125rem;
        }
      }
    }
    &.action-links {
      list-style: none;
      margin: 0.313rem;
     padding: 0.5rem 1rem;
    li {
      display: inline-block;
      margin-left: 1.667rem;
      a {
          padding-left: 0.938rem;
          background: url(../images/core/add.png) no-repeat left center;
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

