/*-----comment same as bartik -----*/
.comment{
  margin-bottom:1.250rem;
  display:table;
  vertical-align:top;
  h2{
    &.title {
      margin-bottom: 1rem;
      }
    }
    ul{
      &.links {
       padding: 0 0 0.25rem 0;  
       li {
        padding: 0 0.5rem 0 0; /* LTR */
       }
     }
    }
  .user-picture img {
   margin-left: 0; /* LTR */
  }
  .attribution {
    display: table-cell;
    padding: 0 1.875rem 0 0; /* LTR */
    vertical-align: top;
    overflow: hidden;
    img {
     margin: 0;
     border: 1px solid #d3d7d9;  
    }
    .username {
      white-space: nowrap;
    }
  }
  .submitted{
    p {
      margin: 0.250rem 0;
      font-size: 1.071rem;
      line-height: 1.2;
      }
      .comment-time {
        font-size 0.786rem;
        color: #68696b;
      }
  }
  .comment-permalink {
      font-size: 0.786rem;
      text-transform: lowercase;
  }
  .content {
    /*font-size: 0.929em;*/
    line-height: 1.6;
  }
  .comment-arrow {
    background: url(../images/comment-arrow.png) no-repeat 0 center transparent; /* LTR */
    border-left: 1px solid;
    border-right: 1px solid;
    height: 2.500rem;
    margin-left: -2.938rem; /* LTR */
    margin-top: 0.625rem
    position: absolute;
    width: 1.250rem
    border-color: #ffffff;
  }
  .comment-text {
    border: 1px solid #d3d7d9;
    padding: 0.625rem 25px;
    display: table-cell;
    vertical-align: top;
    position:relative;
    width:100%
  } 
  .indented {
     margin-left: 2.500rem; /* LTR */
    }
    &-unpublished {
    margin-right:0.313rem /* LTR */
    padding: 0.313rem 0.125rem 0.313rem 0.313rem; /* LTR */
    .comment-text  {
      .comment-arrow{
        border-left: 1px solid #fff4f4;
        border-right: 1px solid #fff4f4;
      }
    }
  }
}
.pager {
  li{
    &.pager-previous{
      a{
        width:3.750rem;
        }
    }
  }
}
  