@font-face {
  font-family: 'iconic';
  src:url('../fonts/iconic.eot');
  src:url('../fonts/iconic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconic.svg#iconic') format('svg'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'iconic';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'iconic';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-play:before {
  content: "\e000";
}
.icon-pause:before {
  content: "\e001";
}
