ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
  &.circle { list-style-type: circle; }
  &.disc { list-style-type: disc; }
  &.square { list-style-type: square; }
  &.lower-roman { list-style-type: lower-roman; }
  &.upper-roman { list-style-type: upper-roman; }
  &.lower-alpha { list-style-type: lower-alpha; }
  &.upper-alpha { list-style-type: upper-alpha; }
  &.decimal { list-style-type: decimal; }
  li{
    &.logout{display: none;}
  }
}
dl {
  dt {
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  dd {
    margin-left: 3rem;
  }
}
