html{ font-size:100%; }
body {
  // @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin:0;
  padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  padding:0;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
  #ie6message &{
    &:link, 
    &:visited {
    color: #00f;  
    }
  }
  .uw-header &{
    color: #fff; 
    font-weight:bold;
    text-decoration: none;
    &:hover{
      color: #fff; 
      text-decoration: underline;
    }
     &:visited {
      color: #fff;  
    }
  }
  
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  max-width: 100%;
  &.image-left{float:left; margin: 0 1rem 1rem 0;}
  &.image-right{float: right; margin: 0 0 1rem 1rem;}
  &.image-center{display: block; margin: auto;}
}

