.js {
    /* We have basic responsiveness without JavaScript. This is the styling for the enhanced responsiveness with JavaScript on. */
    #site-sidebar div.rss_link,
    #site-sidebar div.feed-icon,
    #block-uw-ct-news-item-news-by-audience,
    #block-uw-ct-news-item-news-by-date,
    #block-uw-ct-contact-contacts-by-group,
    #block-uw-ct-person-profile-profile-by-type,
    #block-uw-ct-project-project-by-status,
    #block-uw-ct-project-project-by-audience,
    #block-uw-ct-project-project-by-topic,
    #block-views-events-with-calendar-block-1,
    #block-uw-ct-event-events-by-audience,
    #block-views-event-type-block-events-by-type,
    #block-views-uw-blog-recent-block-1,
    #block-uw-ct-blog-blog-by-audience,
    #block-uw-ct-blog-blog-by-date,
    #block-views-uw-blog-topics-block-1,
    #block-views-5bbe76328202cacac13375a40dd59481
    {
      display: none;
    }
}
%ct_box{
  padding:1rem;
  margin-bottom:0.75rem;
  margin-top:0.74rem;
  border: solid 1px $uw-light-shade-colour;
  @include media($small-screen){
    min-height:30rem;
  }
  @include media($medium-screen){
  min-height:0rem;
  }
  @include media($large-screen) {
      min-height:30rem;
  }
}
.uw-site{
   &--modal__filter{
      @include outer-container(100%);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: rgb(37, 37, 37);
        background-color: rgba(37, 37, 37, 0.98);
        overflow: auto; /* Allow scrolling if there's more info than fits onscreen. */
        z-index:map-get($zindex, modal); /* Show above everything, including Drupal toolbar. */
   }
   &--modal-wrap{
    .full-archive{
      button{
        max-width:100%;
        margin-top:1rem;
      }
    }
    button{
        max-width:100%;
    }
    @include outer-container();
    @include align-items(start);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);        
    @include  flex-wrap(wrap);
    @include box-orient(horizontal);
    @include box-pack(start);
    @include box-lines(multiple);
    padding:2rem;
    margin-top:3rem;
    position:relative;
    .block-uw-ct-news-item-news-by-audience, 
    .block-uw-ct-news-item-news-by-date, 
    .block-uw-ct-contact-contacts-by-group, 
    .block-uw-ct-person-profile-profile-by-type, 
    .block-uw-ct-project-project-by-status, 
    .block-uw-ct-project-project-by-audience, 
    .block-views-5bbe76328202cacac13375a40dd59481,
    .block-uw-ct-project-project-by-topic, 
    .block-views-events-with-calendar-block-1, 
    .block-uw-ct-event-events-by-audience, 
    .block-views-event-type-block-events-by-type, 
    .block-views-uw-blog-recent-block-1, 
    .block-uw-ct-blog-blog-by-audience, 
    .block-uw-ct-blog-blog-by-date, 
    .block-views-uw-blog-topics-block-1{
      @include flex(1 0 100%);
      padding:1rem;
      @include media($small-screen) {
         @include flex(1 0 50%);
      }
      @include media($medium-screen) {
        @include flex(1);  
      }
    }
  
        h2{
         color:#fff;
         margin-bottom:1rem;
         clear:both;
        }
        h3{
         color:#fff;
        }
        p{
         color:#fff;
          @include fontdpi();
        }
        ul,ol{
          margin:0.5rem 0;
          list-style-type: none;
          li{
            text-align:left;
            margin:0.25rem 0;
            color:#969696;
            @include fontdpi();
            ul{
               margin:0.25rem 0;
            }
            a{
              color:$white;
              @include fontdpi();
            }
          }
        }
 
  }
}
@include media($xsmall-screen) {

}
@include media($medium-screen) {

}

