$faculty-colors: 
 uWaterloo $uw-uwaterloo-light ,
 ahs $uw-ahs-light ,
 arts $uw-arts-light, 
 engineering $uw-engineering-light,
 environment $uw-environment-light,
 math  $uw-math-light,
 science $uw-science-light,
 conrad $uw-conrad-light,
 renison $uw-renison-light,
 st-jeromes $uw-st-jeromes-light,
 st-pauls $uw-st-pauls-light,
 schools $uw-schools-light,
 neutral $neutral
;

.call-to-action {
  &-top-wrapper{
    width: 100%;
    height: 100%;
    clear:both;
    float: left;
    margin-bottom:1rem;
    .sticky-promo &{
       margin-top:0rem;
    }
 
}
  &-center-wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &-wrapper {
    height: 6.25rem;
    display: table;
    float: left;
    &.cta-more-then-one{
      width: 100%;
      height: 6.25rem;
      display: table;
      @include media($xsmall-screen){
        width: 50%;
      }
    }
    &.cta-sidebar {
      width: 100%;
      @include media($xsmall-screen){
        width: 50%;
        height: 6.25rem;
        display: table;
    }  
    @include media($large-screen){
        width: 100%;
        height: 6.25rem;
        display: table;
      }  
    }
   .wide &{
    &.cta-more-then-one{
    width: 100%;
    height: 6.25rem;
    display: table;
     @include media($xsmall-screen){
        width: 50%;
        height: 6.25rem;
        display: table;
      }
      @include media($large-screen){
          width: 33%;
          height: 6.25rem;
          display: table;
        }  
      }
    }
  }
  &-big-text{
    text-align: center;
    font-size: modular-scale(1);
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    padding:0 0.250rem 0.313rem 0.250rem;
    line-height:$cta-big-line-height; 
  }
  &-small-text{
    text-align: center;
    font-size: modular-scale(-1);
    font-weight:$weight-bold;
    font-family:$heading-font-family;
    padding:0 0.250rem 0 0.250rem; 
    color:$white;
  }
  &-theme{
    @each $faculty-color in $faculty-colors {
      &-#{nth($faculty-color,1)} {
        display: table-cell;
        background-color:$black;
        color:nth($faculty-color,2);
        margin: 1px;
        border: 1px solid $white;
        vertical-align: middle;
        a & {
          @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
          &:hover{
            background-color: $white;
            border: 1px solid nth($faculty-color,2);
            color: $black;
            @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
            .call-to-action-small-text {
              color: $gray;
            }
          }
        }
      }
    }
  }
}
