#uwb_area{
  // overflow:hidden;
}
.js #random-banner { display: none; }
.banner{
  position: relative; 
  margin-top: 0.6rem;
  color: $white;
  overflow:hidden;
  background-color:$black;
  &.element-invisible{
    display:none;
  }
  img{
    @include fill-parent();
    height:100%;
  }
  strong,
  span{
   border: none; 
   color: $white;
   margin: 0;
  }
  strong{
    display: block;
  }
  a{
    text-decoration: none;
    @include uw-transition(
      $delay: 0s, 
      $duration:200ms,  
      $timing:'linear', 
      $property: (color, background-color,border-color,opacity)
      );
    &:hover{
       @include media($medium-screen){
      .banner-image{
        opacity:0.6;
        @include uw-transition(
        $delay: 0s, 
        $duration:200ms,  
        $timing:'linear', 
        $property: (color, background-color,border-color,opacity)
        );
        }
      }
      strong{
        text-decoration: underline;
      }
    }
  }
  .banner-image {
    line-height: 0; 
    display: block;
    width:100%;
  } 
}
.banner-caption-check[type="checkbox"]{
  position:absolute;
  display:none;
}
.banner-caption-check[type="checkbox"] ~ .banner-caption{
  position: absolute; 
  bottom: 0; 
  width: 100%;
  text-align:center;
  opacity:0;
  height:0;
  font-weight:400;
  display:block;
 @include uw-transition(
        $delay: 400ms, 
        $duration:200ms,  
        $timing:'linear', 
        $property: (opacity));
  @include media($medium-screen){
    position: absolute; 
    bottom: 0; 
    display:block;
    opacity:1;
    height:auto;
    padding:1rem 2rem;
    background-color:rgba(0,0,0,0.6);
     @include uw-transition(
        $delay: 0ms, 
        $duration:200ms,  
        $timing:'linear', 
        $property: (opacity));   
  }
  @include media($large-screen){
     
  }
}
&.wide {
  margin-top: 0; 
  border-bottom: 1px solid transparent;
  position: relative;
  .banner-caption {
    bottom: 0; 
  }
}
.banner-caption-check[type="checkbox"] ~  .banner-caption-button{
  position:absolute;
  bottom: -0.41rem;
  display:block;
  background-color:rgba(0,0,0,0.6);
  padding:0 1rem;
  height:2.6rem;
  right:0;
  width:50%;
 z-index:map-get($zindex, mobilemenu);
  &:before{
    position:absolute;
    top:0.55rem;
    font-family:$fdsu-icon-font;
    color:$white;
    font-weight:400;
    font-size: modular-scale(2);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:$fdsu-info-2;
    @include uw-transition($delay: 0s, $duration:300ms,  $timing:'linear', $property: (color, background-color)); 
    } 
  &:hover{
     background-color:rgba(0,0,0,0.7);
     cursor:pointer;
  }
   @include media($medium-screen){
    display:none;
  }
}
.banner-caption-check[type="checkbox"] ~ a{
    padding-bottom:0rem;
    display:block;
     @include uw-transition(
    $delay: 0s, 
    $duration:250ms,  
    $timing:'ease', 
   $property: (padding)); 
}

.banner-caption-check[type="checkbox"]:checked ~ .banner-caption{
    display: block;
    opacity:1;
    height:10rem;
    padding:1rem;
    @include uw-transition(
      $delay: 400ms, 
      $duration:200ms,  
      $timing:'linear', 
      $property: (opacity));
    @include media($medium-screen){
      height:auto;
      min-height:8rem;
      padding:1rem;
      background-color:rgba(0,0,0,0.85);
      @include uw-transition(
      $delay: 0ms, 
      $duration:200ms,  
      $timing:'linear', 
      $property: (opacity));
    }
     span{
        display:block;
      } 
    z-index:map-get($zindex, mobilemenu);
}
.banner-caption-check[type="checkbox"]:checked ~ .banner-caption-button{ 
  z-index:map-get($zindex, modal);
    opacity:0.4;
    &:hover,
    &:focus,
    &:active{opacity:0.4;}
    @include media($medium-screen){
    &:hover,
    &:focus,
    &:active{opacity:0.9;}
    }
  @include uw-transition(
    $delay: 0s, 
    $duration:300ms,  
    $timing:'linear', 
   $property: (opacity)); 
}
.banner-caption-check[type="checkbox"]:checked ~ a{
    padding-bottom:10rem;
    display:block;
     @include uw-transition(
    $delay: 0s, 
    $duration:250ms,  
    $timing:'ease',   
    $property: (padding));
    @include media($medium-screen){
    padding-bottom:0;
    @include uw-transition(
    $delay: 0s, 
    $duration:250ms,  
    $timing:'ease',   
    $property: (padding));
    } 
}
#content{
  body.node-type-uw-home-page-banner &{
      width:100%;
  }
}
 #site-sidebar {
     body.node-type-uw-home-page-banner &{
        display:none;
    }
 }
  #uwb_paginator {
    margin-left:0;
    html.ie10 & {  
    }
    @include align-items(start); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);// start|end|center|justify
    @include box-lines(multiple);// single|multiple
    padding: 0;
    position: relative;
    z-index:map-get($zindex, mobilemenu);
    border-bottom: 1px solid $medium-gray;
    list-style-type: none;
    li {
      @include flex(1);
      padding: 0;
      border-right: 1px solid $black;
      margin-top:0;
      margin-bottom:0;
     &.uwb_controls {
        display:block;
        background-color:rgba(0,0,0,0.6);
        top:-2.6rem;
        position: absolute;
        z-index:map-get($zindex, modal);
        width:50%;
        padding:0;
        height:2.6rem;
        max-width:100%;
        margin-top:0;
        margin-bottom:0;
        @include media($medium-screen){
         background-color:rgba(0,0,0,0.6);
         top:-2.5rem;
         left:0.5rem;
         width:2rem;
         height:2rem;
        }
         @include media($large-screen){
        }
         a,button{
          background-color:rgba(0,0,0,0);
          text-indent:0;
          height:2.6rem;
          padding:0;
          max-width:100%;
          margin-top:0;
          margin-bottom:0;
          span{
            position:absolute;
            top:0.9rem;
            right:1rem;
            }
          color:$white;
          font-size: modular-scale(-1);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          @include uw-transition($delay: 0s, $duration:300ms,  $timing:'linear', $property: (color, background-color)); 
           &:hover{
               background-color:rgba(0,0,0,0.9);
               cursor:pointer;
            }
          }
          a[href="#pause"],
          button[href="#pause"]{
          &:hover{
             background-color:rgba(0,0,0,0.9);
             cursor:pointer; 
             span{
             }
            }
          span{  right:1.1rem;
              }
        }
         @include media($medium-screen){
             a,button{
              font-size: modular-scale(0);
              height:2rem;
              span{
              position:absolute;
              top:0.4rem;
              right:0.5rem;
            
              }
            }
           a[href="#pause"],
            button[href="#pause"]{
              span{  right:0.6rem;
            }
         }
        }
      }
      &:first-child{
          border-left:none;
         &.uwb_selected{
           border-left: none;
         }
      }
      &:last-child{
         border-right:none;
      }
      a{
        padding: 0  49%;
        background-color: $light-gray;
        border: 0;
        text-indent:-9999rem;
        margin: 0;
        display:block;
        height:0.8rem;
      }
      button {
        width: 100%;
        padding: 0 49%;
        border: 0;
        text-indent:-9999rem;
        margin: 0;
        display:block;
        height:0.8rem;
      }
    }
    .uwb_selected {
      background-color: $black;
      border-right:none;
      outline: none ;
    }
  }
  