.view-uw-people-profile-pages{
     .view-content{
        .field-label {
              display: none;
            }
         .views-row{
         @extend %ct_box;
         min-height:inherit;
          @include media($xsmall-screen) {
            @include span-columns(12 of 12);
          }
          @include media($small-screen) {
             @include span-columns(6 of 12);
          }
          @include media($medium-screen) {
            @include span-columns(8 of 8);
          }
          @include media($large-screen) {
            @include span-columns(4.5 of 9);
          }
          &-first{
              
          }
          &-even{
            @include omega();
          }
          &-odd{
            &.views-row-last{
              margin:inherit;
            }
          }
          &-last{
             // @include omega-reset(1n);
          }
          .uw-site-sidebar &{
               @include span-columns(12);
                 @extend %ct_box;
                 min-height:inherit;
                 padding:1rem; 
                 margin-bottom:0.5rem; 
          }
        }
      }
    }

.staff-contact .profile-url, .staff-contact .website-url {white-space: nowrap; overflow: hidden;}
.staff-contact .profile-url:hover, .staff-contact .website-url:hover {overflow: visible; background-color: #fff;}

.page-about-people-group{
  h1{
    // max-width: 330px;
  }
} 
.staff-contact {
  position:relative;
  border-bottom: solid 1px $neutral;
  @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 

  &:before{
    font-family:$fdsu-icon-font;
    border-radius: $base-border-radius;
    color:$gray;
    content:$fdsu-arrow;
    font-size: modular-scale(-2);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position:absolute;
    right:1rem;
    top:2rem;
    // -webkit-transform: rotate(-90deg);
    // -ms-transform: rotate(-90deg);
    // transform: rotate(-90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 
    .node-type-contact &{
       content:''; 
      }
    }

    h2{ 
    padding-left:0.5rem;
    border: none; 
    margin: 0;
 
    
    }
    .title{
      // width: 65%; 
      padding: 0; 
      padding-left:0.5rem;
    .node-type-contact &{
       padding-left:0rem;
      }
      border: none; 
      margin: 0;
    }
    .entry {
      padding:0.5rem;
      padding-right: 3rem; 
      a{
        text-decoration:none;
      }
    }
    .data{
       display:block;
       padding:0.5rem;
      .photo{
        float:left;
        width:100%;
        text-align:center;
        min-height: 1px;
      }
     .info{
        float:left;
    
      
     }
      @include media($xsmall-screen) {
     
      }
      @include media($small-screen) {
        .info{
          width:80%;
        }
        .photo{
           width:8rem;
            text-align:inherit;
        } 
      }
      @include media($medium-screen) {
       }
      @include media($large-screen) {
       
      }
   }
   .field-label {
    // color: #555; 
    // font-style: italic; 
    // font-weight: normal;
   }
    .field-name-field-contact-location,
    .field-name-field-contact-group,
    .field-name-field-contact-reason,
    .field-name-field-contact-additional-info,
    .field-name-field-contact-profile-url,.field-name-field-contact-website-url {
      margin-top: 0.5em;
    }
  .profile-url,
  .website-url {
    white-space: nowrap; overflow: hidden;
     &:hover{
      overflow: visible; background-color: #fff;
     }
  }
 .js .node-type-contact #content &{
      .entry{
      &:hover{
           background-color:$white;
           color: $dark-gray; 
           cursor:inherit;
      }
    }
}
  .js #content &{
    .data{
     display: none;

    }
    &.open{
      &:before{
       -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 

      }

      .data{
          display: block;
          padding-top: 1.5rem; 
          padding-bottom: 1.5rem;
          background:#FAFAFA;
          @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 

        }
      .entry{
        background-color:$neutral;
        color: $uw-black; 
        cursor: pointer;
        @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 

        h2 {
            a{
                 color: $uw-black; 
              }     
          }
      }
    }
    .entry{
      &:hover{
          background-color:$neutral;
          color: $uw-black; 
          cursor: pointer;
          @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color)); 

        h2 {
            a{
                color: #000;
              }     
          }

        }
      }
  }
}
.toggle-contacts{
  .js #content  &{
    position: relative;
     margin: 1rem 0;
     #ct-filters{
         width:33.3%;
         display:inline-block;
         margin:0;
         border-right:1px solid lighten($uw-gray, 40%);
     }
    a{
     max-width:100%;
     border-radius:0;
     text-align:center;
     line-height:inherit;
      &.expand-all {
        @extend %button;
        width:33.3%;
               margin:0;
                 border-right:1px solid lighten($uw-gray, 40%);
      }
       &.collapse-all {
        @extend %button;
         width:33.4%;
               margin:0;
               border-right:1px solid lighten($uw-gray, 40%); 
      }
      &:hover{
        color: $white; 
        background-color: $uw-black;
      }
    }
  }
}
// .field-name-field-profile-photo{
//    img[typeof="foaf:Image"]{
//            float:left;
//            padding-right:1rem;
//         }
//     }

.anchor-body {
   clear: both;
   padding-top: 0.5rem;
}
.anchor-name{
  clear:inherit;
}
.field-name-field-profile-title,
.field-name-field-contact-title{
 .field-item{
   .page-people-profile &{
    margin-bottom: 0.5rem;
    }
  .node-type-uw-ct-person-profile &{
    margin-bottom: 0.75rem;
    }
 } 
}
.anchor-thumbnail{
  img[typeof="foaf:Image"]{
           float:left;
           padding-right:1rem;
        }
  }
.profile-thumbnail{

    img[typeof="foaf:Image"]{
           float:left;
           padding-right:1rem;

      
    }
      a{
        display:inline-block;
        }
    @include media($medium-screen){
      @include clearfix();
       img[typeof="foaf:Image"]{
          float:inherit;
          padding-right:0;
        }
         a{
          display:block;
          height:100%;

          }
      }  
  }
  h3.profile-name{
    
    margin-top:0;
  }
  .js .node-type-contact #content .data {
        display: block;
    }   