// FT
.uw-site--off-canvas{
	z-index:map-get($zindex, modal);
    position:relative;
    overflow:visible;
     @include media($medium-screen){
	 	display:none;
	 }
}

.responsive-menu-combined__container{
	 display:block;
	 position:absolute;
  	 right:0.2rem;
	 @include media($medium-screen){
	 	display:none;
			 }

			right:0;
			top:-4.4rem;
			height:$site-global-header-height; 
			z-index:map-get($zindex, modal);
			background-color:darken($uw-default,1%);
       		border-left:1px solid transparentize($white, 0.8);
			label{
            	display:block;
	          
            }

		}
    //button look
    .navigation-button {
          text-align:center;
          // border-right:1px solid #353535;
          // border-left:1px solid #353535; 
          position:relative;
         
          height:auto;
    }

    .navigation-button .navigation-button__toggle {


        padding: 2.1rem 0.5rem 0.5rem 0.5rem;
        height:100%;
        cursor: pointer;
        position:relative;
        width:100%;
        font-size: modular-scale(-1);
        font-weight:$weight-bold;
        font-family:$condensed-font-family;
        height:100%;    
        color:#fff;
           &:hover{
            span,
            span:before,
            span:after{
                 background:$uw-gold; 
                }
                
             }
     
    }
    .navigation-button .navigation-button__toggle  span{
            position: absolute;
            top: 30%;
            left:50%;
            margin-left:-0.75rem;
            @include uw-transition($delay: 0s, $duration:0ms,  $timing:'linear', $property: (background-color)); 

             @include media($xsmall-screen){
                    margin-left:-0.75rem;
                 }
            display: block;
            -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
            -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
            text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
            height: 0.1rem;
            width: 1.5rem;
            background-color: #fff;
            font-size: 0px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: background-color 0.3s;
            -moz-transition: background-color 0.3s;
            transition: background-color 0.3s;
            
             [data-nav-visible="true"] &{
                    background-color: transparent;
                    color:$uw-gold;
                    width: 1.5rem;
                    @include uw-transition($delay: 0s, $duration:0ms,  $timing:'linear', $property: (background-color)); 

             }

        }
        .navigation-button .navigation-button__toggle:hover{
           // background:$gray;
            color:$uw-gold; 
            -webkit-transition: background-color 0.3s;
            -moz-transition: background-color 0.3s;
            transition: background-color 0.3s;
        }
    .navigation-button .navigation-button__toggle span:before,
    .navigation-button .navigation-button__toggle span:after {
         -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
         -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
         text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
         position: absolute;
         left: 0;
         width: 100%;
         height: 100%;
         background: #fff;
         content: '';
         -webkit-transition: -webkit-transform 0.3s;
         -moz-transition: -moz-transform 0.3s;
         transition: transform 0.3s;
        }
    .navigation-button .navigation-button__toggle span:before {
          -webkit-transform: translateY(-300%);
          -moz-transform: translateY(-300%);
          transform: translateY(-300%);
        }
    .navigation-button .navigation-button__toggle span:after {
          -webkit-transform: translateY(300%);
          -moz-transform: translateY(300%);
          transform: translateY(300%);
        }
    [data-nav-visible="true"] .navigation-button .navigation-button__toggle span:before {
         -webkit-transform: translateY(0) rotate(45deg);
          -moz-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
            background:$uw-gold; 
    }
    [data-nav-visible="true"] .navigation-button .navigation-button__toggle span:after {
     -webkit-transform: translateY(0) rotate(-45deg);
          -moz-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
            background:$uw-gold; 
    }

// menu wrap

.responsive-nav-menu{
    border-top:1px solid transparentize($white, 0.8);
    z-index:map-get($zindex, modal);
    width:100%;
	#responsive-nav-check{

	}
}
.block-responsive-menu-combined{}
.content{}

.responsive-nav-menu .sub-nav .toggle span {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
}

.responsive-nav-menu .sub-nav .toggle {
    padding: 0 0.3125em;

    top: 0;
}
.responsive-nav-menu .sub-nav .toggle span {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
    padding:0 0.5rem;
    font-weight:bold;
}
.responsive-nav-menu .sub-nav .toggle span.ifdsu{
    font-weight:$weight-light;
}
.header label:hover,
.responsive-nav-menu label:hover {
  
}
#responsive-nav-check,
.responsive-nav-menu .sub-nav-check {
    position: absolute;
    top: -30rem;
    display:none;
}
.toggle {
    position: absolute;
    right: 0.6em;
    cursor: pointer;
    color: #fff;
}


.container {
    background: #fff;
    min-height: 100%;
    padding: 0;
    margin: 0
}
.uw-site--offcanvas{
    padding:2rem;
    min-height: 100%;
    margin: 0;
    position:relative;
    top: 5rem;
}
.responsive-nav-menu{    
    position: absolute;
    top: 0;
    width:100%;
    background: #222;
    z-index: 10;
    left: -50rem
}

.responsive-nav-menu .sub-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    background: #222;
    z-index: 10;
    left: -50rem
}

.responsive-nav-menu,
.responsive-nav-menu .sub-nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .25s ease;
    -moz-transition: -moz-transform .25s ease;  
    transition: transform .25s ease;
}
.responsive-nav-menu ul {
    background:$black;
    line-height: 2.75rem;
    text-decoration: none;
    padding: 0;
    list-style: none;
    // margin-top: 4.0625rem;
    // border-top: 1px solid #444;
}
.responsive-nav-menu li {
    border-bottom: 1px solid #222;
    font-size: modular-scale(0);
    font-weight:$weight-bold;
	font-family:$condensed-font-family;
}
.responsive-nav-menu li a {
    background:$black;
    display: block;
    font-size: modular-scale(0);
    font-weight:$weight-bold;
	font-family:$condensed-font-family;
    padding-left: 1rem;
    text-overflow: ellipsis;
    margin-right: 0;
    white-space: nowrap;
    overflow: visible;
    text-decoration: none;
       
}
.responsive-nav-menu li.expanded a {
        margin-right:2.4rem;
        text-decoration: none;
        padding-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-decoration: none;
        
}
.responsive-nav-menu .expanded li.first a,
.responsive-nav-menu .expanded li.last a,
.responsive-nav-menu .expanded li.leaf a{
        margin-right:0rem;
        text-decoration: none;
        padding-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: visible;
        text-decoration: none;

}

.responsive-nav-menu li a:hover,.responsive-nav-menu  a.active,
.responsive-nav-menu .toggle-sub:hover {
    background: #333;
}
.responsive-nav-menu .sub-nav {
   background:$black;


}

.responsive-nav-menu .sub-nav li a{
   
}
.responsive-nav-menu .sub-heading {
    border:none;
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    font-size: modular-scale(1);
    color:transparentize($white, 0.7);
    padding-left: 1rem;
    height:2.750rem;
    text-overflow: ellipsis;
    margin-right: 5rem;
    white-space: nowrap;
    overflow: hidden;
}
.responsive-nav-menu .sub-heading label{
     font-weight:$weight-bold;
    font-family:$condensed-font-family;
    font-size: modular-scale(1);
}
.responsive-nav-menu .sub-heading{

}
// .responsive-nav-menu .sub-heading:after {
//     content: "";
//     display: block;
//     height: 1px;
//     width: 100%;
//     background: #444;
// }
.responsive-nav-menu .toggle-sub {
    font-size: modular-scale(0);
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    color: #fff;
    background: #222;
    float: right;
    margin-top: -2.75rem;
    width: 2.4rem;
    border-left: 1px solid #444;
    cursor: pointer;
    text-align: center;
}

.responsive-nav-menu,
.responsive-nav-menu .sub-nav {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* http://davidwalsh.name/translate3d */
/* #### - corrects 'unfixing' bug in Safari - uncomment if you have position:fixed elements inside .container - #### */
/* @media screen and (-webkit-min-device-pixel-ratio:0) { .container { -webkit-transform:none !important } } */


/* #### - define ids of animated container, menu and sub-menus here - #### */

/*#responsive-nav-check:checked ~ .container,*/
/*#responsive-nav-check:checked ~ .main,*/
#responsive-nav-check:checked ~ .responsive-nav-menu,
.responsive-nav-menu .sub-nav-check:checked ~ .sub-nav
/* matches all elements with id ending "-sub" */

{
    -webkit-transform: translate(50rem, 0);
    -moz-transform: translate(50rem, 0);
    -ms-transform: translate(50rem, 0);
    transform: translate(50rem, 0)
}

.responsive-nav-menu .tabs {
    position: relative;
    height:100%;
/* This part sucks */
    min-height: 10000px;
    @include span-columns(12);
    @include omega();
    border-bottom:1px solid transparentize($white, 0.8);
 
}
.responsive-nav-menu .tab {
    border-right:1px solid $black;
    margin:0;
    padding:0;
    float:left;
    // background:$gray;
 	height:auto;
   
}

.responsive-nav-menu .tab-1{width:50%;}
.responsive-nav-menu .tab-2{width:50%;}
.responsive-nav-menu .tab-3{width:33.3%;}
.responsive-nav-menu .tab-4{width:25%;}
.responsive-nav-menu .tab-5{width:25%;}
.responsive-nav-menu .tab-6{width:15%;}



.responsive-nav-menu .tab > label {
   
    text-align:center;
    position: relative;
    font-size: modular-scale(1);
    padding:1rem 0;
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    color:$white;
    margin-bottom:0;
   
}

.responsive-nav-menu .tab [type=radio] {
    display: none;
}

.responsive-nav-menu .tabs .tab{}
.responsive-nav-menu .tab .content {
    position: absolute;
    top:3.25rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
}
.responsive-nav-menu [type=radio] ~ label ~ .content {
    height:0;
    overflow:hidden;
    opacity:0;
    @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (opacity)); 

}
.responsive-nav-menu [type=radio] ~ label {
    background:#333;
    z-index: 1;
}
.responsive-nav-menu [type=radio] ~ label ~ .content {
    background:$black;
    z-index: 1;
}
.responsive-nav-menu [type=radio]:checked ~ label {
    background:$black;
    display:block;
   
    z-index: 2;
}

.responsive-nav-menu [type=radio]:checked ~ label ~ .content {
    background:$black;  
    height:auto;
    opacity:1;
    overflow:inherit;
    @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (opacity)); 

    z-index: 2;
}
// FT
