/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties: 
  org_default  $uw-default $uw-black  darken($uw-default,8%) url('../images/rwd/chevrons-yellow.png') $medium-gray , 
  org_ahs $uw-ahs $uw-ahs-light darken($uw-ahs,9%) url('../images/rwd/chevrons-teal.png') $uw-ahs ,
  org_art $uw-arts $uw-arts-light darken($uw-arts,5%)url('../images/rwd/chevrons-orange.png') $uw-arts,
  org_eng $uw-engineering  $uw-engineering-light darken($uw-engineering,5%) url('../images/rwd/chevrons-purple.png') $uw-engineering,
  org_env $uw-environment $uw-environment-light  darken($uw-environment,5%) url('../images/rwd/chevrons-green.png') $uw-environment,
  org_mat $uw-math $uw-math-light darken($uw-math,5%) url('../images/rwd/chevrons-pink.png') $uw-math,
  org_sci $uw-science $uw-science-light darken($uw-science,5%) url('../images/rwd/chevrons-pink.png') $uw-science,
  org_school $uw-school $uw-schools-light darken($uw-school,5%) url('../images/rwd/chevrons-red.png')  $uw-school , 
  org_cgc $uw-cgc 000  darken($uw-cgc,5%) url('../images/rwd/chevrons-cgc.png') $uw-cgc,
  org_ren $uw-ren  #D2C295  darken($uw-ren,5%) url('../images/rwd/chevrons-ren.png') $uw-ren,
  org_stj $uw-stj #01573E  darken($uw-stj,5%) url('../images/rwd/chevrons-stj.png') $uw-stj,
  org_stp $uw-stp #584528  darken($uw-stp,5%) url('../images/rwd/chevrons-stp.png') $uw-stp;

body,
div{
  @each $faculty in $faculties {
    &.#{nth($faculty,1)} {
      h1,h2,h3,h4,h5,h6{
        color:$black; 
      }
     hr,h2{
        border-color:nth($faculty,6);
      
      }
      .uw-site--modal-wrap h2 { 
        color:$white; }
      a{
        color: nth($faculty,2); 

        &:visited{
          
        }
         &:link{
        color: nth($faculty,2); 

        } 
        &:hover{
          color: nth($faculty,4);
        }
       
        &:focus{

        }
        &.search-button{
          color:$white;
         }
      }
     .uw-site--modal-wrap a{
       color:$white;
     }
     .date-heading a{
       color: nth($faculty,3);
     }
     .banner {
        a{
           color: nth($faculty,3);
        }
      }
      .uw-footer-phone{
         a{
           color: $yellow-dark;
        }
      }
      .responsive-nav-menu {
        a {
         color:$white;
       }
      }
      .rss_link,
      .feed-icon,
      .read-more-link,
      .home-listing-block-more-link{
        a{
          color:$gray;
          &:visited{
          color:$gray;
          }
          &:link{
          color:$gray;

          } 
          &:focus{
          color:$gray;
          }
          &:hover{
          color:$white;
          }
        }
      }
      .ui-menu {
        .ui-menu-item {
         a{
            color:$gray;
             } 
          }
       }
      .services-tab-item {
        a{
          color:$gray;
        &:hover{
         color:$white;
          }
        }
       
       }
       .services-search-tab a{
        background-color:$uw-gold;
        color:$black;
        max-width:inherit;
        padding-left:2.1rem;
        &:hover{
          color:$white;
          background-color:$gray;
         }
      }
     ul.share-buttons{
      li{
        a { 
          &:before{
            background-color: nth($faculty,2);
            }
             &:hover{
               &:before{
               background-color: nth($faculty,4);
               color: $white;
              }
            }
          }
        }
      }
      .breadcrumb a{
        color: nth($faculty,4);
        &:hover{
        color: nth($faculty,2);
        }
      }
      
      .global-menu {
        li {
          a{
            color:$white; 
            &:hover{
              text-decoration:underline;
            }
          }
        }
      } 
      .site-menu {
        li{
         &.active-trail{
            background-color:$light-gray;
            a{  border-right: solid 5px $light-gray;
                border-bottom: solid 1px #eee; 
             &.active{
                background-color:$medium-gray;
                border-bottom: solid 1px $light-gray;
              &:hover{
                background-color:$light-gray;
                border-color: nth($faculty,3);
                
                }
              }
            }
          }
          a{
            border-right: solid 5px $light-gray;
            border-bottom: solid 1px #eee;
            &:hover{
              background-color: #eee;
              border-color: nth($faculty,3);
            }
            &.active{
              background-color:$medium-gray;
              border-color:nth($faculty,4);
              color: nth($faculty,2); 
              &:hover{
                background-color:$light-gray;
                border-color: nth($faculty,3);
                
              }
            }
          }
      
        }
      }

      .uw-site--header{
        color: nth($faculty,2); 
      }
      .uw-site-navigation h2{
        background-image:nth($faculty,5);
        border-bottom: solid 1px $medium-gray;
      }
     
    } 
  }
}