// @import "../vendor/neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 4;
// $max-width: rem(1010);

// Neat Breakpoints
// $xsmall-screen: min-width rem(480);
// $small-screen: min-width rem(641);
// $medium-screen: min-width rem(769);
// $large-screen: min-width rem(1011);

// $small-screen-up: new-breakpoint(min-width $small-screen 4);
// $medium-screen-up: new-breakpoint(min-width $medium-screen 8);
// $large-screen-up: new-breakpoint(min-width $large-screen 12);
