table {

  // @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  // table-layout: fixed;
  width: 100%;
  margin: 1rem 0;
  min-width: 100%;
  max-width: 100%;
  .uw-site--main-content &{
    max-width: 46.875rem;
  }

}
td,
th {

  padding: 0.5rem;
  border: solid 1px #ddd;
  vertical-align: top;
}
th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
  font-style: italic;
  background-color: #eee;

}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr{}