// *:focus{outline: thin dotted;}
a:focus { outline: thin dotted; }

body {
  // @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  background-color:$body-bg-color;
  @include fontdpi();
  margin:0;
  padding:0;
  -webkit-animation: androidbugfix infinite 1s;
  -moz-animation: androidbugfix infinite 1s;
  animation: androidbugfix infinite 1s;
  &.logged-in{
    -webkit-animation: inherit;
    -moz-animation: inherit;
    animation:  inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:$uw-black;
  font-family:$condensed-font-family;
  font-weight:$weight-regular;
  line-height: $heading-line-height;
  margin: 0.5rem 0 0.5rem 0;
  padding:0;
  clear:both;
 
}
h1{ 
    font-size: modular-scale(5);
    // text-transform: uppercase; 
    text-align:center;
  @include media($xsmall-screen) {
    }
  @include media($small-screen) {
  
  }
  @include media($medium-screen) {
   font-size: modular-scale(8);
   text-align:left;
  }
  @include media($large-screen) {

  }
}
h2{ 
  font-weight:$weight-bold;
  font-size: modular-scale(3);
  line-height: $heading-line-height;
  padding-bottom: 3px;
  border-width:1px;
  border-bottom-style:solid;
  a{
   color:$uw-black;
   text-decoration:none;
   &:hover{
    text-decoration:underline;
    }
  }
  .uw-site-navigation &{
    background-color:$light-gray;
    max-width:93%;
    font-size: modular-scale(1);
  }
 .uw-site-footer2  &{
  font-size: modular-scale(2);
  } 

  // remove the borders
  &.no-border,
  .view-opportunities &,
  &.home-listing-block-link,
  &.event-title,
  &.anchor-name,
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo &,
  .view-uw-service-categories &,
  .uw-site--modal-wrap &{ 
    border-bottom-style: none;
  }
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo &{
      font-size: modular-scale(2);
  }
  .blog-post-header &{
    margin-bottom:0;
    border-bottom-style: none;
  }
  #site-sidebar  &  {
  button{
    text-align:left;
    background:none;
    color:$black;
    padding:0;
    line-height:inherit;
    margin:0.8rem 0;
    font-size: modular-scale(1);
    font-weight: $weight-bold;
    
    }
  }
  .view-content &{
    &:first-child{
      a{
        text-decoration: none;
        // font-size: modular-scale(2);
        // text-transform: uppercase;
        &:hover{
           text-decoration: none;
        }

      }
       span{
           font-size: modular-scale(0);
           font-family: $base-font-family;
           font-weight:300;
        } 
    }
  }
  .uw-site--modal-wrap &{
    text-transform:uppercase;
    button{
      text-align:left;
      background:none;
      color:$white;
      padding:0;
      line-height:inherit;
      margin:0.8rem 0;
      font-weight: $weight-bold;
      font-size: modular-scale(3);
    }
  }
  @include media($xsmall-screen) {
   
  }
  @include media($small-screen) {
   
  }
  @include media($medium-screen) {
    font-size: modular-scale(4);
    text-align:left;
   
  }
  @include media($large-screen) {
    .uw-site-navigation &{
       font-size: modular-scale(2);
    }
  }
}
h3{
  line-height: $heading-line-height;
 #site-sidebar & {
  button{
    text-align:left;
    background:none;
    color:$black;
    padding:0;
    line-height:inherit;
    margin:0.8rem 0;
    font-size: modular-scale(1);
    font-weight: $weight-bold;
    }
  }
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo & {
      font-size: modular-scale(1);
  }
  font-size: modular-scale(2);

  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
   
  }
  @include media($medium-screen) {
    font-size: modular-scale(3);
  }
   @include media($large-screen) {
   
  }
}
h4{ 
  font-size: modular-scale(1);
  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
   
  }
  @include media($medium-screen) {
      font-size: modular-scale(2);
  }
   @include media($large-screen) {
   
  }
}
h5{ 
  font-size: modular-scale(0);
  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
  }
  @include media($medium-screen) {
    font-size: modular-scale(1);
  }
}
h6{  
  font-size: modular-scale(-1);
  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
  }
  @include media($medium-screen) {
  font-size: modular-scale(0);
  }
   @include media($large-screen) {   
  }
}
p {
  margin: 0 0 1rem;
  font-size: modular-scale(0);
  line-height:$base-line-height;
  font-weight:$weight-regular;
  font-family:$base-font-family;
    @include hidpi(1.5) {
   font-weight:$weight-light;
  }
  @include hidpi(2) {
   font-weight:$weight-light;
  }
   #site-footer &{
      font-weight:$weight-regular;
      font-size: modular-scale(-2);
    }
  .node-uw-web-form &{
    .field-name-field-contact-watiam-id &{
      font-size: 90%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      font-style: italic;
    }
    .uw-site-sidebar-wrapper &,
    .uw-site-sidebar &{
      font-size: modular-scale(-1);
      font-weight:$weight-regular;
      font-family: $base-font-family;
    } 
  }
  &.lead {
    margin: 0 0 $small-spacing;
    font-weight:$weight-regular;
    color:$black;
    text-align:center;
    font-size: modular-scale(1);
    line-height:$base-line-height;
    @include media($small-screen) {
    }
  }
  .uw-site-sidebar-wrapper &,
  .uw-site-sidebar &{
    font-size: modular-scale(-1);
    font-weight:$weight-regular;
    font-family: $base-font-family;
  } 
}
.highlight{
  font-size: modular-scale(1);
  line-height:$base-line-height;
  color:$gray;
  .uw-site-sidebar--wrapper &{
    font-size: modular-scale(0);
    
  }
}
.caption{
  // margin-top: -1rem;
  border: solid 1px #ddd;
  padding: 0.5rem;
  font-size: modular-scale(-2);
  color:$dark-gray;
  .uw-site-sidebar &{
    font-size: modular-scale(0);
  }
}
.read-more-link{
  text-align:center;
  margin:1rem 0;
  .uw-site-sidebar &{
    margin:0.5rem 0 0 0;
  }
  .view-footer &{
    margin:1rem 0;
  }
}
a{
  @include transition (color 0.3s linear );
  &:link,
  &:active{
    text-decoration: underline;
  }
  &:hover {
    // color:$action-color;
    @include transition (color 0.3s linear );
    text-decoration: none;
  }
  &:focus {
    // outline: none;
    // color:$action-color;
    @include transition (color 0.3s linear );
    text-decoration: none;
  }
  .read-more-link &{
    text-decoration:none;
    &:hover{
    color:$white;
    }
  }
  .uw-site-sidebar--wrapper  .views-field-title &{
    font-size: modular-scale(-1);
    font-weight:$weight-regular;
    font-family: $base-font-family;
  } 
  .home-listing-block-link &{
    .front &{
      font-size: modular-scale(3);
      line-height: $heading-line-height;
      color:$uw-black;
      font-family:$condensed-font-family;
      font-weight:$weight-regular;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  // .uw-site-footer2 #site-footer &{}
  .local-ist &{
        font-family: $condensed-font-family;
        font-size: modular-scale(-1);
        padding:0.25rem;
        display:block;
        @include media ($xsmall-screen){
         font-size: modular-scale(-2);
          padding:0.15rem 0.25rem;
        }
        @include media ($medium-screen){
          font-size: modular-scale(-1);
        }
        text-decoration:none;
        &:hover{
          color:$yellow-dark;
          text-decoration:underline;
        }  
    }
  .views-field-title &{
    font-size: modular-scale(2);
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    .uw-site--modal-wrap &{
      font-size: modular-scale(-1);
      font-weight:$weight-regular;
      font-family: $base-font-family;
    }
  } 
  .block-uw-ct-news-item-news-by-audience &, 
  .block-uw-ct-news-item-news-by-date &, 
  .block-uw-ct-contact-contacts-by-group &, 
  .block-uw-ct-person-profile-profile-by-type &, 
  .block-uw-ct-project-project-by-status &, 
  .block-uw-ct-project-project-by-audience &, 
  .block-uw-ct-project-project-by-topic &, 
  .block-views-events-with-calendar-block-1 &, 
  .block-uw-ct-event-events-by-audience &, 
  .block-views-event-type-block-events-by-type &, 
  .block-views-uw-blog-recent-block-1 &, 
  .block-uw-ct-blog-blog-by-audience &, 
  .block-uw-ct-blog-blog-by-date &, 
  .block-views-uw-blog-topics-block-1 &,
  .block-views-5bbe76328202cacac13375a40dd59481 &{
    font-size: modular-scale(-1);
    font-weight:$weight-regular;
    font-family: $base-font-family;
    line-height:$heading-line-height;
  }
  .submitted &,
  .links-wrapper &{ 
    color:$uw-black;
    font-size:modular-scale(-2);
    text-transform:inherit;
  }
  .uw-site--header &{
    font-family: $condensed-font-family;
    text-transform:uppercase;
    font-size: modular-scale(3);
    line-height: $heading-line-height;
    @include media($medium-screen)
    {
       font-size: modular-scale(6);
    }
    text-decoration: none;
    &:hover{
      text-decoration:underline;
    }
  }
  .feed-icon &{
    @extend %button;
    max-width:100%;
    text-align:center;
    position:relative;
    text-decoration:none;
    line-height:inherit;
    &:hover{
      background-color:$uw-black;
      text-decoration:none;
    }
  }
  .rss_link &{
   @extend %button;
   max-width:100%;
   text-align:center;
   position:relative;
   text-decoration:none;
   border:solid transparent 0px;
    &:hover{
      background-color:$uw-black;
      text-decoration:none;
    }     
  }
  .blog-post-header h2 & {
      text-decoration:none;
      display:block;
      padding-bottom:0.5rem;
      &:hover{
         text-decoration:underline;
      }
  }
  .site-menu &{
    font-family:$condensed-font-family;
    font-size: modular-scale(-1);
    text-decoration:none;
  }
.uw-footer-phone &{
    color:$yellow-dark;
    text-decoration:none;
    display:inline;
    &:hover{
    text-decoration: underline;
   }
  }
  .breadcrumb &{
    padding: 0;
    text-decoration: none;
    font-size: modular-scale(-2);
    font-weight:$weight-regular;
    &:last-of-type{
      font-weight:$weight-regular;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  h2 & {
    text-decoration: none;
  }
  .node-uw-blog .field-name-field-tag .field-items .field-item &{
    font-size: modular-scale(-2);
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    text-decoration:none;
    text-transform:uppercase;
    &:hover{
      text-decoration:underline;
    }
  }
  h3 &{
     color:$uw-black;
  }
}
hr {
  border-width:1px;
  border-top-style:solid;
  margin-bottom: 1rem;

}
img,
picture {
  height: auto;
  max-width: 100%;
  margin:0;
  border:none;
  outline:none;
  a &{
    border:none;
    outline:none;

  }
  .view-uw-service-categories &{
    float:left;
    // padding:1rem 1rem 1rem 0;
  }
  &.block{
    display: block;
  &.space-bottom-like-column{
    margin-bottom:1.250rem;
    }  
  }
  &.wide {
    .space-bottom-like-column{
     margin-bottom:1.875rem;
    }
  } 
}
object{
  .uw-site--main-content &{
    max-width: 100%;
  }
}
address {
  margin-bottom: 1rem;
}
strong{
  font-weight:$weight-extrabold;
}
/* Blockquotes */
blockquote
 {
  &:lang(en) {
  quotes: "\201C" "\201D" "\2018" "\2019";
  }
  &:lang(fr) {
  quotes: "\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";
  }
  padding: 2rem 2rem;
  .page-blog &{
      margin:0 auto;
      padding: 2rem 0.5rem;
  }
  background: $light-gray;
  color: $gray;
  text-align: center;
  line-height: $base-line-height;
  font-size: modular-scale(4);
  font-family:$condensed-font-family;
  font-weight:$weight-bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  > p:before {
    font-size: modular-scale(9);
    content:"\201C";
    color:$gray;
    font-family: 'arial',sans-serif;
    font-weight:$weight-bold;
    display:inline-block;
    text-align:left;
    height:1rem;
    line-height: modular-scale(6);
    padding-left: 0.4rem;
    vertical-align: text-top;

  }
  > p:after {
  font-size: modular-scale(9);
  content:"\201D";
  color:$gray;
  font-family: 'arial',sans-serif;
  font-weight:$weight-bold;
  display:inline-block;
  text-align:left;
  height:1rem;
  line-height:modular-scale(9);
  padding-left: 0.4rem;
  vertical-align: text-top;
  }
  p{

  color: $gray;
  text-align: center;
  line-height: $base-line-height;
  font-size: modular-scale(4);
  font-family:$condensed-font-family;
  font-weight:$weight-bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  }
  footer {
      p{
        &:before,
        &:after{
          content:"";
         
        }
      }
      color: $gray;
      font-weight:$weight-regular;
      font-family:$base-font-family;
      font-size: modular-scale(1);
      margin: 1.7rem 0rem;
    strong {
      font-family:$condensed-font-family;
      font-weight:$weight-bold;
      font-size: modular-scale(1);
      text-transform: uppercase;
        color: $gray;
      &:before {
       content: "\2014 \0020";
     }
    }
  }
}
span{
  &.hp-opportunity--type{
      font-size: modular-scale(-2);
      font-family:$condensed-font-family; 
      font-weight:$weight-bold;
      color:$gray;
   }
   &.hp-opportunity--deadline-label{ 
      font-size: modular-scale(-1);
      font-weight:$weight-bold;
      font-family:$condensed-font-family;
      text-transform:uppercase; 
        ~ span{
           text-transform:uppercase;
           font-family: $base-font-family;
           font-size:modular-scale(-1);
          
        }
    }
   .submitted &{ 
      color:$black;
      display:block;
      font-family: $base-font-family;
      @include fontdpi();
      font-size: modular-scale(0);
      text-transform:uppercase;
      padding:0 0;
     &.username{
        text-decoration: none;
        font-size:modular-scale(-1);
        // text-transform: uppercase;
        color:$uw-black;
        margin:0;
      }
      &.uw-author{ 
        font-family: $base-font-family;
         // @include fontdpi();
        color:$uw-black;
        display:block;
        clear:both;
        font-size:modular-scale(-1);
       
      }
      
   }
  &.date-display-single{ 
    font-family: $base-font-family;
     // @include fontdpi();
    color:$uw-black;
    display:block;
    clear:both;
    font-size:modular-scale(-1);
   
  }
 .local-ist &{
      font-family:$condensed-font-family; 
      color:$white;
      font-weight:$weight-regular;
      font-size: modular-scale(-1);
      display:inline-block;
       padding: 0 0.25rem;
  }

  &.uw_notice{
    &--date{
      display:block;
      text-transform:uppercase;
    }
    &--title{
      display:block;
      font-size: modular-scale(1);
      @include media($large-screen) {
       font-size: modular-scale(0);
      }
      color:$black;
      font-family:$condensed-font-family;
      font-weight:$weight-regular;
    }
    &--desc{
      display:block;
      margin:0.25rem 0;
       @include media($large-screen) {
         margin:0;
      }
      // color:$black;
      font-size: modular-scale(0);
      @include media($large-screen) {
       font-size: modular-scale(-1);
      }
    }
  }

}
.field-name-field-news-date{
      color:$black;
      display:block;
      font-family: $base-font-family;
      @include fontdpi();
      font-size: modular-scale(0);
      text-transform:uppercase;
      padding:0 0;
}
cite {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
}
caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: 0.5rem;
  font-style: italic;
}




// contacts page
.field-name-field-profile-title,
.field-name-field-contact-title{
 .field-item{
   font-weight:$weight-light;
   font-family:$condensed-font-family;
  line-height: $heading-line-height;
  }
}


// custom view overwrites

.field{
  .field-label{
     font-size: modular-scale(2);
     font-weight:$weight-bold;
     font-family:$condensed-font-family;
     float:none;
     margin-top: 1.2rem;
     color:$uw-black;
     margin-bottom: 0.5rem;
  }
}
.date-display-single,.date-display-end,.date-display-start{
  text-transform:uppercase;
  font-weight:$weight-regular;
  font-size: modular-scale(-1);
  


}
.date-display-range{
  background:$light-gray;
  padding:0.25rem 0;

}
.date-display-end{margin-left:0.5rem;}
.date-display-start{margin-right:0.5rem;}
.view .service-title,
.service-title-by-category,
.view-uw-by-audience a,
div.views-field.views-field-title-1 > span > a{
  font-size: modular-scale(2);
  font-weight:$weight-bold;
  font-family:$condensed-font-family; 
}
.service-title-by-category{
  margin-top:0.5rem;
  margin-bottom:0.45rem;
}
.page-services-by-audience {
  .item-list {
     margin:1rem 0;
    a{
      font-size: modular-scale(2);
      font-weight:$weight-bold;
      font-family:$condensed-font-family; 
    }  
  }
  
}

  .uw-site-flex{ 
   font-weight:$weight-regular;
   color:$white;
  } 
// navigation 
 .uw-site-footer--global{
    font-size: modular-scale(-2);
    font-weight:$weight-regular;
    .global-menu li a {
      font-family: $condensed-font-family;
      text-transform:uppercase;
      padding:1rem 0.25rem;
      display:block;
      text-decoration:none;
      @include media ($xsmall-screen){
         font-size: modular-scale(-2);
         padding:0.17rem;
      }
      @include media ($medium-screen){
        font-size: modular-scale(-1);
        padding:0rem 0;
      }
      &:hover{
        color:$yellow-dark;
         text-decoration:underline;
        }
      }
  }
  .uw-header--nav__university{
    .global-menu li a {
    font-family: $condensed-font-family;
    text-transform:uppercase;
    font-size: modular-scale(-1);
    text-decoration:none;
    &:hover{
      // color:$yellow-dark;
       text-decoration:underline;
      }
    }
  }



.field-content{

  margin: 0;
  font-size: modular-scale(0);
  line-height:$base-line-height;
  font-weight:$weight-light;
  font-family:$base-font-family;
  .view-opportunities &{
    font-weight:$weight-regular;
  }
  .uw-site-sidebar--wrapper &{
    font-size: modular-scale(-1);
    line-height:inherit;
  }
  .uw-site-modal--wrapper &{
    font-size: modular-scale(-1);
    line-height:inherit;

  }
}


.submitted{

  display:inline-block;
  line-height:$heading-line-height;
  color:$gray;
  font-size:modular-scale(-1);
  // text-transform:uppercase;

  }

//module overwrites


 div.uw-site-footer1--logo-dept{
 text-transform:uppercase;
 font-weight:$weight-bold;
 font-family:$condensed-font-family !important;
 color:#fff;
 // line-height:3.5rem;
 font-size: modular-scale(3);
}
  .uw-site-footer2{ 
      #site-footer &{
      color:$white;      
      h2,h3,h4,h5,h6,p{
        color:$white;
        a{
          color:$white;
          img{
            border:none;
            outline:none;
          }
       }
      }
      a{
        color:$white;
        &.local-ist{
          font-family: $condensed-font-family;
          font-size: modular-scale(-1);
          padding:0.25rem;
          display:block;
          @include media ($xsmall-screen){
           font-size: modular-scale(-2);
            padding:0.15rem 0.25rem;
          }
          @include media ($medium-screen){
            font-size: modular-scale(-1);
          }
          text-decoration:none;
          &:hover{
            color:$yellow-dark;
            text-decoration:underline;
          }  
        }
        #site-footer &{ 
         color:$white;
         font-weight:$weight-regular;
         font-size: modular-scale(-1);
         text-decoration:underline;
         &:hover{
            text-decoration:none;
           }
          img{
            border:none;
            outline:none;
          }
        }
      } 
    } 
   }    
    
  

//home-page-banner
  .banner{
    span{
     font-size: modular-scale(-1);
     font-weight:$weight-regular;
    @include media($medium-screen)
          {
            font-size: modular-scale(0);
          
          }
    }
    strong{
       a{
        .org_default &{
           color:$uw-gold;
        }
         font-size: modular-scale(3);
          @include media($medium-screen)
          {
           font-size: modular-scale(4);
          }
        &:hover{
          // color:$uw-gold;
          text-decoration:underline;
        }
      }
     
      text-decoration: none;
      &:after {
        // content: ' »'; color: #FFF; text-decoration: none;
      }
    }

  }
//

//SIdeBAr
.uw-site-sidebar{
  &--wrapper{
    font-size:modular-scale(0);
    font-weight:$weight-regular;
    color:$dark-gray;
    @include media($medium-screen){
       font-size:modular-scale(-1);
    }
  }
  &--promo{
   label{
      font-size:modular-scale(-1);
    }
  }
  &--second{
  label{
      font-size:modular-scale(-1);
    }
  }
}
.view-opportunities{
  br{
    display:none;
  }
  strong{
      font-size: modular-scale(1);
      font-weight:$weight-bold;
      font-family:$condensed-font-family; 
  }
  .views-field-field-opportunity-type{
    span{
      font-size: modular-scale(-2);
      font-family:$condensed-font-family; 
      font-weight:$weight-bold;
      color:$gray;

    }
  }    
}

 .views-summary-unformatted &{
      font-size: modular-scale(0);
      font-weight:$weight-bold;
      font-family:$condensed-font-family; 
      padding:0.25rem 0.5rem;
      margin:0;
      background:$tab-bg-color;
      text-decoration:none;
      margin-bottom: 0.5rem;
      display:inline-block;
    &:hover{
      // color:$white;
     background:$tab-bg-active;
    }
  }
// *{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//     &:hover{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//   }
// }


 label{
  .views-exposed-form  &{
     font-size: modular-scale(-1);
     font-weight:$weight-regular;
    .logged-in &{
       font-size: modular-scale(-1);
       font-weight:$weight-regular;
      }
    }
 }
table{
   line-height:1.4;
   font-size: modular-scale(-1);
   p,b{
     line-height:1.4;
      font-size: modular-scale(-1);
   }
  td &{
  line-height:1.4;
  font-size: modular-scale(-1);
  }
}
a{
  @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
  &:hover{
    @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
  }
}


// jquery theme ui.
.ui-widget {
  font-size: modular-scale(-1);
  line-height:1;
  font-weight:$weight-light;
  font-family:$base-font-family;
  .ui-widget & {
    font-size: modular-scale(-1);
    input,select,textarea,button{
      font-size: modular-scale(-1);
      line-height:$base-line-height;
      font-weight:$weight-light;
      font-family:$base-font-family;
      }
    }
    input,select,textarea,button{
      font-size: modular-scale(-1);
      line-height:$base-line-height;
      font-weight:$weight-light;
      font-family:$base-font-family;
    }
  
}
.ui-autocomplete-field-title {
   font-size: modular-scale(0);
    font-weight:$weight-regular;
    font-family:$base-font-family;
    color:$dark-gray;
    .ui-autocomplete-field-term {
       color:$uw-black;
    }
}
.ui-autocomplete-field-term {
   font-size: modular-scale(0);
    font-weight:$weight-regular;
  font-family:$base-font-family;
  color:$uw-black;
}