/* position 1 */

$colorbars: 
org_default #fffaaa #ffea30 #fdd54f #e4b429,
org_ahs #97DFEF #00BED0 #0098A5 #005963,
org_art #FFD5A5 #FBAF00 #E78100 #D93F00,
org_eng #D0B4EF #BE33DA #8100B4 #57058B,
org_env #DAF582 #BED500 #B4BE00 #607000,
org_mat #FFBEEF #FF63AA #DF2498 #C60078,
org_sci #B4D5FF #63A0FF #0073CE #0033BE,
org_school #FFA5AA #E41740 #B71233 #80001F,
org_cgc #FFA5AA #E41740 #B71233 #80001F,
org_ren #FFA5AA #E41740 #B71233 #80001F,
org_stj #FFA5AA #E41740 #B71233 #80001F,
org_stp #FFA5AA #E41740 #B71233 #80001F;

body,div {
  @each $colors in $colorbars {
     &.#{nth($colors, 1)} {
      .uw-site--c1{background-color:nth($colors, 2);}
      .uw-site--c2{background-color:nth($colors, 3);}
      .uw-site--c3{background-color:nth($colors, 4);}
      .uw-site--c4{background-color:nth($colors, 5);}
      }
  }
}
