/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties: 
  org_default  $uw-black $uw-black  darken($uw-default,8%) url('../images/chevrons-yellow.png') $medium-gray default $uw-gold , 
  org_ahs $sotu-teal $uw-ahs-light darken($uw-ahs,9%) url('../images/chevrons-teal.png') $uw-ahs ahs $uw-ahs-light,
  org_art $sotu-orange $uw-arts-light darken($uw-arts,5%)url('../images/chevrons-orange.png') $uw-arts arts $uw-arts-light,
  org_eng $sotu-purple  $uw-engineering-light darken($uw-engineering,5%) url('../images/chevrons-purple.png') $uw-engineering eng $uw-engineering-light,
  org_env $sotu-green $uw-environment-light  darken($uw-environment,5%) url('../images/chevrons-green.png') $uw-environment   env $uw-environment-light,
  org_mat $sotu-fushia $uw-math-light darken($uw-math,5%) url('../images/chevrons-pink.png') $uw-math math $uw-math-light,
  org_sci $sotu-blue $uw-science-light darken($uw-science,5%) url('../images/chevrons-pink.png') $uw-science sci $uw-science-light,
  org_school $uw-school $uw-schools-light darken($uw-school,5%) url('../images/chevrons-red.png')  $uw-school   school $uw-schools-light,
  org_cgc $uw-cgc 000  darken($uw-cgc,5%) url('../images/chevrons-cgc.png') $uw-cgc cgc $white,
  org_ren $uw-ren  #D2C295  darken($uw-ren,5%) url('../images/chevrons-ren.png') $uw-ren ren $white,
  org_stj $uw-stj #01573E  darken($uw-stj,5%) url('../images/chevrons-stj.png') $uw-stj stj $white,
  org_stp $uw-stp #584528  darken($uw-stp,5%) url('../images/chevrons-stp.png') $uw-stp stp $white;
  
*{
  @each $faculty in $faculties {
    &.#{nth($faculty,7)}{
      color: nth($faculty,2); 
      h3{
        color: nth($faculty,3); 
      }
      .types &{
        color:nth($faculty,3);
        background-color: nth($faculty,2); 
      }
      &.pathway{
        
        &.has_image{
           a{
              h3{
                color: nth($faculty,3); 
              }

            &:hover,
            &:focus{
               background:nth($faculty,2)!important;
                opacity:0.9 !important;  
              h3{
                 color: nth($faculty,3); 
                }
              }
            }
            &.default{
              a {
                h3{
                  color:$white;
                }
              }
            }
          }
        
        }
     }
  }
}

body,
div{
  @each $faculty in $faculties {
    &.#{nth($faculty,1)} {
      h1,h2,h3,h4,h5,h6{
        // color:$black; 
      }
     hr,h2{
        border-color:nth($faculty,6);
      
      }
      blockquote {
         color: nth($faculty,2);
        p{
          color: nth($faculty,2);
        }
        cite{
           color: nth($faculty,2);
           strong{
             color: nth($faculty,2);
           }
        }
      }
     .marketing-item blockquote{
          color: $white;
          p{
             color: $white;
          }
          cite{
                color: $white;
             strong{
                 color: $white;
             }
          }
        }
      .node-uw-ct-single-page-home .field-name-field-sph-copy .expandable h2:first-child button,
      .node-uw-ct-single-page-home .field-name-field-sph-copy .expandable-controls button{
        color: nth($faculty,8);
        background-color: nth($faculty,2);
        &:hover,
        &:focus{
          color: nth($faculty,2);
          background-color: nth($faculty,8);
           &:after{
             color: nth($faculty,2);
          }
        }
        &:after{
          color: nth($faculty,8);
        }
      }
      .node-uw-ct-single-page-home .field-name-field-sph-copy .expandable-controls button.expand-all{
        border-right:1px solid nth($faculty,8);
        }
      .uw-footer,.uw-site-footer.open-site-footer{

        // background-color: nth($faculty,2);
      }
      .paragraphs-items-field-events-full a h3{
        color:$dark-gray;
        font-weight:regular;
      }
      .quick-link{
        border-color:nth($faculty,6);
      }
      .uw-site--modal-wrap h2 { 
        color:$white; 
      }
      a{
        color: nth($faculty,2);
        &:visited{
        }
         &:link{
        color: nth($faculty,2); 
        } 
        &:hover{
          color: nth($faculty,4);
        }
        &:focus{
        }
        &.search-button{
          color:$white;
         }
      }
      .skip a{
        color:$black;
      }
      .pathway a{
        color:$black;   
      }
      .marketing-item a{
        color:$black;
      }
     .pathway.has_image a {
        color:$white;
        h3{

        }
        p{
          font-weight:500;
          font-size:modular-scale(1);
        }
    }
    .quick-link a{
          // color:$uw-black;
     }
     .uw-site--modal-wrap a{
       color:$white;
     }
     .date-heading a{
       color: nth($faculty,3);
     }
     .banner {
        a{
           color: nth($faculty,3);
        }
      }
      .uw-footer-phone{
         a{
           color: $yellow-dark;
        }
      }
      .responsive-nav-menu {
        a {
         color:$white;
       }
      }
      .ui-menu {
        .ui-menu-item {
         a{
            color:$dark-gray;
             } 
          }
       }
      ul.share-buttons{
      li{
        a { 
          &:before{
            background-color: nth($faculty,2);
            }
             &:hover{
               &:before{
               background-color: nth($faculty,4);
               color: $white;
              }
            }
          }
        }
      }
      .global-menu {
        li {
          a{
            color:$white; 
            &:hover{
              text-decoration:underline;
            }
          }
        }
      } 
    

      .uw-site--header{
        color: nth($faculty,2); 
      }
      .uw-site-navigation h2{
        background-image:nth($faculty,5);
        border-bottom: solid 1px $medium-gray;
      }
     
    } 
  }
}


