.uw-section{ 
  &--inner{
    .uw-site--watermark &{
      @include outer-container();
      background: url(../images/ghost-waterloo-grey.png) no-repeat 0 102%;
      background: url(../images/ghost-waterloo-grey.svg) no-repeat 0 102%;
      @include media($large-screen){
       background-position:0 2px;
       background-position:0 2px;
       padding:0;    
      }
      background-size: contain;
      height:7.3rem;
      height:0;
      display:none;
      opacity: 0.65;
    }     
    .uw-site-footer &{
      @include outer-container();
        min-height:5.625rem;
    }
    .uw-site-footer.open-site-footer &{
        // background-color:transparent;
        //  @include uw-transition($delay: 0s, $duration:100ms,  $timing:'linear', $property: (height,opacity,visibility,background-color));
      }
    .uw-site-share &{
      @include outer-container(100%);
      min-height:3rem;
      background:#eee;
      padding:0;

      @include media($medium-screen){
      
      padding:0rem 0.8rem 0rem 0.8rem;   
      
      }
      @include media($large-screen){
      padding:0rem;   
      }
    }
    .uw-site-footer--global &{
      @include outer-container();
      padding:0;   
    }    
  } 
}
.uw-site{
  &--watermark{
    @include outer-container(100%);
    height:7.3rem;
  }
  &-footer{
    @include outer-container(100%);
    position:relative;
      @include uw-transition($delay: 0s, $duration:400ms,  $timing:'linear', $property: (height,opacity,visibility,background-color));
    &.open-site-footer {
      background-color:darken($site-footer-bg , 5);
      @include uw-transition($delay: 0s, $duration:400ms,  $timing:'linear', $property: (height,opacity,visibility,background-color));
    }  
    &--global{
      background-color:$site-global-footer-bg;
      position:relative;
      color: $white;
    }
  }
  &-share{
    @include outer-container(100%);
    background-color:#eee;
  }
}

 
// region footer
  .uw-footer,
  #uw-footer{

  background-color:$site-footer-bg;
  border:none;
  // padding:0;
  margin-top: 0;
  clear: both;
  position: relative;

}
/*cas login*/
.cas_login {
  position: absolute;
  bottom: 0.6250rem;
  right: 0.6250rem;
  width: auto;
  margin: 0;
  font-size: modular-scale(-2);
  a{
      color: #aaa;
      background-color: #000;
      text-decoration: none;
   &:visited{
    color: #aaa;
    background-color: #000;
    text-decoration: none;
   } 
  }
}