.uw-section{ 
  &--inner{
   .uw-header--global &{
      padding:0rem 0rem 0rem 0.8rem;
    }
    .uw-site--header &{
    position:relative;
    }    
    .uw-site--offcanvas &{
      @include outer-container(100%);
      .menu-open &{
          overflow-x: hidden;
      }
      @include media($medium-screen){
      }
    }
  }
}
.uw-site{
  &--inner{
    overflow:hidden;
    @include outer-container(100%);// make 100% for full width
  }
  &--header{
      position:absolute;
      
      width:100%;
      top:0;
      z-index:map-get($zindex, header);
    @include media($medium-screen){
      position:absolute;
    }
    text-align:center;
    min-height:$site-header-height;
    line-height:$base-line-height;
    height:auto;
    background-color:$site-header-bg;
    text-transform:uppercase;
    background:rgba(255,255,255,0.8);
    img {
      vertical-align: bottom;
    }
  }
  &--off-canvas{
    @include outer-container(100%);
    overflow:hidden;
  }
}


// region header
.uw-header{

  background-color:$site-global-header-bg;
  min-height:$site-global-header-height;
  position:relative;
  @include outer-container();
  &--content{
    ul{
      margin-left:0;
      padding-left:0;
    
    }
  }
  &--logo {
    height:$site-global-header-height;
    // @include span-columns(6 of 12);
      float: left;
      display: block;
      margin-right: 1.80505%;
      width: 49.09747%;
     .uw-logo {

        margin: 1.3rem 0 0 0;
        display: block;
        width: 100%;
        height:1.875rem;
        @include media($small-screen) {
          margin: 1.15rem 0 0 0 ;
          height:2.188rem;
        }
        @include media($medium-screen) {
          height:2.5rem;


        }
        @include media($large-screen) {
          height:2.688rem
        }
        text-indent: -999rem;
        background: url("../images/uwaterloo-logo.svg") no-repeat 0 50%;
        background-size: contain;
        max-width: 10.563rem;
    }
    @include media($medium-screen) {
    @include span-columns(12 of 12);
      .uw-logo{
      float: left;
      display: block;
      margin-right: 1.80505%;
      width: 32.12996%;
      margin-left: 38.1769%;
      margin-top: 1.5rem;
      max-width: 12.5rem;
      text-align: center;
      }
    }
    @include media($large-screen) {
      float: left;
      display: block;
      margin-right: 1.80505%;
      width: 19.40433%;
      @include shift(0);
      .uw-logo {
        width: 100%;
        max-width: 10.750rem;
        margin:1rem 0 0 0 ;
        @include shift(0);
      }
    }
      
  }
  &--buttons{
         float: left;
    display: block;
    width: 40.61372%;
    margin-left: 8.48375%;
    margin-right: 0;
       height:$site-global-header-height;
      @include media($small-screen) {
        @include span-columns(4 of 12);
        @include shift(2);
            float: left;
    display: block;
    margin-right: 1.80505%;
    width: 32.12996%;
    margin-left: 16.96751%;
      }
      @include media($medium-screen) {
        border:none;
        float: left;
        display: block;
        width: 6.6787%;
        margin-left: 0;
        top: 3.2rem;
      }          
      @include media($large-screen) {
          right:0;
          top:0;  
      }
      &__search{
           float: left;
    display: block;
    width: 47.19101%;
    height: 100%;
    text-align: center;
    margin-left: 5.61798%;
    // border-left: 1px solid rgba(255,255,255,.2);
    margin-right: 0;
         border-left:1px solid transparentize($white, 0.8);        
        @include omega; 
         @include media($medium-screen) {
         @include span-columns(1 of 1);
           border:none;
         }
         a{
          height: 100%;
          font-family: $condensed-Book-font-family;
          letter-spacing:0.045rem;
          text-transform: uppercase;
          font-size: modular-scale(-1);
          text-decoration: none;
          display: block;
          padding-top: 0.9rem;
          @include media($medium-screen) {
            padding-top: 0;
           }
           @include media($large-screen) {
            padding-top: 0.9rem;
           }
          &.search-button{
            text-decoration:none;
            @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color));
            &:hover{
              color:$uw-gold; 
              .ifdsu{color:$uw-gold; @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color));}
            }
            .ifdsu{ display:block;
              font-size: modular-scale(2);
              padding-bottom:0.1rem;
              &:hover{
                
              }

            }
          }
        }
      }
      &__nav{
           height: 100%;
    float: left;
    display: block;
    width: 47.19101%;
    border-left: 1px solid rgba(255,255,255,.2);
    margin-right: 0;
        border-left:1px solid transparentize($white, 0.80);
        label{
          height: 100%;
          text-align: center;
          font-family: $condensed-font-family;
          font-size: modular-scale(-1);
          text-transform: uppercase;
          font-weight:400;
        }
        @include omega;
        @include media($medium-screen) { display:none; }
      }
  } 
  // global header
  &--global{
      @include outer-container(100%);
      background-color:$site-global-header-bg;
        nav{
          display:block;
          width:100%;
          @include media($medium-screen) {
              float: left;
              display: block;
              margin-right: 1.80505%;
              width: 83.03249%;
              min-height: 4.375rem;

        }
          @include media($large-screen) {
            // copied from the fdsu theme as the header was not displaying consistantly 
            float: left;
            display: block;
            margin-right: 1.80505%;
            width: 70.30686%;
          
          }
        }
      .global-menu{
        display: none;
        padding-left: 0;
        @include media($medium-screen) {
          display:block;
          text-align:center;
          padding-top: 0.3rem;
        }
        @include media($large-screen) {
          padding-top: 1.2rem;
        }
        li{
          display: inline-block;
          padding: 0 0.5rem;
        }
      }
  }
}
