/* Global */
body {
  margin: 0;
  padding: 0;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 18px;
  color: #252525;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 3em;
  line-height: 100%;
  margin:0;
  padding: 0 0 5px 0;
  color:#252525;
  text-align:center;
}
h2:before {
    content: "";
  display: block;
  border-top: solid 2px #f5f5f5;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.page-results h2:before {
    content:none;
    border-top:none;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:300;
  font-size: 2.5em;
  line-height:135%;
  margin:0;
  color: #757575;
  text-align:center;
    padding: 40px 0;
    position:relative;
}
h2 span {
  padding:0 40px;
    background:#fff;
    z-index:10;
    position:relative;
    display:inline-block;
}
h2.results-title:before,
h2.results-title:after {
  display:none;
}
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
  font-size: 1.8em;
  line-height:1;
  margin:0;
  padding: 0;
  color:#252525;
  text-align:center;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 1em;
  line-height:110%;
  margin:0;
  padding: 5px 0;
  color:#252525;
  text-align:center;
}
p.highlight {
  font-size:2.5em;
  line-height:125%;
}
a {
  color:#252525;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
.clearFloat {
  clear:both;
}
img {
  border:none;
}
.fixed-header {
    position:fixed;
    background:#fff;
    top:0;
}

#block-system-main {
  background-color:transparent;
  background-image:url('../images/ghost-waterloo-grey.png');
  background-position:bottom center;
  background-repeat:no-repeat;
  background-size: contain;
  padding:0 0 200px 0;
}

.content {
    min-width:300px;
}

/* Header */
#header {
  background: #252525;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 0.6667em;
  color: #ffffff;
  position:relative;
  min-width:1000px;
  /*border-bottom: 2px solid #fce082;*/
}
#header a {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  /*font-size: 0.7778em;*/
  color: #ffffff;
  text-decoration:none;
}
#header a:hover {
  text-decoration:underline;
}
#header-content {
  height:100px;
  width:1000px;
  margin:0 auto;
  position:relative;
}
#header-logo {
  position:absolute;
  top:20px;
  left:5px;
}
#uw-logo {
    display: block;
    width: 207px;
    height: 60px;
    text-indent: -999em;
    overflow: hidden;
    background: url('../images/university-of-waterloo-logo.png') no-repeat left top;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
    #uw-logo {
        background: url('../images/university-of-waterloo-logo-2x.png') no-repeat left top;
        background-size: 207px 51px;
    }
}
#toggle-search-label {
  background: url(../images/icon-search.png) no-repeat;
  background-size: 140px 140px;
  width: 140px;
  padding-top: 140px;
  position: absolute;
  float: left;
  top: 20px;
  right: 160px;
}
#toggle-search-checkbox {
  width: 93px;
  height: 93px;
  opacity: 0;
  margin: 0px 0px 0px 0px;
  position: absolute;
  float: left;
  top: 66px;
  right: 206px;
}
#toggle-menu-label {
  background: url(../images/icon-hamburger.png) no-repeat;
  background-size: 140px 140px;
  width: 140px;
  padding-top: 140px;
  position: absolute;
  float: left;
  top: 20px;
  right: 10px;
}
#toggle-menu-checkbox {
  width: 93px;
  height: 93px;
  opacity: 0;
  margin: 0px 0px 0px 0px;
  position: absolute;
  float: left;
  top: 66px;
  right: 56px;
}
#toggle-search-label,
#toggle-search-checkbox,
#toggle-menu-label,
#toggle-menu-checkbox {
  display: none;
}
#global-search {
  position:absolute;
  top:20px;
  right:5px;
}
#global-search input[type=text] {
  width:180px;
  border:none;
  padding:4px;
  font-size:0.8em;
  text-align:left;
  font-family:Arial, Helvetica, sans-serif;
}
#global-search input[type=submit] {
  text-indent:-9999px;
  height:20px;
  width:20px;
  border:none;
  background:url(../images/chevron-gold.png) no-repeat 0 0;
  background-size: 12px 12px;
  background-position: center center;
  cursor: pointer;
}
#global-search label {
  color:#252525
}
#global-search *::-webkit-input-placeholder { /* WebKit browsers */
    color: #252525;
}
#global-search *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #252525;
    opacity:  1;
}
#global-search *::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #252525;
    opacity:  1;
}
#global-search *:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #252525;
}
#global-menu {
  list-style:none;
  position:absolute;
  right:0px;
  bottom:5px;
  margin:0;
  padding:0;
}
#global-menu li {
  float:left;
  padding:2px 10px;
  border-left:solid 1px #fff;
  margin:0;
  text-transform:uppercase;
  font-family:Arial, Helvetica, sans-serif;
/*  font-size:0.6667em;*/
}
#global-menu a {
  font-family:Arial, Helvetica, sans-serif;
  /*font-size:0.6667em;*/
  font-weight:normal;
  letter-spacing: 1.18799996376038px;
  margin:0;
  padding:0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
#global-menu li:first-child {
  border-left:none;
}

/* Banner Area */
#banner-area {
  min-width:1000px;
  position: relative;
  margin-top:33px;
}
#banner-area h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display:block;
  position: absolute;
  top:-33px;
  left:0;
  right:0;
  background: #f1f1f1;
  opacity: 0.8;
  color:#252525;
  font-size: 2em;
  line-height: 1;
  padding:0;
  z-index: 100;
}
#banner-area .banner-item {
  position:relative;
}
#banner-area .banner-item img {
  width: 100% !important;
  height: auto !important;
}
#banner-area .banner-item .banner-text {
  position:absolute;
  left:50%;
  right:auto;
  bottom:0;
  width:800px;
  padding:20px 40px;
  margin:0 0 0 -440px;
}
#banner-area .banner-item .banner-text,
#banner-area .banner-item .banner-text p {
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  font-size:0.75em;
  line-height: 1.2;
  color:#fff;
  text-shadow:#252525 2px 2px 2px;
}
#banner-area .banner-item .banner-text h2 {
  font-family:'Open Sans Condensed', sans-serif;
  font-weight:bold;
  color:#fff;
  padding: 00 14px 0;
  text-shadow:#252525 2px 2px 2px;
  font-size:2.5em;
  line-height: 1.2;
  background:none;
}
#banner-area .banner-item .banner-text h2:before,
#banner-area .banner-item .banner-text h2:after {
  height: 0;
  border: none;
  background:none;
}
#banner-area .banner-item .banner-chevron-overlay {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  background-image: url("../images/chevron.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 150;
}
#banner-area .banner-item .banner-border-overlay {
  position: absolute;
        top: 0;
        bottom: 2.6%;
        left: 0;
        right: 0;
        background-image: url("../images/hero-border.svg");
        background-repeat: no-repeat;
        background-position: bottom;
  background-size: 100% auto;
        z-index: 140;
}

/* Program Search */
#program-search {
  margin:0 auto 0 auto;
  width:1000px;
}
#program-search label {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 0.7778em;
  line-height:25px;
  margin:0 20px 0 5px;
  padding: 5px 0;
  text-align:center;
}
#program-search form {
  margin:0 auto;
    max-width:1000px;
}
#program-search input[type=radio] {
  background:none;
  border-radius:none;
  margin:0 0 0 20px;
        
}

#program-search input[type=text] {
  margin:10px auto 0 auto;
  text-align:center;
       
}
#program-search input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
  /*font-style:italic;*/
}
#program-search input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
    opacity:  1;
  /*font-style:italic;*/
}
#program-search input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
    opacity:  1;
  /*font-style:italic;*/
}
#program-search input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
  /*font-style:italic;*/
}
#program-search-2{
  width: 100%;
  margin:30px auto 0 auto;
}
#program-content-2{
  text-align: center;
  display: inline-block;
  width: 100%;
  width:1000px;
  padding: 15px 0;
}
#program-content-2 .col-50{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin: 10px 0;
}
#program-content-2 .col-40{
  display: inline-block;
  width: 39%;
  vertical-align: middle;
  margin: 10px 0;
}
#program-content-2 .col-60{
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  margin: 10px 0;
}
#program-content-2 .col-100{
  width: 100%;
}
#program-content-2 .left-justify{
  text-align: left;
}
#search-checkbox-container{
  padding: 0 0 0 10%;
}
#program-search-textbox{
  width: 60%
}
#program-search-submitbutton{
  background-color: #fce082;
  border-color: #fce082;
  border-style: solid;
        -webkit-appearance:none;
  -webkit-border-radius:0;
}
#program-search-textbox, #program-search-submitbutton {
    font-size: 0.8em;
    /*text-transform: uppercase;*/
    padding: 0.7em 0.5em;
    margin: 0.1em 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#program-content-2 h2{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 1.5em;
}
#program-search-heading{
  text-align: right;
}

/* Program Search Results */
#program-search-results {
  width: 1000px;
  margin: 15px auto 0 auto;
  display: inline-block;
}

#program-search-results .highlight {
  font-size: 1.75em;
  margin: 0 0 0 0;
  line-height: 138%
}

#program-search-results .column {
  width: 45%;
  margin: 10px 0 0 3.33%;
  padding: 0 0 0 0;
  display: inline-block;
  float: left;
}

#program-search-results .column .results-title {
  text-align: left;
  font-weight: 400;
  font-size: 2em;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #a2a2a2;
  background:#fff;
}

#program-search-results .column .result{
  margin: 0 0 0 0;
  text-align: left;
  line-height: 1.5;
  padding: 10px 0;
  border-bottom: 1px solid #a2a2a2;
}

#program-search-results .column .result p{
  text-align: left;
}

#program-search-results .column .result a{
  font-weight: 400;
}

#program-search-results .column .result a:hover{
  text-decoration: underline;
}

.tag-container{
  display: inline-block;
  margin-left: 8px;
}

.tag-container .tag{
  background-color: #757575;
  font-size: 0.75em;
  padding: 8px 8px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.tag-container .tag:hover{
  text-decoration: none !important;
}

/* Pathways */
#pathways-area {
  margin:0;
}
#pathways-content {
  width:1000px;
  margin:0 auto;
  padding:0;
}
#pathways-area .no-results {
  padding: 0 0;
}
#pathways-content .pathway {
  float:left;
  width:29%;
  padding: 0 0 20px 0;
  margin: 0 0px 0 calc(3.33% - 3.33px);
  border:2px solid #f5f5f5;
  height:225px;
}
#pathways-content .pathway h3 {
  margin:20px 25px 0 25px;
}
#pathways-content .pathway:hover {
  background-color:#f5f5f5;
  background-image:url(../images/black-chevron.png);
  background-repeat: no-repeat;
  background-position: 50% 95%;
}
#pathways-content .pathway a{
  height: 100%;
  width: 100%;
  text-decoration: none;
}
#pathways-content .pathway p{
  line-height: 1.5em;
  margin:5px 25px;
}

/* Facts and Figures */
.facts-figures {
    width:100%;
    margin:0;
    padding:0;
    position:relative;
}
.facts-figures .facts-wrapper {
  width:330px;
  margin:0 auto;
  padding:0;
  text-align:center;
}
.facts-figures .facts-group {
  position:relative;
}
.facts-figures .fact {
  float:left;
  width:290px;
  padding: 0 0 20px 0;
  margin: 0 20px 30px 20px;
  height:300px;
  color:#fff;
  font-family: 'Open Sans Condensed';
  border-width:0;
  position:relative;
  vertical-align:bottom;
  text-align:center;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;   
}
.facts-figures .fact:nth-child(1n):after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: inherit;
    border-left-color:transparent;
    position:absolute;
    content:'';
    top:-40px;
    left:50%;
    margin:0 0 0 -10px;
}
.facts-figures .fact:nth-child(2n):after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color:inherit;
    position:absolute;
    content:'';
    top:50%;
    left:100%;
    margin:-10px 0 0 0;
}
.facts-figures .fact:nth-child(3n):after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-top-color: inherit;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color:transparent;
    position:absolute;
    content:'';
    top:100%;
    left:50%;
    margin:0 0 0 -10px;
}
.facts-figures .fact:nth-child(4n):after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-top-color: transparent;
    border-right-color: inherit;
    border-bottom-color: transparent;
    border-left-color:transparent;
    position:absolute;
    content:'';
    top:50%;
    left:-40px;
    margin:-10px 0 0 0;
}
.facts-figures .fact .fact-large-text {
  font-weight: bold;
  text-transform: uppercase;
  margin:65px 20px 0px 20px;
  font-size:4em;
}
.facts-figures .fact .fact-small-text {
  font-size:1.2em;
  margin:0 35px;
}
.facts-figures .fact-jump-group {
    text-align:center;
}
.facts-figures .fact-jump-group .fact-jump-button {
    display: inline-block;
    background:#757575;
    height:10px;
    width:10px;
    border-radius:10px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    margin: 0 5px;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.facts-figures .fact-jump-group .fact-jump-button.active {
    background:#cccccc;
}
.facts-figures .fact-prev,
.facts-figures .fact-next {
    display:inline-block;
    background:#252525;
    color:#fff;
    padding:10px 0;
    width:75px;
    text-align:center;
    cursor:pointer;
    margin:10px 10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-size:0.75em;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.facts-figures .fact-prev.hide,
.facts-figures .fact-next.hide {
  visibility:hidden;
}

/* Quick Links */
#quick-link-menu {
  margin:0;
  padding:0;
}
#quick-link-menu h2,
#quick-link-menu h3,
#quick-link-menu p {
  line-height: 1.5em;
}
#quick-link-menu a {
  font-weight: 400;
  text-decoration:none;
}
#quick-link-menu a:hover {
  text-decoration:underline;
}
#quick-link-content {
  min-width: 0;
  width:100%;
  margin:0 auto;
  padding: 40px 0 40px 0;
}
#quick-link-content .quick-link {
  float:none;
  width:80%;
  padding:20px 5px;
        margin:0 auto;
        position:relative;
  border-top: 1px solid #fce082;
}
#quick-link-content .quick-link:first-child {
  border-top: none;
}
#quick-link-content .quick-link h3 {
  margin: 20px auto 5px auto;
}
#quick-link-content .quick-link p {
  margin: 0 auto;
  padding: 0;
}

/* Footer */
#footer {
  background: #252525;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.5;
  font-size: 0.6111em;
  color: #ffffff;
  position:relative;
  width: 100%;
}
#footer-content {
  height:auto;
  width: 1000px;
  margin:0 auto;
  position:relative;
  display: inline-block;
}
#footer a {
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.5;
  /*font-size: 0.6111em;*/
  color: #ffffff;
  text-decoration:none;
}
#footer a:hover {
  text-decoration:underline;
}
#footer-logo {
  float:left;
  margin:60px 0 0 5px;
}
#university-address {
  float:left;
  margin:16px 0 0 0;
  text-align:left;
}
#footer-menu .column-50-50 {
  float:left;
  margin:60px 0 0 60px;
  text-align:left;
}
#footer-menu .column-3 {
  float:left;
  margin:16px 0 0 60px;
  text-align:left;
}
#social-icons {
  float:right;
  margin:16px 0 0 70px;
}
#footer-menu a {
  display:block
}

/* Full Page - Min 420 px */
@media screen and (min-width: 420px) {
    h3 {
        padding:0 0 18px 0;
    }
  /* Quick Links */
  #quick-link-menu {      
    margin:0;
    padding:0;
  }
  #quick-link-menu h3 {
    padding: 0;
  }
  #quick-link-content {
    width:80%;
    min-width: 356px;
    margin:0 auto;      
    padding: 0px 0 40px 0;
  }
  #quick-link-content h2 {
    width: 90%;
    margin: auto;
  }
  #quick-link-content .quick-link {
    float:none;
    width:100%;
    padding:20px 0px;
    position:relative;
  }
  #quick-link-content .quick-link:first-child {
    padding-top:0;
  }
  #quick-link-content .quick-link:first-child:after {
    display:none;
  }
  .quick-link img {
    width: 90px;
    height: auto;
    margin-left: 20px;
    position: relative;
    float: none;
    top: 12px;
  }
  .quick-link h3 {
    margin: 20px auto 5px auto;
  }
  .quick-link p {
    margin: 0 auto;
    padding: 0;
  }
  
  /* Footer */
  #footer {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    font-size: 1em;
    color: #ffffff;
    position:relative;
    min-width:320px;
    width: 100%
  }
  #footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    color: #ffffff;
    text-decoration:none;
  }
  #footer a:hover {
    text-decoration:underline;
  }
  #footer-content {
    height:auto;
    width:100%;
    margin:0 auto;
    position:relative;
    display: inline-block;
  }
  #footer-logo {
    float:left;
    margin:60px 0 0 5px;
  }
  #university-address {
    float:left;
    width: 100%;
    font-size: 0.8em;
    margin:16px 0 0 0;
    text-align:center;
    display: inline-block;
  }
  #footer-menu .column-50-50 {
    float:left;
    margin:60px 0 0 60px;
    text-align:left;
  }
  #footer-menu .column-3 {
    float:left;
    margin:30px 0 0 15%;
    text-align:left;
    width: 35%;
  }
  #social-icons {
    float:left;
    margin:30px 0 0 5%;
  }
  #social-icons img {
    width: 80%;
    height: auto;
  }
  #footer-menu a {
    display:block
  }
}

/* Full Page - Phone Layout */
@media screen and (max-device-width: 599px) {
  body {
    font-size: 36px;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.75em;
  }
  /* Header */
  #header {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 0.6667em;
    color: #ffffff;
    position:relative;
    width:100%;
    min-width: 320px;
  }
  #header a {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    /*font-size: 0.7778em;*/
    color: #ffffff;
    text-decoration:none;
  }
  #header a:hover {
    text-decoration:none;
  }
  #header li:hover a{
    color: #252525;
  }
  #header li:hover {
    background-color: #fce082;
  }
  #header-content {
    height:auto;
    width:100%;
    margin:0 auto;
    position:relative;
    display: inline-block;
  }
  #header-logo {
    position:relative;
    float: left;
    top:20px;
    left:5px;
    width: 60%;
    height:auto;
  }
  #header-logo img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  #toggle-search-label,
  #toggle-search-checkbox,
  #toggle-menu-label,
  #toggle-menu-checkbox {
    display: block;
  }
  #toggle-menu-checkbox:checked ~ #global-menu li{
    display: inline-block;
  }
  #toggle-search-checkbox:checked ~ #global-search{
    display: inline-block;
  }
  #global-search {
    position:relative;
    display: none;
    top:20px;
    right:5px;
    width: 100%;
    padding: 0 0 20px 0;
  }
  #global-search input[type=text] {
    width:80%;
    border:none;
    padding:20px 0;
    font-size:1.5em;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    margin:10px auto 0 auto;
    padding:5px;
    border:1px solid #999;
  }
  #global-search input[type=submit] {
    text-indent:-9999px;
    height:65px;
    width:70px;
    border:none;
    background:url(../images/chevron-gold.png) no-repeat;
    background-size: 39px 39px;
    background-position: center center;
    cursor: pointer;
  }
  #global-search label {
    color:#252525;
    display: none;
  }
  #global-search *::-webkit-input-placeholder { /* WebKit browsers */
      color: #252525;
  }
  #global-search *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #252525;
      opacity:  1;
  }
  #global-search *::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #252525;
      opacity:  1;
  }
  #global-search *:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #252525;
  }
  #global-menu {
    list-style:none;
    position:relative;
    right:0px;
    top:5px;
    width: 100%;
    margin:0;
    padding:0;
  }
  #global-menu li {
    display: none;
    float:left;
    padding:20px 0px;
    width: 100%;
    border-left:none;
    margin:0;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2em;
    border-top: solid 2px #333;
  }
  #global-menu a {
    font-family:Arial, Helvetica, sans-serif;
    /*font-size:0.6667em;*/
    font-weight:normal;
    letter-spacing: 1.18799996376038px;
    width: 100%;
    height: 100%;
    display: block;
    margin:0;
    padding:0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  #global-menu li:first-child {
    border-left:none;
  }

  /* Banner Area */
  #banner-area {
    min-width: 320px;
    width: 100%;
  }
  #banner-area .banner-item .banner-text {
    position:absolute;
    left:50%;
    right:auto;
    bottom:0;
    width:100%;
    padding:2% 4%;
    margin:0 0 0 -54%;
  }
  .banner-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 2em;
    margin:0;
    padding: 0 0 0.5% 0;
    color:#252525;
    text-align:center;
  }
  .banner-text p {
    font-size:1.25em !important;
    line-height: 145% !important;
    /*line-height:20px;*/
  }

  /* Program Search */
  #program-search {
    margin:0 auto 0 auto;
    min-width: 0;
    width: 100%;
  }
  #program-search label {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 1em;
    line-height: 1.5em;
    /*line-height:25px;*/
    margin:0 20px 0 5px;
    padding: 5px 0;
    text-align:center;
  }
  #program-content input[type=checkbox] {
    margin: 0;
    /*zoom:2;
    transform:scale(1.5);
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
    -moz-transform:scale(1.5);*/
  }
  #program-search input[type=text] {
    /*font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:1em;*/
    margin:30px auto 0 auto;
    /*padding:15px;
    width:80%;*/
    text-align:center;
    /*border:2px solid #999;*/
  }
  #program-search-2{
    background-color:rgb(216,216,216);
    width: 100%;
    margin:30px auto 0 auto;
  }
  #program-content-2{
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:rgb(216,216,216);
    padding: 15px 0;
  }
  #program-content-2 .col-40{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
  }
  #program-content-2 .col-60{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
  }

  /* Program Search Results */
  #program-search-results {
    width: 100%;
    margin: 15px auto 0 auto;
    display: inline-block;
  }

  #program-search-results .column {
    width: 80%;
    margin: 20px 10%;
    padding: 0 0 0 0;
    display: inline-block;
    float: left;
  }

  #program-search-results .column .results-title {
    text-align: left;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 0 0;
    border-bottom: 5px solid #a2a2a2;
  }

  #program-search-results .column .count{
    margin: 5px 0 0 45px;
  }

  #program-search-results .column .result{
    margin: 0 0 0 0;
    font-size: 1.25em;
    text-align: left;
    border-bottom: 5px solid #a2a2a2;
  }

  /* Pathways */
  #pathways-area {
    margin:0;
  }
  #pathways-content {
    width:100%;
    min-width: 320px;
    margin:0 auto;
    padding:0;
  }
  #pathways-content .pathway {
    float:left;
    width:calc(100% - 80px);
    height:auto;
    padding:20px 40px 40px 40px;
    margin: 20px 0 10px 0;
    background:url(../images/black-chevron.png) no-repeat 95% 90%;
    background-size: 40px 40px;
  }
  #pathways-content .pathway:hover {
    background-color:#FCE082;
  }
}

/* Footer - Min 550px */
@media screen and (min-width: 550px) {
    #footer-menu .column-3 {
      float:left;
      margin:15px 0 10px 4%;
      text-align:left;
      width: 20%;
    }
    #social-icons {
      float:left;
      margin: 15px 0 10px 4%;
      width: 18%;
    }
    #social-icons img {
      width: auto;
      height: 3em;
    }
    #banner-area .banner-item .banner-text,
        #banner-area .banner-item .banner-text p {
          font-family:'Open Sans', sans-serif;
          font-size:1em;
        }
        #banner-area .banner-item .banner-text h2 {
          font-size:2.5em;
        }
  
}

/* Tablets */
@media screen and (min-device-width: 600px) and (max-device-width: 1100px) {
  body {
    font-size: 30px;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.75em;
  }
  /* Header */
  #header {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 0.6667em;
    color: #ffffff;
    position:relative;
    width:100%;
    min-width: 320px;
  }
  #header a {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    /*font-size: 0.7778em;*/
    color: #ffffff;
    text-decoration:none;
  }
  #header a:hover {
    text-decoration:none;
  }
  #header li:hover a{
    color: #252525;
  }
  #header li:hover {
    background-color: #fce082;
  }
  #header-content {
    height:auto;
    width:100%;
    margin:0 auto;
    position:relative;
    display: inline-block;
  }
  #header-logo {
    position:relative;
    float: left;
    top:20px;
    left:5px;
    width: 300px;
    height:auto;
  }
  #header-logo img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  #toggle-search-label,
  #toggle-search-checkbox,
  #toggle-menu-label,
  #toggle-menu-checkbox {
    display: block;
  }
  #toggle-search-label {
    background: url(../images/icon-search.png) no-repeat;
    background-size: 60px 60px;
    width: 60px;
    padding-top: 60px;
    position: absolute;
    float: left;
    top: 20px;
    right: 80px;
  }
  #toggle-search-checkbox {
    width: 40px;
    height: 40px;
    opacity: 0;
    margin: 0px 0px 0px 0px;
    position: absolute;
    float: left;
    top: 32px;
    right: 100px;
  }
  #toggle-menu-label {
    background: url(../images/icon-hamburger.png) no-repeat;
    background-size: 60px 60px;
    width: 60px;
    padding-top: 60px;
    position: absolute;
    float: left;
    top: 20px;
    right: 10px;
  }
  #toggle-menu-checkbox {
    width: 40px;
    height: 40px;
    opacity: 0;
    margin: 0px 0px 0px 0px;
    position: absolute;
    float: left;
    top: 32px;
    right: 30px;
  }
  #toggle-menu-checkbox:checked ~ #global-menu li{
    display: inline-block;
  }
  #toggle-search-checkbox:checked ~ #global-search{
    display: inline-block;
  }
  #global-search {
    position:relative;
    display: none;
    top:0px;
    right:5px;
    width: 100%;
    padding: 0 0 5px 0;
  }
  #global-search input[type=text] {
    width:60%;
    border:none;
    padding:20px 0;
    font-size:1.5em;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    margin:10px auto 0 auto;
    padding:5px;
    border:1px solid #999;
  }
  #global-search input[type=submit] {
    text-indent:-9999px;
    height:38px;
    width:38px;
    border:none;
    background:url(../images/chevron-gold.png) no-repeat;
    background-size: 22px 22px;
    background-position: center center;
    cursor: pointer;
  }
  #global-search label {
    color:#252525;
    display: none;
  }
  #global-search *::-webkit-input-placeholder { /* WebKit browsers */
      color: #252525;
  }
  #global-search *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #252525;
      opacity:  1;
  }
  #global-search *::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #252525;
      opacity:  1;
  }
  #global-search *:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #252525;
  }
  #global-menu {
    list-style:none;
    position:relative;
    right:0px;
    top:5px;
    width: 100%;
    margin:0;
    padding:0;
  }
  #global-menu li {
    display: none;
    float:left;
    padding:10px 0px;
    width: 100%;
    border-left:none;
    margin:0;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2em;
    border-top: solid 2px #333;
  }
  #global-menu a {
    font-family:Arial, Helvetica, sans-serif;
    /*font-size:0.6667em;*/
    font-weight:normal;
    letter-spacing: 1.18799996376038px;
    width: 100%;
    height: 100%;
    display: block;
    margin:0;
    padding:0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  #global-menu li:first-child {
    border-left:none;
  }

  /* Banner Area */
  #banner-area {
    min-width: 320px;
    width: 100%;
    overflow:hidden;
  }
  #banner-area .banner-item .banner-text {
    position:absolute;
    left:50%;
    right:auto;
    bottom:0;
    width:100%;
    padding:2% 4%;
    margin:0 0 0 -54%;
  }
  .banner-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 2em;
    margin:0;
    padding: 0 0 0.5% 0;
    color:#252525;
    text-align:center;
  }
  .banner-text p.highlight {
    font-size:1.25em;
    line-height: 140%;
    /*line-height:20px;*/
  }

  /* Program Search */
  #program-search {
    margin:0 auto 0 auto;
    min-width: 0;
    width: 100%;
  }
  #program-search label {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 1.25em;
    /*line-height:25px;*/
    margin:0 20px 0 5px;
    padding: 5px 0;
    text-align:center;
  }
  #program-content input[type=checkbox] {
    /*zoom:1.5;
    transform:scale(1.5);
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
    -moz-transform:scale(1.5);*/
  }
  #program-search input[type=text] {
    /*font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:0.7778em;*/
    margin:20px auto 0 auto;
    /*padding:7px;
    width:80%;*/
    text-align:center;
    /*border:2px solid #999;*/
  }
  #program-search-2{
    background-color:rgb(216,216,216);
    width: 100%;
    margin:30px auto 0 auto;
  }
  #program-content-2{
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:rgb(216,216,216);
    padding: 15px 0;
  }
  #program-content-2 .col-40{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
  }
  #program-content-2 .col-60{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
  }
  #program-content-2 .col-100{
    width: 100%;
  }
  #program-search-textbox{
    width: 60%
  }
  #program-search-submitbutton{
    background-color: #fce082;
    border-color: #fce082;
    border-style: solid;
  }
  #program-search-textbox, #program-search-submitbutton {
      font-size: 0.8em;
      /*text-transform: uppercase;*/
      padding: 0.7em 0.5em;
      margin: 0.1em 0;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }
  #program-content-2 h2{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 1.5em;
  }
  #program-search-heading{
    text-align: right;
  }

  /* Program Search Results */
  #program-search-results {
    width: 100%;
    margin: 15px auto 0 auto;
    display: inline-block;
  }

  #program-search-results .column {
    width: 40%;
    margin: 10px 0 0 6.67%;
    padding: 0 0 0 0;
    display: inline-block;
    float: left;
  }

  #program-search-results .column .results-title {
    text-align: left;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0 0 0 0;
    border-bottom: 2px solid #a2a2a2;
  }

  #program-search-results .column .count{
    margin: 5px 0 0 45px;
  }

  #program-search-results .column .result{
    font-size: 0.75em;
    text-align: left;
    border-bottom: 2px solid #a2a2a2;
  }

  /* Pathways */
  #pathways-content {
    min-width: 800px;
    width: 100%;
    margin:0 auto;
    padding: 0;
  }
  #pathways-content .pathway {
    float:left;
    width:29%;
    margin: 35px 0px 30px calc(3.33% - 3.33px);
    height:225px;
  }

  /* Quick Links */
  #quick-link-content {
    min-width: 0px;
    width: 100%;
    margin:0 auto;
    padding: 40px 0 40px 0;
  }
  #quick-link-content .quick-link {
    float:left;
    width:32.3%;
    padding:3% 0.5%;
    position:relative;
  }
  .quick-link h3{
    font-size: 1.25em;
  }
  .quick-link>p a{
    font-size: 0.8em;
  }
  

  /* Footer */
  #footer {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    font-size: 0.75em;
    color: #ffffff;
    position:relative;
    min-width:320px;
    width: 100%
  }
  #footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration:none;
  }
  #footer a:hover {
    text-decoration:underline;
  }
  #footer-content {
    height:auto;
    width:100%;
    margin:0 auto;
    position:relative;
    display: inline-block;
  }
  #footer-logo {
    float:left;
    margin:60px 0 0 5px;
  }
  #university-address {
    float:left;
    margin:16px 0 16px 5%;
    text-align:left;
    display: inline-block;
  }
  #footer-menu .column-50-50 {
    float:left;
    margin:60px 0 0 60px;
    text-align:left;
  }
  #footer-menu .column-3 {
    float:left;
    margin:16px 0 16px 5%;
    text-align:left;
  }
  #social-icons {
    float:left;
    margin:16px 0 16px 5%;
  }
  #social-icons img {
    width: 100%;
    height: auto;
  }
  #footer-menu a {
    display:block
  }
}

/* PC with min-width of 800px */
@media screen and (min-width: 800px) {
  #program-search-results .column-100 {
    width: 60%;
    margin: 10px auto 0 auto;
    padding: 0 0 0 0;
    display: inline-block;
    float: none;
  }
}

/* Facts and Figures - 2 Column Width */
@media screen and (min-width: 700px) and (max-width: 999px) {
  .facts-figures .facts-wrapper {
    width:660px;
  }
}

/* Full Page - Up to max-width of 800px */
@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  /* Header */
  #header {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 0.6667em;
    color: #ffffff;
    position:relative;
    width:100%;
    min-width: 320px;
  }
  #header a {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    /*font-size: 0.7778em;*/
    color: #ffffff;
    text-decoration:none;
  }
  #header a:hover {
    text-decoration:none;
  }
  #header li:hover a{
    color: #252525;
  }
  #header li:hover {
    background-color: #fce082;
  }
  #header-content {
    height:auto;
    width:100%;
    margin:0 auto;
    position:relative;
    display: inline-block;
  }
  #header-logo {
    position:relative;
    float: left;
    top:20px;
    left:5px;
    width: 206px;
    height:auto;
  }
  #header-logo img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  #toggle-search-label,
  #toggle-search-checkbox,
  #toggle-menu-label,
  #toggle-menu-checkbox {
    display: block;
  }
  #toggle-search-label {
    background: url(../images/icon-search.png) no-repeat;
    background-size: 45px 45px;
    width: 45px;
    padding-top: 45px;
    position: absolute;
    float: left;
    top: 17px;
    right: 65px;
  }
  #toggle-search-checkbox {
    width: 45px;
    height: 45px;
    opacity: 0;
    margin: 0px 0px 0px 0px;
    position: absolute;
    float: left;
    top: 17px;
    right: 65px;
  }
  #toggle-menu-label {
    background: url(../images/icon-hamburger.png) no-repeat;
    background-size: 45px 45px;
    width: 45px;
    padding-top: 45px;
    position: absolute;
    float: left;
    top: 17px;
    right: 10px;
  }
  #toggle-menu-checkbox {
    width: 45px;
    height: 45px;
    opacity: 0;
    margin: 0px 0px 0px 0px;
    position: absolute;
    float: left;
    top: 17px;
    right: 10px;
  }
  #toggle-menu-checkbox:checked ~ #global-menu li{
    display: inline-block;
  }
  #toggle-search-checkbox:checked ~ #global-search{
    display: inline-block;
  }
  #global-search {
    position:relative;
    display: none;
    top:0px;
    right:5px;
    width: 100%;
    padding: 0 0 5px 0;
  }
  #global-search input[type=text] {
    width:60%;
    border:none;
    padding:20px 0;
    font-size:1em;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    margin:10px auto 0 auto;
    padding:5px;
    border:1px solid #999;
  }
  #global-search input[type=submit] {
    text-indent:-9999px;
    height:20px;
    width:20px;
    border:none;
    background:url(../images/chevron-gold.png) no-repeat;
    background-size: 12px 12px;
    background-position: center center;
  }
  #global-search label {
    color:#252525;
    display: none;
  }
  #global-search *::-webkit-input-placeholder { /* WebKit browsers */
      color: #252525;
  }
  #global-search *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #252525;
      opacity:  1;
  }
  #global-search *::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #252525;
      opacity:  1;
  }
  #global-search *:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #252525;
  }
  #global-menu {
    list-style:none;
    position:relative;
    right:0px;
    top:5px;
    width: 100%;
    margin:0;
    padding:0;
  }
  #global-menu li {
    display: none;
    float:left;
    padding:10px 0px;
    width: 100%;
    border-left:none;
    margin:0;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5em;
    border-top: solid 2px #333;
  }
  #global-menu a {
    font-family:Arial, Helvetica, sans-serif;
    /*font-size:0.6667em;*/
    font-weight:normal;
    letter-spacing: 1.18799996376038px;
    width: 100%;
    height: 100%;
    display: block;
    margin:0;
    padding:0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  #global-menu li:first-child {
    border-left:none;
  }

  /* Banner Area */
  #banner-area {
    min-width: 320px;
    width: 100%;
  }
  #banner-area .banner-item .banner-text {
    position:absolute;
    left:50%;
    right:auto;
    bottom:0;
    width:100%;
    padding:1% 4%;
    margin:0 0 0 -54%;
  }
  #banner-area .banner-item .banner-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 2em;
    margin:0;
    padding: 0 0 0.5% 0;
    color:#252525;
    text-align:center;
  }
  #banner-area .banner-item .banner-text .highlight p {
    font-size: 1em;
    line-height: 140%;
    /*line-height:20px;*/
  }

  /* Program Search */
  #program-search {
    margin:0 auto 0 auto;
    min-width: 0;
    width: 100%;
  }
  #program-search label {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 0.85em;
    /*line-height:25px;*/
    margin:0 20px 0 5px;
    padding: 5px 0;
    text-align:center;
  }
  #program-search input[type=text] {
    /*font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:0.7778em;*/
    margin:10px auto 0 auto;
    /*padding:7px;
    width:80%;*/
    text-align:center;
    /*border:1px solid #999;*/
  }
  #program-search-2{
    background-color:rgb(216,216,216);
    width: 100%;
    margin:30px auto 0 auto;
  }
  #program-content-2{
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:rgb(216,216,216);
    padding: 15px 0;
  }
  #program-content-2 .col-40{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
  }
  #program-content-2 .col-60{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
  }
  #program-content-2 h2{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 1.75em;
  }
  /* Program Search Results */
  #program-search-results {
    width: 100%;
    margin: 15px auto 0 auto;
    display: inline-block;
  }

  #program-search-results .column {
    width: 80%;
    margin: 10px 10%;
    padding: 0 0 0 0;
    display: inline-block;
    float: left;
  }

  #program-search-results .column .results-title {
    text-align: left;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 0 0px;
  }

  #program-search-results .column .count{
    margin: 5px 0 0 15px;
  }

  #program-search-results .column .result{
    margin: 0 0 0 0;
    font-size: 1em;
    text-align: left;
  }

  /* Pathways */
  #pathways-area {
    margin:0;
  }
  #pathways-content {
    width:100%;
    min-width: 320px;
    margin:0 auto;
    padding:0;
  }
  #pathways-content .pathway {
    float:none;
    width: calc(100% - 40px);
    height:150px;
    padding:5px 5px;
    margin: 20px auto;
    background:url(../images/black-chevron.png) no-repeat 50% 95%;
    background-size: 16px 16px;
    border-color:#FCE082;
  }
  #pathways-content .pathway:first-child {
    margin-top:0;
  }
  #pathways-content .pathway:hover {
    background-color:#f5f5f5;
    border-color:#f5f5f5;
  }
}

/* Full Page - 800px and max-width of 1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  /*Header*/
  #header {
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 0.6667em;
    color: #ffffff;
    position:relative;
    min-width:800px;
  }
  #header-content {
    height:100px;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    position:relative;
  }

  /* Banner Area */
  #banner-area {
    min-width: 800px;
    width: 100%;
    margin-top:0;
  }

  #banner-area .banner-item .banner-text {
    position:absolute;
    left:50%;
    right:auto;
    bottom:0;
    width:100%;
    padding:2% 4%;
    margin:0 0 0 -54%;
  }
  
  #banner-area h1 {
    line-height: 1.2;
    background:#fff;
    top:0;
    }

  .banner-text h1 {
    font-size: 2.5em;
  }
  .banner-text p {
    font-size: 1.25em;
  }

  /* Program Search */
  #program-search {
    margin:0 auto 0 auto;
    min-width: 800px;
    width: 100%;
  }
  #program-search-2{
    background-color:rgb(216,216,216);
    width: 100%;
    min-width: 800px;
    margin:30px auto 0 auto;
  }
  #program-content-2{
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:rgb(216,216,216);
    padding: 15px 0;
  }
  #program-content-2 .col-40{
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    margin: 10px 0;
  }
  #program-content-2 .col-60{
    display: inline-block;
    width: 64%;
    vertical-align: middle;
    margin: 10px 0;
  }

  /* Program Search Results */
  #program-search-results {
    width: 100%;
    margin: 15px auto 0 auto;
    display: inline-block;
  }

  #program-search-results .column {
    width: 40%;
    margin: 10px 0 0 6.67%;
    padding: 0 0 0 0;
    display: inline-block;
    float: left;
  }

  #program-search-results .column .results-title {
    text-align: left;
    font-weight: 400;
    padding: 0 0 0 0;
  }

  /* Pathways */
  #pathways-content {
    min-width: 800px;
    width: 100%;
    margin:0 auto;
    padding:0;
  }
  #pathways-content .pathway {
    float:left;
    width:29%;
    padding: 0 0 20px 0;
    margin: 0 0 0 3%;
    height:225px;
  }

  /* Quick Links */
  #quick-link-content {
    min-width: 800px;
    width: 100%;
    margin:0 auto;
    padding: 0 0 40px 0;
  }
  #quick-link-content .quick-link {
    float:left;
    width:32.3%;
    padding:0 0.5% 0 0.5%;
    position:relative;
  }

  /* Footer */
  #footer {
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    font-size: 0.6111em;
    color: #ffffff;
    position:relative;
    min-width: 800px;
    width: 100%;
  }
  #footer-content {
    width:100%;
    margin:0 auto;
    position:relative;
  }
}

/* Min 1000px */
@media screen and (min-width: 1000px) {
  #program-search-results .column-100 {
    width: 60%;
    margin: 10px auto 0 auto;
    padding: 0 0 0 0;
    display: inline-block;
    float: none;
  }
  #banner-area {
      margin-top:0;
  }
  #banner-area h1 {
    font-size: 50px;
    line-height: 1.2;
    background:#fff;
    top:0;
    }
    /* Facts and Figures */
    .facts-figures .facts-wrapper {
    width:990px;
  }
    /* Quick Links */
    #quick-link-content {
      width:1000px;
      margin:0 auto;
      padding: 0px 0 0px 0;
    }
    #quick-link-content .quick-link {
      float:left;
      width:323px;
      padding:0px 5px 40px 5px;
      margin:0;
      position:relative;
      border-top:none;
    }
}
    
/* Things added by Kevin */
.tintWrapper, .field-name-body, .field-name-field-sph-copy { /* limit certain things to a maximum width. should probably be on the body but I don't see a way in the above CSS. Max-width value taken from Entrepreneurship page. */
  max-width: 62.5em;
  margin: 0 auto;
}
.tintWrapper div:last-child { /* shrink the link and put some space above and below it */
  font-size: 0.8em;
  margin: 0.5em 0 1em 0;
}
#footer ul { /* remove bullets and any margin/padding from module-provided footer links */
  list-style: none;
  margin: 0;
  padding: 0;
}
#social-icons a { /* display social media directory icon in the way the module expects */
  display: block; width: 111px; height: 53px;
  text-indent: -999em; overflow: hidden;
  background: url('../images/social-media-directory.png') no-repeat left top;
}
#header-logo { /* make the module-based header logo behave more like the image-based one used in the original mockup */
  height: 51px;
  padding-bottom: 20px;
}
#program-search label { /* restore standard behaviour which was overridden by Drupal */
  display: inline;
}
#program-search {
  width: auto; /* Otherwise, too wide on results page. */
}
/*cas login*/
#footer .region-login-link {
  float: right;
  width: auto;
  margin: 16px 10px 0 0;
}
#footer .region-login-link a,
#footer .region-login-link a:visited {
  color: #aaa;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  #footer .region-login-link {
    float: none;
    clear: both;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
  }
}

#program-search-results ul.results {
  margin: 0;
  padding: 0;
}
#program-search-results ul.results li {
  list-style-type: none;
}

#program-search-results ul.tag-container {
  margin: 0;
  padding: 0;
}
#program-search-results ul.tag-container li {
  list-style-type: none;
  display: inline;
  margin-left: 0.5em;
}