/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties: 
  org_default  $uw-default $uw-black  darken($uw-default,8%) url('../images/chevrons-yellow.png') $medium-gray default, 
  org_ahs $sotu-teal $uw-ahs-light darken($uw-ahs,9%) url('../images/chevrons-teal.png') $uw-ahs ahs,
  org_art $sotu-orange $uw-arts-light darken($uw-arts,5%)url('../images/chevrons-orange.png') $uw-arts arts,
  org_eng $sotu-purple  $uw-engineering-light darken($uw-engineering,5%) url('../images/chevrons-purple.png') $uw-engineering eng,
  org_env $sotu-green $uw-environment-light  darken($uw-environment,5%) url('../images/chevrons-green.png') $uw-environment   env,
  org_mat $sotu-fushia $uw-math-light darken($uw-math,5%) url('../images/chevrons-pink.png') $uw-math math,
  org_sci $sotu-blue $uw-science-light darken($uw-science,5%) url('../images/chevrons-pink.png') $uw-science sci,
  org_school $uw-school $uw-schools-light darken($uw-school,5%) url('../images/chevrons-red.png')  $uw-school   school, 
  org_cgc $uw-cgc 000  darken($uw-cgc,5%) url('../images/chevrons-cgc.png') $uw-cgc cgc,
  org_ren $uw-ren  #D2C295  darken($uw-ren,5%) url('../images/chevrons-ren.png') $uw-ren ren,
  org_stj $uw-stj #01573E  darken($uw-stj,5%) url('../images/chevrons-stj.png') $uw-stj stj,
  org_stp $uw-stp #584528  darken($uw-stp,5%) url('../images/chevrons-stp.png') $uw-stp stp;
  
body,
div{
  @each $faculty in $faculties {
    &.#{nth($faculty,1)} {
      h1,h2,h3,h4,h5,h6{
        // color:$black; 
      }
     hr,h2{
        border-color:nth($faculty,6);
      
      }
      .paragraphs-items-field-events-full a h3{
        color:$uw-black;
        font-weight:600;
      }
      .uw-site--modal-wrap h2 { 
        color:$white; }
      a{
        color: nth($faculty,2); 

        &:visited{
          
        }
         &:link{
        color: nth($faculty,2); 

        } 
        &:hover{
          color: nth($faculty,4);
        }
       
        &:focus{

        }
        &.search-button{
          color:$white;
         }
      }
     .uw-site--modal-wrap a{
       color:$white;
     }
     .date-heading a{
       color: nth($faculty,3);
     }
     .banner {
        a{
           color: nth($faculty,3);
        }
      }
      .uw-footer-phone{
         a{
           color: $yellow-dark;
        }
      }
      .responsive-nav-menu {
        a {
         color:$white;
       }
      }
      .ui-menu {
        .ui-menu-item {
         a{
            color:$gray;
             } 
          }
       }
      ul.share-buttons{
      li{
        a { 
          &:before{
            background-color: nth($faculty,2);
            }
             &:hover{
               &:before{
               background-color: nth($faculty,4);
               color: $white;
              }
            }
          }
        }
      }
      .global-menu {
        li {
          a{
            color:$white; 
            &:hover{
              text-decoration:underline;
            }
          }
        }
      } 
    

      .uw-site--header{
        color: nth($faculty,2); 
      }
      .uw-site-navigation h2{
        background-image:nth($faculty,5);
        border-bottom: solid 1px $medium-gray;
      }
     
    } 
  }
}

*{
  @each $faculty in $faculties {
    &.#{nth($faculty,7)}{
      color: nth($faculty,2); 
            h3{
               color: nth($faculty,3); 
            }
            &.pathway{
              a{
              
            
              &:hover{
                h3{
                  color:$white;
                  }
                  color:$white;
                  background-color:nth($faculty,2);
                  opacity:0.95;            
              }
             
            }
         }
     }
  }
}

