/*fixes drop shadow problems in IE10+, unfortunately must apply to all browsers*/
.ie-resize-fix {
  // height: 1em;
}
/* Fixes for FDSU-1736: WCAG Contrast colour errors.*/
#uw-header-logo {
   background-color: $uw-black;
  color: $white;
}

#uw-header-logo a {
   background-color: $uw-black;
  color: $white;
}
#site--offcanvas .content {
  background-color: $uw-black;
  color: $white;
}
#navbar-bar h2 {
  background: $uw-black;
  color: $white;
}
#uw-header-content {
  background-color: $uw-black;
  color: $white;
}

html{
  background:$black;
}
.off-screen, .element-invisible {
  display: block;
  text-indent: -9999px;
  height: 0px;
  overflow: hidden;
}
.visuallyhidden{
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
 #navbar-administration{
      z-index:map-get($zindex, overlay);
  }
#navbar-administration{
      z-index:map-get($zindex, overlay);
  }
.page-user{
  .region-content{
    @include outer-container();
    text-align:left;
    padding-top:1rem;
    border:1px solid #bbb;
    border-top:0px solid transparent;
    .block-system{
      @include span-columns(8);
      @include shift(2);
    }
  }
}
  
ul.primary{
  margin:1rem 0 0 0; 
  border-color:#bbb;

}
#block-workbench-block {
  @include outer-container();


  .workbench-info-block{
       @include span-columns(12);
   }
}

#block-system-main{
  position:relative;
  
}
.content{
  @include fill-parent();
  &-body{
      margin:2rem 0 1rem 0;
    .field-name-body{
     @include outer-container(); 
      .highlight{
        @include span-columns(9 of 12);
        @include shift(1.5); 
      
        @include media($medium-screen){
         
          }
      }

    }
  }
}
// layout of global elements

.uw-section{ 
  &--inner{
    padding:0rem 1rem 0rem 1rem;  
    clear: both;
    @include outer-container();
    @include media($xsmall-screen){
    
    }
   @include media($small-screen){
     padding:0rem 2.5rem
    }
    @include media($medium-screen){
      padding:0rem 1rem;   
    }
    @include media($large-screen){
      // padding:0;    
    }
   .uw-site--colors &{
      @include outer-container(100%);
      padding: 0;
    }   
    .uw-site--main-top &{ 
      @include outer-container(); 
    }
    // Push and pull inner sections of paragraphs entity content to full width or outer-container width.
    .paragraphs-item-sph-marketing-block & {}
    .paragraphs-item-uw-para-options-blocks & {}
    .paragraphs-item-copy-block & {}
    .paragraphs-item-sph-marketing-block & {
      @include outer-container(100%);
      
    }
    .paragraphs-item-sph-marketing-block & {
          padding:0;
    }
    .paragraphs-item-sph-remote-events-block &{}
    
    .uw-site--banner &{
       @include outer-container(100%);
       padding:0;
    }  
  } 
}
.uw-site{
  @include outer-container(100%); //make 100% for full width
  &--colors{
    @include outer-container(100%);
  }
  &--cbar {
    @include align-items(start);
    // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row);
    // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);
    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);
    // start|end|center|justify
    @include box-lines(multiple);
    // single|multiple
    width: 100%;
    .uw-cbar {
      padding: 0;
      margin: 0;
      height:1.125rem;
      @include flex(1);
       @include media($medium-screen) {
      }
    }
  }
  &--inner{
    overflow:hidden;
    @include outer-container(100%);// make 100% for full width
  }
  &--banner{
    @include outer-container(100%);
  }
  &--messages{
   @include outer-container();  
  }
  &--help{
     @include outer-container();
  }
  &--breadcrumb{
  }
  &--main-top{
    @include outer-container();
  }
  &--main{
    @include outer-container(100%);

  }
  &--title{ 
  }
  &-admin{
    &--tabs{
    }
  }
  &-content{// #content -- content body column that can be wide or not
     min-height: 1px;
     display:block;
     padding:0;
    .gmap{
       margin: 1rem 0;
      }  
     @include outer-container(100%);
     @include media($xsmall-screen){}
     @include media($medium-screen){}
     @include media($large-screen){}
  }
}

//inner layout
  .col-50,
  .col-33,
  .col-66,
  .threecol-33 {
    float: left;
  }
  .col-50.first,
  .col-33.first,
  .col-66.first,
  .threecol-33 {
    margin-right: 4%;
  }
  .threecol-33.last {
    margin-right: 0;
  }
  .col-50 {
    width: 48%;
  }
  .col-33 {
    width: 32%;
  }
  .col-66 {
    width: 64%;
  }
  .threecol-33 {
    width: 30.666666%;
  }
  /*legacy*/
  .half-column {
    float: left;
    width: 48%;
  }
  .half-column.first {
    margin-right: 4%;
  }
  .content_node .field-items {
    // padding-bottom: 1rem;
  }

// video
  .uw_video-embed{
  .wide &  {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top:1.563rem;
    height: 0;
    margin-bottom:3.1rem;
    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clear:both;
      margin-bottom: 3.1rem;
    }
    div{
      margin-top: 57%;
    } 
      .overlay-open &{ 
        visibility: hidden; 
      }
    }
}

// Other
  .view-opportunities{
    span{
      display:inline-block;
      // margin-top:0.2rem;
      // margin-bottom:0.2rem;
    }
  }

  @media screen and (max-width: 767px) {
    #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
      height: 0px;
    }
  }


   #main-menu > ul > li.last.expanded.active-trail > a{padding-left:0.4rem; }    
  .contextual-links-region{@include clearfix;}
.skip{
  position: absolute;
    z-index: 1000;
    left: 50%;
    width: 8.5em;
    text-align: center;
    background: #fff;
    a{
      &:focus{
        color:red;
      }
    }
}
