// .uw-section{ 
//   &--inner{
//    .uw-header--global &{
//       padding:0rem 0rem 0rem 0.8rem;
//     }
//     .uw-site--header &{
//     }    
//     .uw-site--offcanvas &{
//       @include outer-container(100%);
//       .menu-open &{
//           overflow-x: hidden;
//       }
//       @include media($medium-screen){
//       }
//     }
//   }
// }
// .uw-site{
//   &--inner{
//     overflow:hidden;
//     @include outer-container(100%);// make 100% for full width
//   }
//   &--header{
//       position:absolute;
      
//       width:100%;
//       top:0;
//       z-index:map-get($zindex, header);
//     @include media($medium-screen){
//       position:absolute;
//     }
//     text-align:center;
//     min-height:$site-header-height;
//     line-height:$base-line-height;
//     height:auto;
//     background-color:$site-header-bg;
//     text-transform:uppercase;
//     background:rgba(255,255,255,0.8);
//     img {
//       vertical-align: bottom;
//     }
//   }
//   &--off-canvas{
//     @include outer-container(100%);
//     overflow:hidden;
//   }
// }


// // region header
// .uw-header{
//   background-color:$site-global-header-bg;
//   min-height:$site-global-header-height;
//   position:relative;
//   &--content{
//     ul{
//       margin-left:0;
    
//     }
//   }
//   &--logo {
//     height:$site-global-header-height;
//     @include span-columns(6 of 12);
//     .uw-logo{
//     margin:0.25rem 0 0 0 ;
//     display: block;
//     // width: 12.938rem;
//     width:100%;
//     height: 3.750rem;
//     text-indent: -999rem;
//     background: url('../images/uwaterloo-logo.svg') no-repeat 0 50%;
//     background-size:100%;
//     max-width:10.563rem;
//     &:hover{

//     } 
//     }
//     @include media($medium-screen) {
//       @include span-columns(12 of 12);
//       .uw-logo{
//         @include span-columns(4 of 12);
//         @include shift(4.5);
//         margin-top:0.25rem;
//         height: 3.750rem;
//         max-width:12.5rem;
//         text-align:center;
//       }
//     }
//     @include media($large-screen) {
//       .uw-logo{
//         width:100%;
//         max-width:10.750rem;
//         @include shift(0);
//       }
//       @include span-columns(2.75 of 12);
//     }
      
//   }
//   &--buttons{
      
//       // position:absolute;
//      @include span-columns(5 of 12);
//       @include shift(1);
//        @include omega();
//       height:$site-global-header-height;

//       @include media($xsmall-screen) {
        
//         // right:5.5rem;
//       }
//       @include media($small-screen) {
//         @include span-columns(4 of 12);
//         @include shift(2);
//       }
//       @include media($medium-screen) {
//         // position:absolute;
//         right:8px;
//         border:none;
//         @include span-columns(1 of 12);
//         position:absolute;
//         @include omega();
//         top:2.4rem;
        
         
//       }          
//       @include media($large-screen) {
         
//           right:0;
//           padding-left:0.25rem;
//           padding-right:0.25rem;
//           @include span-columns(1 of 12);
//           @include omega(); 
//           top:0;  
//       }
     
     
//       &__search{
//         @include span-columns(2 of 4);
//          height:100%;
//          text-align:center;
//          margin-left: 5.61798%;
//          border-left:1px solid transparentize($white, 0.8);
//         @include omega(); 
//          // background-color:darken($uw-default,1%);
     

//          @include media($medium-screen) {
//          @include span-columns(1 of 1);
//            border:none;
//          }
//          @include media($large-screen) {
         
//           }
         
//          a{
//           height:100%;
//           font-size: modular-scale(-1);
//           font-weight:$weight-bold;
//           font-family:$condensed-font-family;
//           text-transform:uppercase; 
//           text-decoration:none;
//           display: block;
//           padding-top: 1rem;
          
//           &.search-button{
//             text-decoration:none;
//             @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color));
//             &:hover{
//               color:$uw-gold; 
//               .ifdsu{color:$uw-gold; @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color));}
//             }
//             .ifdsu{ display:block;
//               font-size: modular-scale(2);
//               padding-bottom:0.05rem;
//               &:hover{
                
//               }

//             }
//           }
//         }
//       }
//       &__nav{
//        height:100%;
       
//        padding-top:0.2rem;
//         @include span-columns(2 of 4);
//         border-left:1px solid transparentize($white, 0.8);
//         label{
//           height:100%;
//           text-align:center;
//           font-size: modular-scale(-1);
//           font-weight:$weight-bold;
//           font-family:$condensed-font-family;
//           text-transform:uppercase; 
//           span{

//           }
//         }
//         @include omega();
//         @include media($medium-screen) { display:none; }
//         @include media($large-screen) {  }   
//       }
//   } 
//   // global header
//   &--global{
//       @include outer-container(100%);
//       background-color:$site-global-header-bg;
//       .global-menu{
//         display:none;
//         padding-left:0;
//         margin-top:0;
//         margin-bottom:0;
//         @include media($xsmall-screen) {

//         }
//         @include media($small-screen) {

//         }
//         @include media($medium-screen) {
//           @include span-columns(12 of 12);
//           text-align:center;
//         }
//         @include media($large-screen) {
         
//           @include span-columns(8.5 of 12);
//            padding-top:2rem;
//         }
//         li{
//           display:inline-block;
//           padding:0.2rem 0.7rem;
//         }
//       }
//   }
// }