ul,
ol {
   list-style:disc outside none;
   padding-left: 2rem;
   margin-left:1rem;

 li{
    margin: 0.6rem 0;
    
  }
  li > ol{
     list-style-type: lower-alpha;
   
      li > ol {
        list-style-type: lower-roman;
      }
  }
  li > ul {
    list-style-type: circle;
    li > ul {
      list-style-type: disc;
    }
  }
}
ul{
  &.types{
      list-style-type: none;
      margin:0;
      padding:0;
      li{
        margin:0.125rem;
        padding:0.25rem;
        display:inline-block;
      }
  }
  &.menu{
    margin-left:0;
    li{
    margin-left:0;
    list-style-type: none;
    list-style-image: none;
    }
  }
  &.global-menu{
> li {
    margin: 0rem 0;
     }      
    }      
   &.sub-nav {
    margin-left:0;
   } 
  }
ol{ 
    list-style: decimal outside none;
  &.decimal{
    margin: 0;
    padding: 0 0 1rem 1rem;
    li {
      display: table;
      counter-increment: item;
      margin:0.5rem 0;
      &:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6rem;
        }
       li {
            margin:0.5rem 0;
            li:before {
              content: counters(item, ".") " ";
            }
        }
        ol {
          list-style: square outside none;
          list-style-type: none;
          counter-reset: item;
          margin: 0;
          padding: 0;
        }
    }
    // .block-list &{
    //     list-style-type: none;
    //     padding: 0;
    //     .site-sidebar &{
    //     margin-left: 0.5rem;
    //     padding: 0;
    //     }
    //     .front &{
    //        margin-bottom: 0.5rem;
    //     }
    // }

    .item-list &{
      margin: 0 0 1em 0;
    }

  }
  // .block-list &{
  //   list-style-type: none;
  //   padding: 0;
  // .site-sidebar &{
  //   margin-left: 0.5rem;
  //   padding: 0;
  //   }
  // .front &{
  //      margin-bottom: 0.5rem;
  //   }
  // .item-list &{
  //     /*margin: 0 0 1em 0;*/
  //   }
  // }
}
ul{
  .uw-site-sidebar &{
    margin-left: 0;
    padding-left: 1.5rem;
    &.quick-links{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    &.black{
      li{
        a{
           background: #000 !important;
           &:hover{
              border-color: #aaa !important;

           }
        }
      }

    }
      li{
          padding: 0;
          margin-top: 1px;
        a{
          display: block;
          padding: 0.375rem 0.5rem 0.375rem 0.375rem;
          text-decoration: none;
          color: #fff;
          background: #96172E; /* same as link colour */
          border-bottom: 1px solid #cecece;
          &:hover{
            color: #fff;
            background: #8D162C; /* 1 shade darker than link colour at colllor.com */
            border-bottom: 1px solid #000;
            border-right: 0.350rem solid #000;
            padding-right: 3px;
          }
        }
      }
    }
  }
}
dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    
  }
}
.view-uw-service-glossary,
.view-uw-service-categories,
.view-uw-by-audience,
.view-uw-services-popular{
   // margin-top: 0.625rem;
   .view-content{
     ul{
      li{
        margin-left:0;
        padding-left:0.9rem;
      }
     }


   
    
  }
}
.item-list{
  margin-bottom:1rem;
}


/* social media links */
.service-links {
  margin-bottom: 1.250rem;
  ul {
    padding: 0;
    .item-list &{
      li {
       
        &.first{
           padding-left: 0;
        }
      }
    }
    li {
      display: inline;
  
      &.first{
        padding-left: 0;
      }

    }
  }
}



//pager list 
.page-people-profiles,
.page-news,
.page-blog,
.page-events,
.page-opportunities  {
    .uw-site-sidebar .item-list{
      text-align:left;
    }
    .item-list{
      text-align:center;
    }
}
ul.pager{
  margin-left:0;
}
.pager{
  display:inline-block;
  padding:0;
  margin:0;
   li{
    display:inline-block;
    margin: 0.2rem 1px;
    text-align:center;

    padding:0.25rem 0.5rem;
    a{
      color:$black;
      text-decoration:none;
      }
    float:left;
    &:hover{
       background:$medium-gray;
    }
  }
  &-current{  background:$gray;border:1px solid $medium-gray;color:$white;
   &:hover{
       background:$black;
    }
  }
  &-item{  background:$light-gray;border:1px solid $medium-gray;}
  &-first{  background:$light-gray;border:1px solid $medium-gray;}
  &-previous{background:$light-gray;border:1px solid $medium-gray;} 
  &-next{  background:$light-gray;border:1px solid $medium-gray;}
  &-last{  background:$light-gray;border:1px solid $medium-gray;}
  &.pager-load-more{
    margin:0px auto;
  }
  &.pager-load-more-empty{
    display:none;
  }
  &-load-more{
    li{
      float:none;
      text-align:center;
      padding:0;
      min-width:18.125rem;
       .pager-next{  background:none; border:none;}
       .pager-last{  background:none; border:none;}
      a{
        @extend %button;
        color:$base-button-color;
        // -webkit-font-smoothing: antialiased;
        // background-color:$base-button-bg-color;
        // border-radius: none;
        // border: none;
        // cursor: pointer;
        // font-weight:$weight-bold;
        // font-family:$condensed-font-family; 
        // text-transform:uppercase;
        // font-size: modular-scale(3);
        // line-height: 1;
        // padding: 1rem 2rem;
        // display: inline-block;
        // text-decoration: none;
        // user-select: none;
        // vertical-align: middle;
        // white-space: nowrap;
        // width:100%;
        // max-width:18.125rem;
        // margin:0 auto;
        // color:$base-button-color;
        
        &:hover,
        &:focus {
          background-color:$tab-bg-active;
          color: $light-gray;
        }
        &:disabled {

          cursor: not-allowed;
          opacity: 0.5;
          padding: 1rem 2rem;
          line-height: 1;
          display:block;
        }

    }
      }
     
      
  }

}
.page-services{
   ul{
    margin-left:0;
    li{
      list-style-type: none;
    }
  }
}
.view-uw-service-categories{
  margin:1rem 0 0 0 ;
  ul{
    margin-left:0;
    li{
      list-style-type: none;
    }
  }
}
.block-list {
  .item-class{
      margin:0.5rem 0 0.75rem 0;
    }
  &.block-events{
    .item-class{
     
    }
  }
  .item-list{
    ul{
      list-style:disc outside none;
      // margin-left: 0.5rem;
      
      li{
        // &:before{
        // content:$fdsu-chevron;
        // font-family:$fdsu-icon-font;
        // border-radius: $base-border-radius;
        // color:$gray;
        // font-size:0.4rem;
        // line-height:1.5rem;
        // padding-right:0.25rem;
        // }
        a{

        }
      }
    }
  }
}