// *:focus{outline: thin dotted;}
a:focus { outline: thin dotted; }

body {
  // @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  background-color:$body-bg-color;
  @include fontdpi();
  margin:0;
  padding:0;
  -webkit-animation: androidbugfix infinite 1s;
  -moz-animation: androidbugfix infinite 1s;
  animation: androidbugfix infinite 1s;
  &.logged-in{
    -webkit-animation: inherit;
    -moz-animation: inherit;
    animation:  inherit;
  }
  text-align:center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:$gray;
  font-family:$base-font-family;
  font-weight:$weight-regular;
  line-height: $heading-line-height;
  margin: 0.5rem 0 0.5rem 0;
  padding:0;
  clear:both;
}
h1{ 
  font-size: modular-scale(5);
  text-align:center;
  font-family:$condensed-font-family;
  color:$black;
  @include media($xsmall-screen) {
    }
  @include media($small-screen) {
  }
  @include media($medium-screen) {
   font-size: modular-scale(9);
  }
  @include media($large-screen) {
  }
}
h2{ 
  font-weight:$weight-bold;
  font-size: modular-scale(3);
  line-height: $heading-line-height;
  padding-bottom: 3px;
  border-width:1px;
  border-bottom-style:solid;

  &.uw_utm_h2 {
    font-size: modular-scale(6);
     @include media($small-screen) { 
      font-size: modular-scale(7);
     }
    @include media($medium-screen) { 
      font-size: modular-scale(9);
     }
    
    line-height:135%;
    margin:0;
    .org_default &{
      color:$gray; 
    }
    text-align:center;
    padding: 2.3rem 0;
    position:relative;
    clear: both;
    font-family:$heading-font-family;
    font-weight:$weight-light;
    border-bottom-style:none;
    &:before {
      content: "";
      display: block;
      border-top: solid 2px #f5f5f5;
      border-bottom-style:none;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index:map-get($zindex, background);
    }
    span{
      padding:0 0.5rem;
      @include media($medium-screen) {
        padding:0 2.3rem;
      }
      background:$white;
      z-index:map-get($zindex, header);
      position:relative;
      display:inline-block;
      }
     }
  a{
     color:$uw-black;
     text-decoration:none;
    &:hover{
        text-decoration:underline;
      }
  }
  .uw-site-navigation &{
    background-color:$light-gray;
    max-width:93%;
    font-size: modular-scale(1);
  }
  .banner-text &{
    font-size: modular-scale(6);
    color:$white;
    font-family:$condensed-font-family;
    
  }
  
  .uw-site-footer2  &{
    font-size: modular-scale(2);
  } 

  // remove the borders
  &.no-border,
  .view-opportunities &,
  &.home-listing-block-link,
  &.event-title,
  &.anchor-name,
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo &,
  .view-uw-service-categories &,
  .uw-site--modal-wrap &,
  .banner-text .highlight &{ 
    border-bottom-style: none;
  }
  .uw-site--modal-wrap &{
    text-transform:uppercase;
    button{
      text-align:left;
      background:none;
      color:$white;
      padding:0;
      line-height:inherit;
      margin:0.8rem 0;
      font-weight: $weight-bold;
      font-size: modular-scale(3);
    }
  }
  @include media($medium-screen) {
   font-size: modular-scale(4);
   .banner-text &{
      font-size: modular-scale(7);
      @include textShadow();

    } 
  }
  @include media($large-screen) {
    .banner-text &{
      font-size: modular-scale(9);
    }
    .uw-site-navigation &{
       font-size: modular-scale(2);
    }
  }
}
h3{
  line-height: $heading-line-height;
  font-size: modular-scale(2);
  .single-event a &{
        color:$uw-black;
        line-height:1;
        font-weight:$weight-bold;
        margin-bottom:0.25rem;
  }
  .paragraphs-item-uw-para-options-blocks & {
      font-size: modular-scale(5);
      font-weight:$weight-bold;
      font-family:$condensed-font-family;
      @include textShadow();
      @include media($xsmall-screen){
        font-size: modular-scale(4);
      }
       @include media($small-screen){
        
      }
      @include media($medium-screen){
        font-size: modular-scale(6);
      }

  }
  @include media($medium-screen) {
    font-size: modular-scale(3);
  }
}
h4{ 
  font-size: modular-scale(1);
  @include media($medium-screen) {
      font-size: modular-scale(2);
  }
}
h5{ 
  font-size: modular-scale(0);
  @include media($medium-screen) {
    font-size: modular-scale(1);
  }
}
h6{  
  font-size: modular-scale(-1);
  @include media($medium-screen) {
  font-size: modular-scale(0);
  }
}
p {
  margin: 0 0 1rem;
  font-size: modular-scale(0);
  line-height:$base-line-height;
  font-weight:$weight-regular;
  font-family:$base-font-family;
    @include hidpi(1.5) {
   font-weight:$weight-light;
  }
  @include hidpi(2) {
   font-weight:$weight-light;
  }
  &.lead{
    margin: 0 0 $small-spacing;
    font-weight:$weight-regular;
    color:$black;
    text-align:center;
    font-size: modular-scale(0);
    line-height:$base-line-height;
    @include media($small-screen) {
    }
  }
  .banner-text &{
    font-family: $base-font-family;
    color:$white;
    @include media($medium-screen){
      @include textShadow();
    }
    
  }
  .paragraphs-item-uw-para-options-blocks & {
    color:$white;
    @include textShadow();
  }
  &.date{
    text-transform:uppercase;
    font-family:$heading-font-family;
    font-weight:$weight-light;
    font-size: modular-scale(2);
    margin:0;
     @include media($large-screen){
      font-size: modular-scale(4);
    }
    
  }
  &.info{
    + p{
        // min-height:6rem;
    }
  } 
}
.banner-text{
  text-align:center;
}
.highlight{
  font-size: modular-scale(1);
  line-height:$base-line-height;
  color:$uw-black;
}
.caption{
  border: solid 1px #ddd;
  padding: 0.5rem;
  font-size: modular-scale(-2);
  color:$dark-gray;
}
.read-more-link{
  text-align:center;
  margin:1rem 0;
  .uw-site-sidebar &{
    margin:0.5rem 0 0 0;
  }
  .view-footer &{
    margin:1rem 0;
  }
}
a{
  @include transition (color 0.3s linear );
  &:link,
  &:active{
    text-decoration: underline;
  }
  &:hover {
    // color:$action-color;
    @include transition (color 0.3s linear );
    text-decoration: none;
  }
  &:focus {
    // outline: none;
    // color:$action-color;
    @include transition (color 0.3s linear );
    text-decoration: none;
  }
  .single-event &{
    text-decoration:none;
  }
  .read-more-link &{
    text-decoration:none;
    &:hover{
    color:$white;
    }
  }
  // .uw-site-footer2 #site-footer &{}
  .local-ist &{
      font-family: $condensed-font-family;
      font-size: modular-scale(-1);
      padding:0.25rem;
      display:block;
      @include media ($xsmall-screen){
       font-size: modular-scale(-2);
        padding:0.15rem 0.25rem;
      }
      @include media ($medium-screen){
        font-size: modular-scale(-1);
      }
      text-decoration:none;
      &:hover{
        color:$yellow-dark;
        text-decoration:underline;
      }  
  }
  .view-more-social &{
    font-size: modular-scale(4);
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
  }
  .views-field-title &{
    font-size: modular-scale(2);
    font-weight:$weight-bold;
    font-family:$condensed-font-family;
    .uw-site--modal-wrap &{
      font-size: modular-scale(-1);
      font-weight:$weight-regular;
      font-family: $base-font-family;
    }
  } 
  .submitted &,
  .links-wrapper &{ 
    color:$uw-black;
    font-size:modular-scale(-2);
    text-transform:inherit;
  }
  .uw-site--header &{
    font-family: $condensed-font-family;
    text-transform:uppercase;
    font-size: modular-scale(3);
    line-height: $heading-line-height;
    @include media($medium-screen)
    {
       font-size: modular-scale(6);
    }
    text-decoration: none;
    &:hover{
      text-decoration:underline;
    }
  }
  .site-menu &{
    font-family:$condensed-font-family;
    font-size: modular-scale(-1);
    text-decoration:none;
  }
  .uw-footer-phone &{
    color:$yellow-dark;
    text-decoration:none;
    display:inline;
    &:hover{
    text-decoration: underline;
   }
  }
 .paragraphs-item-uw-para-options-blocks & {
    text-decoration:none;
    p{font-size: modular-scale(-1);
      line-height:1.25;
      @include media($xsmall-screen){
        font-size: modular-scale(0);
      }
       @include media($small-screen){
       
      }
      @include media($medium-screen){
         font-size: modular-scale(1);
      }
       @include media($large-screen){
         font-size: modular-scale(2);
      }
    }
  }
  h2 & {
    text-decoration: none;
  }
}
hr {
  border-width:1px;
  border-top-style:solid;
  margin-bottom: 1rem;
}
img,
picture {
  height: auto;
  max-width: 100%;
  margin:0;
  border:none;
  outline:none;
  a &{
    border:none;
    outline:none;
  } 
}
object{
  .uw-site--main-content &{
    max-width: 100%;
  }
}
address {
    margin-bottom: 1rem;
}
strong{
    font-weight:$weight-extrabold;
}
/* Blockquotes */
blockquote {
  padding:0rem;
  background: $light-gray;
  color: $gray;
  @include textShadow();
  .marketing-item &{
     color: $white;
  }
  text-align: center;
  line-height:1.25;
  font-size: modular-scale(2);
  font-family:$base-font-family;
  font-weight:$weight-regular;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  
 .marketing-item &{
       background-color:transparent;
  }
  > p:first-child::before {
    font-size: modular-scale(9);
    content:"\201C";
    color:$uw-gold;
    font-family: 'arial',sans-serif;
    font-weight:$weight-bold;
    display:inline-block;
    text-align:left;
    height:1rem;
    line-height: modular-scale(6);
    padding-left: 0.4rem;
    vertical-align: text-top;

  }
  > p:first-child::after {
  font-size: modular-scale(9);
  content:"\201D";
  color:$uw-gold;
  font-family: 'arial',sans-serif;
  font-weight:$weight-bold;
  display:inline-block;
  text-align:left;
  height:1rem;
  line-height:modular-scale(9);
  padding-left: 0.4rem;
  vertical-align: text-top;
  }
  p{
    &:before,
    &:after{
    content:"";
    display:none;
    height:0;
    line-height:0;
     }
  .marketing-item &{
       color: $white;
  }
  text-align: center;
  line-height:1.25;
  font-size: modular-scale(2);
  font-family:$base-font-family;
  font-weight:$weight-regular;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
    cite{
      font-family: $base-font-family;
      font-weight:$weight-regular;
      font-size: modular-scale(-3);
      font-style: normal;
      text-transform:uppercase;
      line-height:1;
      .marketing-item &{
         color: $white;
      }
      //  &:before {
      //  content: "\2014 \0020";
      // }   
      strong {
        font-family:$condensed-font-family;
        font-weight:$weight-extrabold;
 
        font-size: modular-scale(-2);
        line-height:1;
      }
    }
  }


  @include media ($small-screen){
        font-size: modular-scale(2);
    p{
      font-size: modular-scale(2);
    }
   }
  @include media ($medium-screen){
     padding:1rem;
    font-size: modular-scale(5);
    p{
      font-size: modular-scale(5);
      cite{
          font-size: modular-scale(-1);
          strong{
         font-size: modular-scale(0);
        }
      }
    strong{
         font-size: modular-scale(0);
      }
    }
   }
  @include media ($large-screen){
      .marketing-item &{
       }
       padding: 2rem;
   }
}
span{
  .local-ist &{
      font-family:$condensed-font-family; 
      color:$white;
      font-weight:$weight-regular;
      font-size: modular-scale(-1);
      display:inline-block;
       padding: 0 0.25rem;

  }
  &.day{

  }
  &.month{
   font-weight:$weight-light;
  }
  &.year{
 }
 &.time-seperator{
  visibility:hidden;
  opacity:0;
  }
  &.time{
    font-weight:$weight-bold;
  } 
}


pre {
  white-space: pre-wrap;
}
caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: 0.5rem;
  font-style: italic;
}



// custom view overwrites

// navigation 

 .uw-site-footer--global{
    font-size: modular-scale(-2);
    font-weight:$weight-regular;
    .global-menu li a {
      font-family: $condensed-font-family;
      text-transform:uppercase;
      padding:1rem 0.25rem;
      display:block;
      text-decoration:none;
      @include media ($xsmall-screen){
         font-size: modular-scale(-2);
         padding:0.17rem;
      }
      @include media ($medium-screen){
        font-size: modular-scale(-1);
        padding:0rem 0;
      }
      &:hover{
        color:$yellow-dark;
         text-decoration:underline;
        }
      }
  }
  .uw-header--nav__university{
    .global-menu li a {
    font-family: $condensed-font-family;
    text-transform:uppercase;
    font-size: modular-scale(-1);
    text-decoration:none;
    &:hover{
      // color:$yellow-dark;
       text-decoration:underline;
      }
    }
  }


//module overwrites
 div.uw-site-footer1--logo-dept{
 text-transform:uppercase;
 font-weight:$weight-bold;
 font-family:$condensed-font-family !important;
 color:#fff;
 // line-height:3.5rem;
 font-size: modular-scale(3);
}
  .uw-site-footer2{ 
      #site-footer &{
      color:$white;      
      h2,h3,h4,h5,h6,p{
        color:$white;
        a{
          color:$white;
          img{
            border:none;
            outline:none;
          }
       }
      }
      a{
        color:$white;
        &.local-ist{
          font-family: $condensed-font-family;
          font-size: modular-scale(-1);
          padding:0.25rem;
          display:block;
          @include media ($xsmall-screen){
           font-size: modular-scale(-2);
            padding:0.15rem 0.25rem;
          }
          @include media ($medium-screen){
            font-size: modular-scale(-1);
          }
          text-decoration:none;
          &:hover{
            color:$yellow-dark;
            text-decoration:underline;
          }  
        }
        #site-footer &{ 
         color:$white;
         font-weight:$weight-regular;
         font-size: modular-scale(-1);
         text-decoration:underline;
         &:hover{
            text-decoration:none;
           }
          img{
            border:none;
            outline:none;
          }
        }
      } 
    } 
   }    
    
  

.view-opportunities{
  br{
    display:none;
  }
  strong{
      font-size: modular-scale(1);
      font-weight:$weight-bold;
      font-family:$condensed-font-family; 
  }
  .views-field-field-opportunity-type{
    span{
      font-size: modular-scale(-2);
      font-family:$condensed-font-family; 
      font-weight:$weight-bold;
      color:$gray;

    }
  }    
}

// *{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//     &:hover{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//   }
// }


 label{
  .views-exposed-form  &{
     font-size: modular-scale(-1);
     font-weight:$weight-regular;
    .logged-in &{
       font-size: modular-scale(-1);
       font-weight:$weight-regular;
      }
    }
 }
table{
   line-height:1.4;
   font-size: modular-scale(-1);
   p,b{
     line-height:1.4;
      font-size: modular-scale(-1);
   }
  td &{
  line-height:1.4;
  font-size: modular-scale(-1);
  }
}
a{
  @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
  &:hover{
    @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
  }
}
 .types {
   line-height: 1;
  
      li{
        font-size: modular-scale(-2);
        font-weight:$weight-bold;
        font-family:$condensed-font-family;
        text-decoration:none;
        text-transform:uppercase;
        display:inline;
        line-height: 1;
        padding-left: 0;

      }
    }

// jquery theme ui.
.ui-widget {
  font-size: modular-scale(-1);
  line-height:1;
  font-weight:$weight-light;
  font-family:$base-font-family;
  .ui-widget & {
    font-size: modular-scale(-1);
    input,select,textarea,button{
      font-size: modular-scale(-1);
      line-height:$base-line-height;
      font-weight:$weight-light;
      font-family:$base-font-family;
      }
    }
    input,select,textarea,button{
      font-size: modular-scale(-1);
      line-height:$base-line-height;
      font-weight:$weight-light;
      font-family:$base-font-family;
    }
  
}
.ui-autocomplete-field-title {
   font-size: modular-scale(0);
    font-weight:$weight-regular;
    font-family:$base-font-family;
    color:$dark-gray;
    .ui-autocomplete-field-term {
       color:$uw-black;
    }
}
.ui-autocomplete-field-term {
   font-size: modular-scale(0);
    font-weight:$weight-regular;
  font-family:$base-font-family;
  color:$uw-black;
}


