// .view .event {border-bottom: solid 1px #ddd; margin-bottom: 1em;}
//
.node-type-uw-event{
  .field{
    &_event_date,
    &-name-field-news-date{
      width:100%;
      background-color:$neutral;
      
    }
    &-items{
      padding:0.75rem 0.5rem ;
    }
    &-data {
        padding:0.75rem 0.5rem ;
        // margin-bottom: 0.5rem;
      }
    &-item{
      .date-display-single{

      }
    }
  }
}


.view{
 &.view-events-responsive{

      img[typeof="foaf:Image"]{
         float:left;
         margin-right:1rem;
         width:8rem;
      }

     .views-exposed-form {
       @extend %ct_box;
       min-height:inherit;
      @include clearfix();
      .views-exposed-widgets{
        @include span-columns(12);
        .views-exposed-widget {

          // &:nth-child(1){
          //   border-width:1px 0px 1px 1px;
          // }
          // &:nth-child(2){
          //     border-width:1px 0px 1px 0px;
          // }
          // &:nth-child(3){
          //     border-width:1px 1px 1px 0px;
          // }
          // &:nth-child(4){
          //     border-width:0 0 0 0px;
          // }


          @include span-columns(12 of 12);
          @include media($xsmall-screen){
            @include span-columns(4 of 12);
             &:nth-child(3){
              @include omega();
             }
            &:last-child{
                  @include span-columns(6 of 12);
                  @include shift(3);
              }

          }
          @include media($small-screen){
              
          }
          @include media($small-screen){
            @include span-columns(3 of 12);
              &:last-child{
                  @include span-columns(3 of 12);
                   @include shift(0);
                ;
              }
          }
           @include media($large-screen){
          
          }
      
        &.views-submit-button{
          padding-right:0;
          .form-submit{
            max-width:100%;
          &.progress-disabled{  
            position:relative;
            height: 100%;
         }
        }
        }
      }
    }  
  }
  .view-content{
         .views-row{ 
          .event-summary{
              position:relative;
            } 
          @extend %ct_box;
          // @include multiline-ellipsis(12rem ,1.5, 1px);
          clear: both; 
           &:first-child{
             @include span-columns(12 of 12);
             margin-top:0;
             margin-bottom:0.75rem;
             min-height:inherit;
          }
        @include media($xsmall-screen) {
          @include span-columns(12 of 12);
        }
        @include media($small-screen) {
           clear:inherit; 
           @include span-columns(6 of 12);
        }
        @include media($medium-screen) {
           clear:both; 
          @include span-columns(8 of 8);
        }
        @include media($large-screen) {
          clear:inherit; 
          @include span-columns(4.5 of 9);
        }
        &-first{
            
        }
        &-even{
           &.views-row-last{
            margin-right:2.4%;
          }
        }

        &-odd{
           @include omega();// @include omega();
          &.views-row-last{
            // margin:inherit;
          }
        }
        &:nth-child(3){
           @include omega();
        }
        &-last{
         
        }
      }
    }

  }

} 
// .field-label-inline {
//       display: inline-block;
// }
.event-content {
    @include span-columns(9 of 9);
    .field_event_date{
      .field-data{
        // margin-bottom: 1em;
      &.multiple {
        // font-size: 1em;
        margin:0 0 1rem 0;
        @extend %ct_box; 
        min-height:inherit; 
        .field-item{
           display:block;
           padding:0.4rem;
           

          &:nth-child(even){
         

          }
          &:nth-child(odd){
            background:#f2f2f2;
          }
         }
        }
      }
      .date-display-end {
        white-space: nowrap;
      }
    }
    .field_event_location{
      .address-content {
        margin-top: 0.5rem;
      }
    }

   .details{
    border-top: solid 1px #ddd; 
    margin-top: 0.5rem;
     @include span-columns(12 of 12);
      .field_event_host_link,
      .field_event_moreinfo_link,
      .field_event_cost,
      .field_event_map_link{
        @include media($xsmall-screen) {
          @include span-columns(9 of 9);
        }
        @include media($small-screen) {
           @include span-columns(9 of 9);
        }
        @include media($medium-screen) {
          @include span-columns(4.5 of 9);
        }
        @include media($large-screen) {
          @include span-columns(4.5 of 9);
        }   
        .field-label{
          font-weight: normal; 
          font-style: italic; 
          color: #555;
        }
        .field-data{
          .location {
            .adr{
              margin-left: 8rem; margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
}
  



.node-type-uw-event .uw-site--title {
  position:relative;
  h1{
     position:relative;
     padding-right:2rem;
    a.individual-event-ical {
     position:absolute;
     right:0rem;
      top:-1rem;
     @include media($xsmall-screen){
        top:-0.8rem;
     }
     @include media($medium-screen){
         top:-0.2rem;
     }
    @include media($large-screen){
        top:0rem;
     }
     &:after{
       position:absolute;
       right:0rem;
       top:0rem;
       font-family:$fdsu-icon-font;
       display:inline-block;
       width:3rem;
       height:2rem;
        content:$fdsu-ical;
        color:$uw-black;
        text-rendering: auto;
        @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
      font-size: modular-scale(8);
        @include media($xsmall-screen){
          font-size: modular-scale(10);
        }
       display:block;
       float:left;
       text-rendering: auto;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;

      }
      &:hover{
            &:after{
              color:$gray;
                @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));

            }
       }

    img{
      opacity:0;
      position:relative;
      width:3rem;
      height:2rem;
      right:0.7rem;
      top:0.5rem;
      z-index:2;
      }
    }
  
  }

}
// /*event calendar view*/
.view-events-with-calendar .attachment {margin-top: 1.5rem;}

