$highlighted-fact-bg-color:$light-gray;
$highlighted-fact-color:$uw-gray;

//faculty / uw colors



$faculty-colors: (
  '.uwdefault':#757575, 
  '.ahs':#009AA6,
  '.arts':#E98300,
  '.engineering':#57068C,
  '.environment':#747800,
  '.math':#E0249A,
  '.science':#0073CF
);
@function faculty-color($key: $value) {
  @return map-get($faculty-colors, $key);
}



// $highlighted-fact-color: faculty-color('.math'); // #8e3329

//fonts
$highlighted-fact-font:$base-font-family;
$highlighted-fact-font-big:$condensed-font-family;
$highlighted-fact-font-medium:$heading-font-family;
$highlighted-fact-font-small:$highlighted-fact-font;
$highlighted-fact-font-caption:$serif-font-family;

//appearance
$global-radius: 3px;
$global-rounded: 1000px;
$highlighted-fact-radius: $global-radius;
$highlighted-fact-round:$global-rounded;


// $highlighted-fact-color: faculty-color('.math'); // #8e3329
$highlighted-fact-color-tinted: mix(white, $highlighted-fact-color, 10%); 
$highlighted-fact-color-shaded: mix(black, $highlighted-fact-color, 10%); 

//ul 
.highlighted-fact-wrapper{
  width:100%;
  display:block;
  float:left;
  height:auto;
  margin:0;
  position:relative;
  list-style-type:none;
  clear:both;
  
  .uwm-article-body &{ padding:0; 

  }
}


%highlighted-fact {

  text-align:center;
  font-weight:300;
  border-radius: $highlighted-fact-radius + 10;
  @include align-content(center); // start|end|center|baseline|stretch
  @include align-items(center); // start|end|center|baseline|stretch
  @include display(flex);
  @include flex-direction(column); // row | row-reverse | column | column-reverse
  @include justify-content(center);
  @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
  @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
  @include box-pack(center);// start|end|center|justify
  @include box-lines(multiple);// single|multiple    
  padding: 1rem;
  position:relative;

  img{
    margin:0 auto;
    margin-bottom: 1rem;
    display:block;
    height: 6rem;
    width: auto;
   
  }
  &.no-icon {
    span{
      &:first-child{
        // padding-top:5rem;
      }
    }
  }
  span{
    text-align:center;
    clear:both;
    float:none;

  }
}


.highlighted-fact-tall{
  border-top:1px solid $gray;
  color:$gray;
  padding-top:3rem;
  span{}
  @include media($medium-screen) {
   padding-left:1.5rem;
   border-top:1px solid $white;
   border-left:1px solid $gray;
  }

}

.highlighted-fact{
  @extend %highlighted-fact;
  background-color:$highlighted-fact-bg-color;
    $highlighted-fact-color: faculty-color('.uwdefault'); 
    .highlighted-fact-text-big,.highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  .ahs &,
  &.ahs{ 
    $highlighted-fact-color: faculty-color('.ahs'); 
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .arts &,
  &.arts{$highlighted-fact-color: faculty-color('.arts');  
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .engineering &,
  &.engineering{ $highlighted-fact-color: faculty-color('.engineering'); 
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .environment &,
  &.environment{$highlighted-fact-color: faculty-color('.environment');  
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .math &,
  &.math{$highlighted-fact-color: faculty-color('.math');  
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .science &,
  &.science{ $highlighted-fact-color: faculty-color('.science'); 
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  
  
  img{
  }
  .highlighted-fact-wrapper &{ 
   
  }
  .text-left &,
  &.text-left{
    img{
      float:left;
      clear:both;
    }
     span{
      text-align:left;
      clear:left;
    } 
  }
  .text-center &,
  &.text-center{
    span{
    text-align:center;
    clear:both;
   }
  }
 .text-right &,
  &.text-right{
    img{
      margin:0;
      float:right;
      clear:both;
    }
    span{
     text-align:right;
      clear:right;
    }
  }
  &.img-left{
   img{
      float:left;
    }
     span{
      text-align:left;
      clear:none;
    }
  }
  &.img-right{
   img{
      float:right; 
    }
     span{
      text-align:right;
      clear:none;
    }
  }
}



.highlighted-fact-text-big{
  font-family:$highlighted-fact-font-big;
  font-size: modular-scale(13);
  font-weight:600;
  line-height:1.2;
  hyphens: none;
  @include flex(0 0 auto);

}
.highlighted-fact-text-medium{
  font-family:$highlighted-fact-font-medium;
  font-size: modular-scale(3);
  font-weight:300;
  color:$uw-gray;
  line-height:1.2;
  padding: 0.25rem 0rem;
  hyphens: none;
  @include flex(0 0 auto);
}
.highlighted-fact-text-small{
  font-family:$highlighted-fact-font-medium;
  font-size: modular-scale(0);
  line-height:1.25;
  color:$uw-gray;
  padding: 0.25rem 0rem;
  hyphens: none;
  @include flex(0 0 auto);

}
.highlighted-fact-caption{
  p{
    font-family:$highlighted-fact-font;
    line-height:1.2;
    font-size: modular-scale(-1);
  }
  font-family:$highlighted-fact-font;
  line-height:1.2;
  font-size: modular-scale(-1);
  color:$gray;
  font-style:italic;
  padding: 0.25rem 0rem;
  hyphens: none;
  @include flex(0 0 auto);

}

