   
    .highlighted-fact{
		margin-right:5px;
		margin-left:5px;
		min-height:20rem;
		max-height:30rem;
 
		
	}
	.owl-wrapper-outer{

	}
	.owl-wrapper{
		padding:2rem 0;
	}
	.owl-item{
		position:relative;

		&:first-child{
			margin-left:0;
		}
		&:nth-child(odd){
			&::after{
				margin-left: -12px;
			    top: -24px;
			    left: 50%;
			    position: absolute;
			    width: 0;
			    height: 0;
			    content: '';
			    z-index: 2;
			    border-bottom: 1.5em solid #f1f1f1;
			    border-left: 1em solid transparent;
			    border-right: 1em solid transparent;
			}
		}
		&:nth-child(even){
			&::after{
		 	margin-left: -12px;
		    bottom: -24px;
		    left: 50%;
		    position: absolute;
		    width: 0;
		    height: 0;
		    content: '';
		    z-index: 2;
		    border-top: 1.5em solid #f1f1f1;
		    border-left: 1em solid transparent;
	      	border-right: 1em solid transparent;
			}
		}
	}


	