.uw-site--banner{
  position: relative;
}
.banner{
  &-item{
    overflow:hidden;
    img {
    }
    text-align:center;
    height:auto;
    background-repeat:no-repeat;
    // background-size:cover;
    // overflow:hidden;
    @include media($xsmall-screen) {

    }
    @include media($small-screen) {
     
    }
    @include media($medium-screen) {

    }
    @include media($large-screen) {
    // height:40.563rem;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  &-text{
    @include align-items(center); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(center);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(center);// start|end|center|justify
    @include box-lines(multiple);// single|multiple       
    position:relative;
    background-color:$uw-black;
    z-index:map-get($zindex, header);
    bottom: 0.3rem;
    margin:0;
    padding:0;
    width:100%;
    .highlight{
     @include flex(0 0 90%);
      h2{
          
       }
    }
    @include media($xsmall-screen){
       @include flex(0 0 80%);
    }
    @include media($small-screen){
      position:relative;
      background-color:rgba(0,0,0,0.9);
    }
    
    @include media($medium-screen){
      position:absolute;
      .highlight{
       @include flex(0 0 72%);
      }
     
      background-color:rgba(0,0,0,0.75);
    }
    @include media($large-screen){
      .highlight{
       @include flex(0 0 70%);
      }
      position:absolute;
      background-color:rgba(0,0,0,0.6);
    }
    @include media(rem(1440)){
        .highlight{
         @include flex(0 0 60%);
        }
        padding:1rem 2rem;
        bottom: 0.3rem;
    }
    @include media(rem(1680)){
          .highlight{
         @include flex(0 0 50%);
        }
    }
    
  }
  &-chevron-overlay{
      position:absolute;
      z-index:map-get($zindex, header);
      background-image:url('../images/chevron-large.png');
      background-image:url('../images/chevron-large.svg');
      background-repeat:no-repeat;
      background-size:contain;
      height:10rem;
      width:9rem;
      top:30%;
      left:4%;
     @include media($xsmall-screen){
      height:15rem;
      width:14rem;
     }
    @include media($small-screen){
     
     }
    @include media($medium-screen){
      height:10rem;
      width:11rem;
      top:40%;
      left:8%;
     }
     @include media($large-screen){
      height:15rem;
      width:16.6rem;
      top:40%;
      left:8%;
     }
  }
  &-border-overlay{
    position: absolute;
    top: 0;
    bottom: 2.6%;
    left: 0;
    right: 0;
    background-image: url("../images/hero-border.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    z-index:map-get($zindex, header);
  }
}
