  .view-opportunities{
      h2{
          padding-right:3rem;
         @include media($small-screen) {
           padding-right:1.5rem;
          }
        a{
          &:hover{
            text-decoration:underline;
          }
        }
      }
      img[typeof="foaf:Image"]{
                 float:left;
                 padding-right:1rem;
        }

    .views-field-field-opportunity-type,
    .views-field-field-applicaton-deadline,
    .views-field-field-number-of-positions{
     

    }
    .views-field-field-opportunity-type{
      position:absolute;
      right:0.8rem;
      top:0.8rem;
      background:#F7F7F7;
      padding:0 0.5rem 0.3rem 0.5rem;
      text-transform:uppercase;
      display:block;

    }
    .views-field-field-number-of-positions,
    .views-field-field-applicaton-deadline{
      display:none;
    }
    > div{
        
        span {
          a{
            display:block;
            width:100%;
          }
        }

    }
    span{
        strong{
           text-transform:uppercase;
           font-weight:$weight-regular;
           font-size: modular-scale(-1);
          // display:none;
          &.views-label-field-opportunity-type{
            display:none;
          }
        }
      }
   .view-content{
        .field-label {
              display: none;
            }
         .views-row{
           position:relative;
         @extend %ct_box;
          min-height:inherit;
          @include media($xsmall-screen) {
            @include span-columns(12 of 12);
          }
          @include media($small-screen) {
             @include span-columns(6 of 12);
          }
          @include media($medium-screen) {
            @include span-columns(8 of 8);
          }
          @include media($large-screen) {
            @include span-columns(4.5 of 9);
          }
          &-first{
              
          }
          &-even{
            @include omega();
          }
          &-odd{
            &.views-row-last{
              margin:inherit;
            }
          }
          &-last{
             // @include omega-reset(1n);
          }
        }
      }
    }
