// #{$all-button-inputs},
// button {
//   @include appearance(none);
//   -webkit-font-smoothing: antialiased;
//   background-color: $action-color;
//   border-radius: $base-border-radius;
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   font-family: inherit;
//   font-size: $base-font-size;
//   font-weight: 600;
//   line-height: 1;
//   text-decoration: none;
//   user-select: none;
//   vertical-align: middle;
//   white-space: nowrap;
//   margin:0;
//   overflow:visible;

//   &:hover,
//   &:focus {
//     background-color: darken($action-color, 15%);
//     color: #fff;
//   }

//   &:disabled {
//     cursor: not-allowed;
//     opacity: 0.5;
//   }
// }

/* Previous/next button styling */
// .view .date-nav-wrapper .date-prev {left: inherit;}
// div#calendar_block{width: 12.5rem; }
