/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties: 
  org_default $uw-default $uw-default $uw-default url('../images/fdsu/chevrons-yellow.png') , 
  org_ahs $uw-ahs lighten($uw-ahs,8%) darken($uw-ahs,5%) url('../images/fdsu/chevrons-teal.png'),
  org_art $uw-arts lighten($uw-arts,8%) darken($uw-arts,5%)url('../images/fdsu/chevrons-orange.png'),
  org_eng $uw-engineering  lighten($uw-engineering,0%) darken($uw-engineering,5%) url('../images/fdsu/chevrons-purple.png'),
  org_env $uw-environment lighten($uw-environment,15%)  darken($uw-environment,5%) url('../images/fdsu/chevrons-green.png'),
  org_mat $uw-math lighten($uw-math,5%) darken($uw-math,5%) url('../images/fdsu/chevrons-pink.png'),
  org_sci $uw-science lighten($uw-science,0%) darken($uw-science,5%) url('../images/fdsu/chevrons-pink.png'),
  org_school $uw-school lighten($uw-school,0%) darken($uw-school,5%) url('../images/fdsu/chevrons-red.png') , 
  org_cgc $uw-cgc 000  darken($uw-cgc,5%) url('../images/fdsu/chevrons-cgc.png'),
  org_ren $uw-ren  #D2C295  darken($uw-ren,5%) url('../images/fdsu/chevrons-ren.png'),
  org_stj $uw-stj #01573E  darken($uw-stj,5%) url('../images/fdsu/chevrons-stj.png'),
  org_stp $uw-stp #584528  darken($uw-stp,5%) url('../images/fdsu/chevrons-stp.png');

 body{
  @each $faculty in $faculties {
   &.#{nth($faculty,1)} {
      a,
      .breadcrumb a,
      .pager li a,
      .uw-site-footer a,
      .uw-site-sidebar .quick-links a,
      .staff-contact h2 a{
        color: nth($faculty,2); 
        &:visited{}
        &:hover{}
        &:active{}    
      }
      .site-menu{
        a{
          border-right: solid 5px #fff;
          border-bottom: solid 1px #eee;
          &:hover{
            background-color: #eee;
            border-color: nth($faculty,3);
          }
          &.active{
           background-color: #eee;
           border-color: #eee;
           color: nth($faculty,2); 
           &:hover{
              background-color: #eee;
              border-color: nth($faculty,3);
            }
          }
        }
      }
      .uw-site--header{
        color: nth($faculty,2); 
      }
      hr,
      h2{
        border-color: nth($faculty,3); 
       }
      } 
      .uw-site-navigation h2{
        background-image:nth($faculty,5);
      }

    }
  } 