@charset "utf-8";
/* CSS Document */
/* This stylesheet controls the structure for support and faculty unit sites.*/

/*main container styles*/
h1 {text-transform: uppercase; margin: 0 0 .4em;}
h3 {color: #555; font-weight: bold;}
p {margin: 0 0 1em;}
a:link, a:visited {text-decoration:underline;}
a:hover {text-decoration:none;}

/*headers*/
#primary_header {padding-left: 10px;}
#logo img {width:127px; height:32px;}
#searchblock {margin-top:-35px; margin-right:0px;}
#siteheader {padding-left: 20px; margin-top:-2px; height: 147px; position: relative;}
  #sitename {position: absolute; top: 50%; margin-top: -23px;}

/*left column*/
#firstcolumn {float:left; width:220px; padding-right: 10px; min-height: 1px;}
  #firstcolumn h2, #firstcolumn h3 {color:#000; font-weight:bold; text-transform:uppercase; font-size: 1em; }
  #firstcolumn h3 {color:#666; margin-top:10px;}
  #firstcolumn li {list-style:none; margin: 0; padding: 0}
  #firstcolumn li a {text-decoration:none; font-weight:bold;}
  #firstcolumn li a:hover {text-decoration:underline;}

#audiencenav {font-size: .9em; padding: 43px 0px 10px 20px; background: url('../images/chevrons.png') no-repeat left top;}
#audiencenav li {margin: 1em 0}

/*main content container*/
#site {background-color: #fff;}
#main {
  color: #333;
  padding: 2px 0 0 0;
  float: left;
}
div.messages { margin-right: 1em;}
  #main > .w3d_right > .w3d_color {background-color: #fff;}
#main-float {float: left; width:770px; padding-left: 10px;}

/*page banner*/
#banner {width: 770px; background-color:#333; position:relative; margin-bottom: 10px;}
#banner .w3d_face {z-index: 500;}
.banner-title {
  position: absolute;
  top:0; right:0;
  font-size: 2em;
  font-weight:bold;
  background-color: #333;
  padding:2px 10px;
}
#main-float .banner-title a {border-bottom:none;}
.banner-image   {background-color:#333; line-height: 0px;}
.banner-caption {background-color:#333; color:#fff; padding: 3px 7px;}

/*main content area*/
#main-content {float: left; width: 500px; padding: 0 20px 10px 0;}

/*sidebar*/
#sidebar {
  float: left;
  width: 250px;
  font-size: .85em;
}
#sidebar .block {
  background-color:#fafafa;
  border: solid 1px #ccc;
  border-right: none;
  padding: 15px;
  margin-bottom: 1em;
}
#sidebar h2 { font-size: 1.2em; font-weight: bold; border-bottom: solid 1px #ccc; }
#sidebar h3 { font-size: 1.2em; }
#sidebar ul, #sidebar ol { margin: 0 0 0 1.5em; }
#sidebar li { margin: .3em 0; }
#sidebar .w3d_face {z-index:5;}

/*tables*/
table {margin: 1em 0;}
thead th {
  border-bottom: 3px solid #CCCCCC;
  padding-right: 1em;
  text-align: left;
}
th {
  background-color: #222222;
  border-bottom: 1px solid #FFFFFF;
  border-top: 4px solid #000000;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  padding: 5px 8px;
  text-transform: uppercase;
}
td {
  background: none repeat scroll 0 0 #EEEEEE;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid transparent;
  color: #000000;
  font-size: 0.9em;
  font-weight: normal;
  padding: 8px;
}
tr:hover td {
  background: none repeat scroll 0 0 #DDDDDD;
}

/*edit links*/
.editlink {text-align:right; font-size:0.8em;}
.editlink a:link, .editlink a:visited {text-align:right; text-decoration:none;}
.editlink a:hover{text-decoration:underline;}

#banner .editlink {
  position: absolute;
  right: 0; bottom: 25px;
  padding: 3px 7px;
  background-color:#222;
}

/*breadcrumb*/
.breadcrumb { padding:0 10px 0 0; font-weight: bold; margin-bottom: .5em; }
.breadcrumb a:link, .breadcrumb a:visited {text-decoration:none; font-weight:normal;}
.breadcrumb a:hover {text-decoration:underline;}

/*inner content styles*/
p.intro {
  color: #555555;
  font-size: 1.3em;
  margin: 0 0 10px;
}
p.fineprint {
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.4em;
}
#main-content .region ul, #main-content .region ol {margin: 0 0 1em 2em;}
dt {
  font-weight: bold;
}
dd {
  border-left: 2px solid #992233;
  margin-left: 8px;
  padding: 2px 4px;
}

/*footers*/
#fatfooter {
  background-color: #EEEEEE;
  border-top: 1px solid #AAAAAA;
  color:#333333;
  padding:5px 20px;
  margin-bottom:-15px;
  display:block;
}

/* images */
.image-left {float:left; margin: 0 1em 1em 0;}
.image-right {float: right; margin: 0 0 1em 1em;}
.image-center {display: block; margin: auto;}

/* div templates */
.half-column {float: left; width: 240px;}
.half-column.first {margin-right: 20px;}

/*blockquotes*/
blockquote {
  background: #f7f7f7;
  border-left: solid 1px #ddd;
  margin: 1em 0;
  padding: 1em 1em 1px;
  quotes:"\201C""\201D""\2018""\2019";
  position: relative;
}
blockquote:before, blockquote:after { color: #bbb; font-size: 4em; position: absolute; }
blockquote:before { content: open-quote; top: -.4em; left: -.1em; }
blockquote:after { content: close-quote; bottom: -.85em; right: -.1em; }

/*misc*/
.node-tabs {margin-top: 10px;}
#main-float .no-link-border a {border: none;}
/* hide videos when overlay is open */
html.overlay-open #main-content iframe {visibility: hidden;}
html.overlay-open .uw_video-embed {visibility: hidden;}
.submitted { color: #555; margin-bottom: .75em; padding-bottom: .25em; border-bottom: solid 1px #ccc; }
hr {border: dotted 1px #aaa; margin: 1em 0;}
.read-more-link {text-align: right;}

/*views*/
.view-content .views-row {clear:both; margin-bottom: 1em; }
