*:focus{outline: thin dotted;}
a:focus { outline: thin dotted; }


body {
  // @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: modular-scale(-2);
  line-height: $base-line-height;
  background-color:$body-bg-color;
  margin:0;
  padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$condensed-font-family;
  // font-size: $base-font-size;
  font-weight:$weight-regular;
  line-height: $heading-line-height;
  color:$base-header-color;
  margin: 0;
  padding:0;
}
h1{ color:$base-header-color;
   
    font-size: modular-scale(4);
    // text-transform: uppercase; 
    margin: 0 0 0.4rem;
  @include media($xsmall-screen) {
   
  }
  @include media($small-screen) {
  
  }
  @include media($medium-screen) {
   
  }
   @include media($large-screen) {
   
  }
}
h2{ 
  color:$base-header-color;
  font-weight:$weight-bold;
  margin-bottom: 0.8rem;
  padding-bottom: 1px;
  border-bottom: 1px solid $uw-gold;
  font-size: modular-scale(1);
  .org_default &{
    border-bottom: 1px solid $uw-gold !important;
  }
  &.no-border{ border: none;}
  .uw-site-sidebar &{
    .block-list &,
    .block-news &,
    &.tab-link{
      font-size: modular-scale(0);

    }
  }
  #site-sidebar  &  {
    button{
      font-size: modular-scale(0);
      font-weight: $weight-bold;
      }
    }
  @include media($xsmall-screen) {
   
  }
  @include media($small-screen) {

  }
  @include media($medium-screen) {
  
  }
  @include media($large-screen) {
   
  }
}
h3{
  color:$base-header-color; 
  margin-bottom: 0.8rem;
  font-size: modular-scale(1);
  font-weight:$weight-bold;
  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
   
  }
  @include media($medium-screen) {
  }
   @include media($large-screen) {
   
  }
}
h4{ 
  color:$black;
  margin-bottom: 0.9rem;
  font-size: modular-scale(1);
  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
   
  }
  @include media($medium-screen) {
  }
   @include media($large-screen) {
   
  }
}
h5{ 
  color:$black;
  margin-bottom: 0.9rem;
  font-size: modular-scale(1);
  @include media($xsmall-screen) {
    font-size: modular-scale(2);
  }
  @include media($small-screen) {
    font-size: modular-scale(4);
  }
  @include media($medium-screen) {
    font-size: modular-scale(5);
    }
}
h6{  
    color:$dark-gray;
    margin-bottom: 0.9rem;
  font-size: modular-scale(1);
  @include media($xsmall-screen) {
  }
  @include media($small-screen) {
   
  }
  @include media($medium-screen) {
  }
   @include media($large-screen) {
   
  }
}
p {
  margin: 0 0 1rem;
  line-height:modular-scale(2);
  font-weight:$weight-regular;
  .node-uw-web-form &{
    .field-name-field-contact-watiam-id &{
      font-size: 90%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      font-style: italic;
    }
  }
  
  a {
    &:link
    &:visited{
      color: $link-color;
      text-decoration: underline;
    }
    
    &:hover {
      color: lighten($action-color, 15%);
      text-decoration: none;
    }

    &:active,
    &:focus {
      // outline: none;
    }
  }
}
p.lead {
  margin: 0 0 $small-spacing;
  font-weight:$weight-regular;
  color:$black;
  text-align:center;
  font-size: modular-scale(1);
  line-height:modular-scale(3);
  @include media($small-screen) {

  }
}
.highlight{
  font-size: modular-scale(1);
  line-height:modular-scale(3);
  color:$gray;
}
.caption{
  margin-top: -1rem;
  border: solid 1px #ddd;
  padding: 0.5rem;
  font-size: modular-scale(-2);
  color:$dark-gray;
  .uw-site-sidebar &{
   font-size: modular-scale(0);
  }
}
a {
 
  color: $link-color;
  transition: color 0.1s linear;
  border-color:$link-color;
  
  &:visited{
     color:$dark-gray;
    
  }
  &:visited,
  &:link{
   
    text-decoration: underline;
  }
  &:focus,
  &:hover {
    color: darken($link-color, 15%);
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
  }
  .rss_link &{
    display: inline-block;
    background: url('../images/fdsu/rss.png') no-repeat;
    padding-left:  1.375rem;
    line-height: 1.125rem;
    margin-bottom: 0.625rem;
  }
  .site-menu &{

   font-size: modular-scale(-2);
  
  }
   .breadcrumb &{
     padding: 0;
     text-decoration: none;
     font-size: modular-scale(-3);
     &:hover{
      text-decoration: underline;
     }
   }
   .pager li &{
    &:active{
      color:$link-color;
    }
   }
   .staff-contact h2 &{
    &:visited{
      color:$link-color;
    }
  }
  #site-footer &{
    &:visited{
      color:$link-color;
    }
  }
  .site-menu li &{
    &:hover{
      border-color:$link-color;
    }

  }
  h2 & {
    text-decoration: none;
  }

}

hr {
  border: none;
  border-top: solid 2px #FCD450;
  margin-bottom: 1rem;
}

img,
picture {
  height: auto;
  width: auto;
  max-width: 100%;
  margin:0;
  &.block{
      display: block;
  &.space-bottom-like-column{
      margin-bottom:1.250rem;
    }  
  }
  &.wide {
    .space-bottom-like-column{
       margin-bottom:1.875rem;
    }
  } 
}
object{
  .uw-site--main-content &{
    max-width: 100%;
  }

}
address {
  margin-bottom: 1rem;
}
blockquote {
  background: #fff url('../images/fdsu/blockquote.png') no-repeat 0.5rem 0.5rem;
  margin: 0 0 1rem 0;
  padding: 1rem 3rem 0;
  color: #444;
  border: solid 1px #eee;
  clear: both;
}
blockquote.twitter-tweet {
  background-image: url('../images/fdsu/blockquote_twitter.png');
}
pre {
  white-space: pre-wrap;
}
caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: 0.5rem;
  font-style: italic;
}
.uw-site-footer--global{
  // font-size: modular-scale(-2);
}
